{% extends "shop/base.html" %}
{% block content %}

<div class="container">
  <div class='row'>
      <div class="col-12 ml-auto mr-auto">
          <h2 class="index-title-index text-center">비밀번호 변경</h2>
          <hr class="index-title-divider">
      </div>
  </div>
  <div class='row'>
    <div class='col-6 ml-auto text-right'>
        <a href="{% url 'accounts:home' %}"><button class='btn btn-outline-dark btn-sm'>마이페이지 홈 돌아가기</button></a>
    </div>
  </div>
  <hr class='mt-1'>



  <div class='row'>
      <div class='col-8  mx-auto'>
          <form method='post' action=''>{% csrf_token %}
            {{ form.as_p }}
          <span style='margin-bottom: 12px;'></span>
          <button type="submit" class='btn btn-block btn-dark'>변경 패스워드 저장</button>
          </form>
        </div>
  </div>
</div>
{% endblock %}
