{% extends "shop/base.html" %}


{% block content %}
<div class="container">
  <div class='row'>
      <div class="col-12 ml-auto mr-auto">
          <h2 class="index-title-index text-center">개인정보 변경</h2>
          <hr class="index-title-divider">
      </div>
  </div>
</div>  


<div class="container">
    <div class='row'>
        <div class='col-6 mx-auto'>
          <hr/>
          <form method='POST' action='{% if action_url %}{{ action_url }}{% endif %}'> {% csrf_token %}
              {% if next_url %}
              <input type='hidden' name='next' value='{{ next_url }}' />
              {% endif %}
            {{ form.as_p }}
            <label for="email">Email</label>
            <input type="text" id='email' class='form-control disabled' value="{{ request.user.email }}" disabled='disabled' />
            <span class='help-text'>* 이메일은 변경할 수 없습니다.</span><br/>
            <button type='submit' class='btn btn-dark btn-block my-3'>저장</button>
            
          </form>
          <a href="{% url 'password_change' %}"><button class='btn btn-outline-dark btn-block my-3'>비밀번호변경</button></a>
            
          </div>
    </div>
</div>


{% endblock %}