{% extends 'shop/base.html' %}

{% block header %}
<style>
.my-page-a {
    background-color: white;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
  }
  
.my-page-a:hover {
    background-color:#00000062;
    color: white;
  }
a:hover{
    text-decoration: none;
}
.my-page-icon {
    color:#423f3b;
    /* border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px; */
    transition: 0.3s;
  }
  
.my-page-icon:hover {
    color:white;
    /* color: white; */
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto">
            <h2 class="index-title-index text-center">MY PAGE</h2>
            <hr class="index-title-divider">
        </div>
    </div>
</div>  
<hr/>

<div class='container my-5'>
    <div class='row'>
        <div class='col-12 col-lg-8 mx-auto'>
            <div class='row'>
                <div class="col-12 p-0 m-0" >
                    <a class='' href="{% url 'orders:list' %}" style='color:black'>
                        <div class="my-page-a" role="alert" style='height:100%;width:100%;border:2px solid #423f3b;'>
                            <div class='text-center my-5'>
                                <span class='' style="font-size: 1.5em; color: #423f3b;">
                                    <i class="fas fa-truck fa-3x my-page-icon"></i>
                                </span>
                            </div>
                            <div class='text-center my-5'>
                                <p style='font-size:x-large;font-weight:bold;'>주문/배송</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col p-0 m-0" >
                    <a class="" href="{% url 'products:product_wish_list' %}" style='color:black'>
                        <div class="my-page-a" role="alert" style='height:100%;width:100%;border:2px solid #423f3b;'>
                            <div class='text-center my-5'>
                                <span class='' style="font-size: 1.5em; color: #423f3b;">
                                    <i class="fas fa-heart fa-3x my-page-icon"></i>
                                </span>
                            </div>
                            <div class='text-center my-5'>
                                <p style='font-size:x-large;font-weight:bold;'>관심리스트</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col p-0 m-0" >
                    <a class='' href="{% url 'points:home' %}" style='color:black'>
                        <div class="my-page-a" role="alert" style='height:100%;width:100%;border:2px solid #423f3b;'>
                            <div class='text-center my-5'>
                                <span class='' style="font-size: 1.5em; color: #423f3b;">
                                    <i class="fas fa-plus-circle fa-3x my-page-icon"></i>
                                </span>
                            </div>
                            <div class='text-center my-5'>
                                <p style='font-size:x-large;font-weight:bold;'>보유포인트</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            
        </div>
        <!-- <div class="col-6 col-lg-3 col-md-3 col-sm-6 p-0 m-0" >
            <a class='' href="{% url 'accounts:user-update' %}" style='color:black'>
                <div class="my-page-a" role="alert" style='height:100%;width:100%;border:2px solid #423f3b;'>
                    <div class='text-center my-5'>
                        <span class='' style="font-size: 1.5em; color: #423f3b;">
                            <i class="fas fa-user-circle fa-3x my-page-icon"></i>
                        </span>
                    </div>
                    <div class='text-center my-5'>
                        <p style='font-size:x-large;font-weight:bold;'>개인정보변경</p>
                    </div>
                </div>
            </a>
        </div> -->
        
    </div>
    <div class='row'>
        <div class='col-12 col-lg-8 mx-auto'>
            <div class='row'>
                <div class="col p-0 m-0" >
                    <a class='' href="{% url 'accounts:change_address' %}" style='color:black'>
                        <div class="my-page-a" role="alert" style='height:100%;width:100%;border:2px solid #423f3b;'>
                            <div class='text-center my-5'>
                                <span class='' style="font-size: 1.5em; color: #423f3b;">
                                    <i class="fas fa-user-circle fa-3x my-page-icon"></i>
                                </span>
                            </div>
                            <div class='text-center my-5'>
                                <p style='font-size:x-large;font-weight:bold;'>기본배송지 변경</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col p-0 m-0" >
                    <a class='' href="{% url 'accounts:card_home' %}" style='color:black'>
                        <div class="my-page-a" role="alert" style='height:100%;width:100%;border:2px solid #423f3b;'>
                            <div class='text-center my-5'>
                                <span class='' style="font-size: 1.5em; color: #423f3b;">
                                    <i class="far fa-credit-card fa-3x my-page-icon"></i>
                                </span>
                            </div>
                            <div class='text-center my-5'>
                                <p style='font-size:x-large;font-weight:bold;'>결제카드 설정</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col p-0 m-0" >
                    <a class='' href="{% url 'password_change' %}" style='color:black'>
                        <div class="my-page-a" role="alert" style='height:100%;width:100%;border:2px solid #423f3b;'>
                            <div class='text-center my-5'>
                                <span class='' style="font-size: 1.5em; color: #423f3b;">
                                    <i class="fas fa-unlock-alt fa-3x my-page-icon"></i>
                                </span>
                            </div>
                            <div class='text-center my-5'>
                                <p style='font-size:x-large;font-weight:bold;'>비밀번호 변경</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

        

        <!-- <div class="col-6 col-lg-3 col-md-3 col-sm-6 p-0 m-0" >
            <a class='' href="" style='color:black'>
                <div class="my-page-a" role="alert" style='height:100%;width:100%;border:2px solid #423f3b;'>
                    <div class='text-center my-5'>
                        <span class='' style="font-size: 1.5em; color: #423f3b;">
                            <i class="far fa-hand-paper fa-3x my-page-icon"></i>
                        </span>
                    </div>
                    <div class='text-center my-5'>
                        <p style='font-size:large;font-weight:bold;'>구매결과</p>
                    </div>
                </div>
            </a>
        </div> -->

        

        <!-- <div class="col-6 col-lg-3 col-md-3 col-sm-6 p-0 m-0" >
            <a class='' href="{% url 'faq' %}" style='color:black'>
                <div class="my-page-a" role="alert" style='height:100%;width:100%;border:2px solid #423f3b;'>
                    <div class='text-center my-5'>
                        <span class='' style="font-size: 1.5em; color: #423f3b;">
                            <i class="far fa-question-circle fa-3x my-page-icon"></i>
                        </span>
                        
                    </div>
                    <div class='text-center my-5'>
                        <p style='font-size:large;font-weight:bold;'>F&Q</p>
                    </div>
                </div>
            </a>
        </div> -->
    <div class='row'>
        <div class='col-12 col-lg-8 mx-auto'>
            <div class='row'>
                <div class="col p-0 m-0" >
                    <a class='' href="{% url 'shop:introduction' %}" style='color:black'>
                        <div class="my-page-a" role="alert" style='height:100%;width:100%;border:2px solid #423f3b;'>
                            <div class='text-center my-5'>
                                <span class='' style="font-size: 1.5em; color: #423f3b;">
                                    <i class="fas fa-building fa-3x my-page-icon"></i>
                                </span>
                            </div>
                            <div class='text-center my-5'>
                                <p style='font-size:x-large;font-weight:bold;'>ABOUT MOUM8</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% if register_ticket_qs.count > 0 %}
                <div class="col p-0 m-0" >
                    <a class='' href="{% url 'accounts:send_register_ticket' %}" style='color:black'>
                        <div class="my-page-a" role="alert" style='height:100%;width:100%;border:2px solid #423f3b;'>
                            <div class='text-center my-5'>
                                <span class='' style="font-size: 1.5em; color: #423f3b;">
                                    <i class="fas fa-paper-plane fa-3x my-page-icon"></i>
                                </span>
                            </div>
                            <div class='text-center my-5'>
                                <p style='font-size:x-large;font-weight:bold;'>가입티켓 전송<br>(고객전용)</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>



<script>

var menuBoxes = document.getElementsByClassName('my-page-a');
for (var i = 0; i < menuBoxes.length; i++) {
    menuBoxes[i].onmouseover = function(e) {
        var color = '#'+Math.floor(Math.random()*16777215).toString(16);
        var colorString = '0px 0px 30px 0px ' + color;
        this.style['box-shadow'] = colorString;
        this.style['-webkit-box-shadow'] = colorString;
        this.style['-moz-box-shadow'] = colorString;
    }  
}
</script>

{% endblock %}