{% extends 'shop/base.html' %}

{% block content %}

<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto">
            <h2 class="index-title-index text-center">로그인</h2>
            <hr class="index-title-divider">
        </div>
    </div>
  </div>  

<div class='container'>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 mb-5 mx-auto">
            <div class="container">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class='col-12 pl-0 pr-3 text-left'>
                            <p class='mb-1' style='font-weight:bold;font-size:large;'></p>
                            <hr class='mt-0' style='border-top:2px solid #423f3b;height:5px;box-shadow: 0 10px 5px -10px #8c8c8c inset;'>
                        </div>
                        <div class='col mx-auto text-center'>
                            <span style="font-size: 1em; color: #423f3b;">
                                <i class="fas fa-user-circle fa-5x"></i>
                            </span>
                            <p class='mt-4' style='font-size:large;font-weight:bold;'>WELCOME TO MOUM8</p>
                        </div>
                        <div class='row' style='width:100%'>
                            <div class='col-8 mx-auto mb-4'>
                                <input class="form-control" type="text" name="username" required="" id="id_username" placeholder="USERNAME">
                            </div>

                            <div class='col-8 mx-auto mb-4'>
                                <input class="form-control" type="password" name="password" required="" id="id_password" placeholder="PASSWORD">
                            </div>
                        </div>
                        <div class='row' style='width:100%'>
                            <div class="col-8 ml-auto text-right">
                                <a href="#">비밀번호 찾기</a>
                            </div>
                        </div>
                            
                        <div class='col-12 pl-0 pr-3 text-left'>
                            <p class='mb-1' style='font-weight:bold;font-size:large;'></p>
                            <hr class='mt-0' style='border-top:2px solid #423f3b;height:5px;box-shadow: 0 10px 5px -10px #8c8c8c inset;'>
                        </div>
                    </div>
                    <div class='col-12'>
                        <button type='submit' class='btn btn-dark btn-block'>로그인</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}