{% extends 'shop/base.html' %}

{% block content %}
<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto">
            <h2 class="index-title-index text-center">회원가입</h2>
            <hr class="index-title-divider">
        </div>
    </div>
  </div>  
<div class="container">
        <div class='row mb-5'>
            <div class='col-12 mx-auto'>
                <p class='text-center' style='font-weight:bold;font-size:large;'>회원정보</p>
                {% if register_ticket_confirm %}
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-dark btn-block">가입신청완료</button>
                </form>
                {% else %}
                <p class='text-center'>가입티켓정보 제출 후에 가입이 가능합니다.</p>
                {% endif %}
            </div>
        </div>
    </form>

    <div class='col-12 px-5 rounded' style='background-color:#423F3B;'>
        <div class='col pt-4 pb-4 text-center'>
            <span style="font-size: 0.6em; color: #ffe5a9;">
                <i class="fas fa-user-alt fa-5x"></i>
            </span>
        </div>
        <div class="store-card-header">
            <p class='text-center' style='color:white;font-weight:bold;font-size:xx-large;'>로그인 안내</p>
        </div>
        <div class="info-card-description mb-5 text-left">
            <ul style='color:white;'>
                <p style='font-size:medium;color: #ffe5a9;'><bold>로그인은 이메일 인증이 완료된 사용자만 가능합니다.</bold> </p>
                <p style='font-size:medium;'>가입이 필요한 일반사용자는 6개월 60만원, 1년 100만원의 가입비를 지불하면 가입티켓을 받아 가입이 가능합니다.</p>

            </ul>
        </div>
        <hr class='mt-5' style='border-top: 1px dashed#ffe5a9;'>
    </div>
</div>



<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<!-- iamport.payment.js -->
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

<script>

$(document).ready(function(){
    // Auto Search
    
    var userCertiButton = $("#user-certi-button")
    
    userCertiButton.click(function (event){
        console.log("클릭됐쪄염")
        certification()
    })
    

});


function certification() {
// IMP.request_pay(param, callback) 호출
    var IMP = window.IMP;
    var code = "imp30832141";  // FIXME: 가맹점 식별코드
    IMP.init(code);
    
    console.log("본인인증 페이 실행도ㅣ쪄염")

      // IMP.certification(param, callback) 호출
  IMP.certification({ // param
    merchant_uid: "ORD20180131-0000011",
    name: '유태선',
    phone: '01079299901'


  }, function (rsp) { // callback
    if (rsp.success) {
      // jQuery로 HTTP 요청
      jQuery.ajax({
        url: "https://www.myservice.com/certifications", // 서비스 웹서버
        method: "POST",
        headers: { "Content-Type": "application/json" },
        data: { imp_uid: rsp.imp_uid }
      });
    } else {
        alert("인증에 실패하였습니다. 에러 내용: " +  rsp.error_msg);
    }
  });

};

</script>

{% endblock %}