{% extends 'shop/base.html' %}

{% block content %}
<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto">
            <h2 class="index-title-index text-center">가입성공</h2>
            <hr class="index-title-divider">
        </div>
    </div>
  </div>  

<div class='container'>
    <div class='row'>
        <div class='col-12 text-center'>
            <h3>가입이 신청되었습니다.</h3>
            <h3>입력하신 메일의 링크로 들어오시면 계정이 활성화 되어 MOUM8의 이용이 가능합니다.</h3>
        </div>
    </div>
    
</div>

{% endblock %}