{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto">
            <h2 class="index-title-index text-center">회원가입 티켓 보내기</h2>
            <hr class="index-title-divider">
        </div>
    </div>
    <div class='row'>
        <div class='col-6 ml-auto text-right'>
            <a href="{% url 'accounts:home' %}"><button class='btn btn-outline-dark btn-sm'>마이페이지 홈 돌아가기</button></a>
        </div>
    </div>
    <hr class='mt-1'>
</div>  
  
<div class="container">
    <div class='row'>
        <div class='col-12 col-lg-6 col-md-8 col-sm-12 mx-auto'>
            <form method='POST' action="{% url 'accounts:send_register_ticket_success' %}"> 
                {% csrf_token %}
                <div class='col-12 mb-3'>
                    <p>EMAIL</p>
                    <input class='form-control' type="email" name='email'>
                </div>
                <div class='col-12'>
                    <p>가입티켓선택</p>
                    <select class="custom-select col-12 form-control" id="inputGroupSelectAmount" name="ticket_number">
                        {% for obj in register_ticket_qs %}
                            <option value="{{ obj.ticket_number }}">{{ obj.ticket_number }}</option>
                        {% endfor %}
                    </select>

                </div>
                <div class='col-12'>
                    <button type='submit' class='btn btn-dark btn-block my-3'>가입티켓 보내기</button>
                </div>
            </form>
        </div>
        <div class='col-12 px-5 rounded' style='background-color:#423F3B;'>
            <div class='col pt-4 pb-4 text-center'>
                <span style="font-size: 0.6em; color: #ffe5a9;">
                    <i class="fas fa-user-alt fa-5x"></i>
                </span>
            </div>
            <div class="store-card-header">
                <p class='text-center' style='color:white;font-weight:bold;font-size:xx-large;'>가입티켓 보내기 안내</p>
            </div>
            <div class="info-card-description mb-5 text-left">
                <ul style='color:white;'>
                    <p style='font-size:medium;color: #ffe5a9;'><bold>가입티켓은 엄선된 회원들만 보낼 수 있는 기능입니다.</bold></p>
                    <p style='font-size:medium;color: white;'><bold>회원께서는 100매의 가입티켓을 보유하고 계시며 원하는 지인께 이메일로 가입티켓을 보낼 수 있습니다.</bold></p>
                    <p class='mb-0' style='font-size:medium;color: white;'><bold>한번 보낸 티켓은 다시 보낼 수 없습니다.</bold></p>
                    <p style='font-size:medium;color: white;'><small>※ 이메일 주소가 잘못되었을 시에는 보유하고 계신 다른 티켓으로 다시 보내주시기 바랍니다.</small></p>
                    <p style='font-size:medium;color: white;'><bold>MOUM8에 가입이 되어있는 회원의 이메일주소는 가입티켓이 송부되지 않습니다. (중복가입방지)</bold></p>
                    <p style='font-size:medium;color: white;'><bold>이메일로 보내지는 내용은 아래와 같습니다.</bold></p>
                    <hr style='border-top:1px dashed white;margin-bottom:40px;margin-top:40px;'>
                    <div class='col mx-auto text-center'>
                        <img src="{% static 'shop/register_ticket_mail_example2.jpg' %}" alt="가입티켓 이메일 예시" style='border:1px solid gray;width:100%;'>
                    </div>
                    
                    
                    <!-- <p style='font-size:medium;'>가입이 필요한 일반사용자는 6개월 60만원, 1년 100만원의 가입비를 지불하면 가입티켓을 받아 가입이 가능합니다.</p> -->
    
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}