{% extends 'shop/base.html' %}

{% block content %}
{% load static %}
<!-- 프로덕트 리스트 헤더 -->

<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto">
            <h2 class="index-title-index text-center">PRODUCT LIST</h2>
            <hr class="index-title-divider">
        </div>
    </div>
</div>  

<!-- 프로덕트 카테고리 선택바 -->
<div class='container-fluid sticky-top-2 text-center' style="background-color:white;padding:10px 5px 10px 5px;border-bottom:1px solid rgb(238, 238, 238);">
    <div class='container'>
        <div class="row">
            <div class='col-2 product-list-category' style='padding:0;'>
                <p class=""><bold>- Category -</bold></p>
            </div>
                <div class='col product-list-category' style='padding:0;'>
                <a href="{% url 'products:product_list' %}"><p class="product-list-category-text">전체</p></a>
            </div>
            <div class='col product-list-category' style='padding:0;'>
                <a href="{% url 'products:product_category_list' category='woman' %}"><p class="product-list-category-text">여성</p></a>
            </div>
            <div class='col product-list-category' style='padding:0;'>
                <a href="{% url 'products:product_category_list' category='men' %}"><p class="product-list-category-text">남성</p></a>
            </div>
            <div class='col product-list-category' style='padding:0;'>
                <a href="{% url 'products:product_category_list' category='shoes' %}"><p class="product-list-category-text">신발</p></a>
            </div>
            <div class='col product-list-category' style='padding:0;'>
                <a href="{% url 'products:product_category_list' category='acc' %}"><p class="product-list-category-text">패션잡화</p></a>
            </div>
            <div class='col product-list-category' style='padding:0;'>
                <a href="{% url 'products:product_category_list' category='kid' %}"><p class="product-list-category-text">유아동</p></a>
            </div>
        </div>
        {% if brands.exists %}

        <hr>
        <div class="row">
            <div class='col-2 product-list-category' style='padding:0;'>
                <p class=""><bold>- Brand -</bold></p>
            </div>
            {% for brand in brands %}
            <div class='col product-list-category' style='padding:0;'>
                <a href="{% url 'products:product_brand_list' brand=brand %}"><p class="product-list-category-text">{{ brand|upper }}</p></a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>   
</div>


<!-- 프로덕트 리스트-->

<div class='container' style="width:80%;">
    <div class='row'>
    {% for product in products %}
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="product-list-image">
                <picture>
                    {% if product.image %}
                    <!-- 아래의 slug주소도되고 주석처리한 pk로도 됨. -->
                    <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" class="product-main-image"></a>   
                    
                    {% else %}
                    <span class="text-muted">No Image</span>
                    {% endif %}

                {% if product.bidding %}
                <div class="row product-card__div product-card-on-bidding">
                {% else %}
                <div class="row product-card__div">
                {% endif %}
                    <div class='col-6 align-self-center'>
                        <span class="product-card__name">{{ product.brand }}</span></br>
                        <span class="product-card__name" style="font-weight:bold;font-size:20px;">{{ product.title }}</span></br>
                        <span class="product-card__price" style="font-weight:bold;font-size:15px;">₩{{ product.start_price }}</span>
                    </div>

                    <div class='col-6 ml-auto align-self-center product-card__bidding'>
                        {% if product.bidding %}
                        <p class="product-card__on-bidding text-right">On Bidding</p>
                        <p class="text-right">2hr 10min left</p>
                        
                        {% else %}
                        <p class="text-right">START BIDDING AT</p>
                        <p class="text-right">{{ product.bidding_date|date:"Y/m/d f" }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>    
</div>
{% endblock %}