{% extends 'shop/base.html' %}


{% block header %}
<style>
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
</style>
{% endblock %}

{% block content %}
{% load static %}
{% load humanize %}


<!-- <div class='row'>
    <div calss='col-12 col-md-6'>
        {% include 'products/snippets/update-cart.html' with product=product cart=cart %}
    </div>
</div> -->
<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto">
            {% if product_type == 'bidding' %}
            <h2 class="index-title-index text-center">AUCTION PRODUCT DETAIL</h2>
            {% else %}
            <h2 class="index-title-index text-center">PRODUCT DETAIL</h2>
            {% endif %}
            <hr class="index-title-divider">
        </div>
    </div>
</div>  

<hr>

<div class='container' style="padding-top:20px;">
    <div class='row'>
        <!-- 사진부분 -->
        <div class='col-lg-6 col-md-8 col-sm-12 mx-auto'style="padding-bottom:10px;">
            <picture>
                <img class="detail-image detail-image-main" src="{{ product_item.product.main_image.url }}" alt="메인사진" style="width:100%;height:100%;float:both;">
            </picture>
        </div>
        <!-- 설명부분 div1 -->
        <div class='col-lg-5 col-md-12 col-sm-12 ml-auto mt-5'> 
            <div style="width:100%;height:100%;">
                <!-- 상품정보 시작 -->
                <!-- 상품명 부분 -->
                <div class="product-detail-head">
                    <span class="product-detail-number" style='font-size:medium;'>{{ product_item.product.info_product_number }}</span>
                </div>
                <div class="product-detail-main">
                    <h1 class="product-detail-product-name" style='font-size:x-large;'>{{ product_item.product.title }}</h1>
                    <span class="product-detail-brand"  style='font-size:large;'>-{{ product_item.product.brand|upper }}-</span>
                </div>
                <!-- 가격 -->
                <div class='mb-2 mt-4'>
                    {% if product_type == 'bidding' %}
                    <div class='my-2'>
                        <span style="font-size:large;font-weight:bold;">경매 현재가격</span>
                        <p><span style="font-weight:bold;font-size:x-large;">{{ product_item.current_price|intcomma }} 원</span>
                        <span style='color:gray;'><del>{{ product_item.product.list_price|intcomma }} 원</del></span>
                        <span style='color:red;font-size:large;font-weight:bold;'>{{ product_item.sale_ratio|floatformat:"0" }} %</span></p>
                    </div>
                    {% else %}
                    <div class='my-2'>
                        <span style="font-size:large;font-weight:bold;">가격</span>
                        <p><span style="font-weight:bold;font-size:x-large;">{{ product_item.price|intcomma }} 원</span>
                        <span style='color:gray;'><del>₩ {{ product_item.product.list_price|intcomma }}</del></span>
                        <span style='color:red;font-size:large;font-weight:bold;'>{{ product_item.sale_ratio|floatformat:"0" }} %</span></p>
                    </div>
                    {% endif %}
                </div>
                <!-- 기타정보 -->
                <div class='mt-2 mb-4 '>
                    {% if is_stock %}
                    <p class='mb-0' style="font-size:medium;font-weight:bold;">재고 보유</p>
                        {% if product_item.info_delivery_from == 'overseas' %}
                        <p class='mb-2' style="font-size:small;color:gray;">7~8일 이내에 발송 가능한 상품입니다.</p>
                        {% elif product_item.info_delivery_from == 'domestic' %}
                        <p class='mb-2' style="font-size:small;color:gray;">1~2일 이내에 발송 가능한 상품입니다.</p>
                        {% endif %}
                    {% else %}
                    <p class='mb-2' style="font-size:medium;">재고 없음</p>
                    {% endif %}

                    <p class='mb-2' style="font-size:medium;">원산지 : {{ product_item.product.made_info_made_country }}</p>
                    <p class='mb-2' style="font-size:medium;">모델명 : {{ product_item.product.info_product_number }}</p>

                    <!-- <p class='mb-2' style="font-size:medium;">배송정보 : {{ product_item.product.info_delivery }</p> -->

                    <!-- {% if product_item.info_delivery_from == 'overseas' %
                    <p class='mb-2' style="font-size:large;">국내·해외배송 : {{ product_item.get_info_delivery_from_display }(7일이상 소요)</p>
                    {% elif product_item.info_delivery_from == 'domestic' %
                    <p class='mb-2' style="font-size:medium;">국내·해외배송 : {{ product_item.get_info_delivery_from_display }(당일 배송)</p>
                    {% endif % -->
                </div>
                <!-- 상품정보 끝 -->
                <hr>
                <!-- 구매버튼 조건문 -->
                {% if product_type == 'normal' %}
                    {% if user.is_authenticated %}
                        {% if is_stock %}
                        <div class='col p-0' style="margin-top:20px;">
                            <form method="post" action="{% url 'carts:update' %}" class='buy-form'>{% csrf_token %}
                                <input id="id_product_item" type="hidden" name="product_item_id" value="{{ product_item.id }}">
                                <input id="id_product_type" type="hidden" name="product_type" value="normal">

                                <!-- 사이즈옵션이 있는경우의 구매버튼 구성 -->
                                {% if product_item.option %}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend col-8 p-0">
                                        <input type='button' class="btn btn-block btn-outline-dark" value='사이즈 선택'></button>
                                    </div>
                                    <select class="custom-select col-4" id="inputGroupSelectOption" name="option">
                                        <option value="">---</option>
                                        {% for option in size_option %}
                                            <option value="{{ option.option }}">{{ option.option|floatformat:"0"  }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend col-8 p-0">
                                        <button class="btn btn-block btn-dark" type="submit">물품 구매</button>
                                    </div>
                                    <select class="custom-select col-4" id="inputGroupSelectAmount" name="amount">
                                        <option value="---">---</option>
                                    </select>
                                </div>

                                <!-- 사이즈 옵션이 없는 경우의 구매버튼 구성 -->
                                {% else %}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend col-8 p-0">
                                        <button class="btn btn-block btn-dark" type="submit">물품 구매</button>
                                    </div>
                                    <select class="custom-select col-4" id="inputGroupSelectAmount" name="amount">
                                        {% for amount in amount_select_list %}
                                            <option value="{{ amount }}">{{ amount }}EA</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                {% endif %}
                            </form>    
                        </div>
                        {% else %}
                        <div class='col-lg-12 col-md-12 col-sm-12 mx-auto'>
                            <button type="button" class="btn btn-outline-secondary btn-block" style="margin-top:20px;" title="재고없음">상시상품 재고없음</button></a>
                        </div>
                        {% endif %}
                    {% else %}
                    <div class='col-lg-12 col-md-12 col-sm-12 mx-auto'>
                        <button type="button" class="btn btn-outline-secondary btn-block" style="margin-top:20px;" title="로그린필요">로그인이 필요합니다</button></a>
                    </div>
                    {% endif %}
                {% endif %}
                <!-- 구매버튼 조건문 끝 -->
            </div>
        </div>
    </div>



    <!-- 경매 참여 현황 -->
    {% if product_type == 'bidding' %}
    <div class='row'>
        
        <div class='col-lg-6 col-md-6 col-sm-12 mx-auto'> 
            <p class="product-detail-bidding-header" style="font-weight:bold;font-size:medium;">-경매 현황-</p>
            {% if bidding_obj_up_to_10 %}
            <div class='row'>
                <div class='col-12'>
                    <table class="table table-hover text-center " style="font-size:small;">
                        <thead>
                        <tr>
                            <th scope="col">순위</th>
                            <th scope="col">ID</th>
                            <th scope="col">경매 참가액</th>
                            <th scope="col">경매 참여시간</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for bidding in bidding_obj_up_to_10 %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ bidding.user.username|slice:":2" }}*****</td>
                            <td>{{ bidding.bidding_price|intcomma }} 원</td>
                            <td>{{ bidding.timestamp|date:"Y-m-d H:i:s" }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <div class='row'>
                <div class='col-12'>
                    <table class="table table-hover text-center " style="font-weight:bold;font-size:small;">
                        <thead>
                        <tr>
                            <th scope="col">순위</th>
                            <th scope="col">ID</th>
                            <th scope="col">경매 참가액</th>
                            <th scope="col">경매 참여시각</th>
                        </tr>
                        </thead>
                    </table>
                    <div class='text-center'>
                        <span style="font-size: 1em; color: black;">
                            <i class="far fa-folder-open fa-4x"></i>
                        <p>No One Bidding...!</p>
                        </span>
                        
                    </div>
                    
                </div>
            </div>
            {% endif %}
        </div>
    <!-- 경매참여현황 끝 -->


    <!-- 경매 정보 -->
        <div class="col-lg-6 col-md-6 col-sm-12 ml-auto">
            <p class="product-detail-bidding-header" style="font-weight:bold;font-size:medium;">-경매 정보-</p>
            <table class="table table-striped table-bidding-info text-center align-middle">
                <thead class=>
                    <th class='align-middle' scope="col">경매 시작가격</th>
                    <th class='align-middle' scope="col">경매 현재가격</th>
                    <th class='align-middle' scope="col">경매 남은시간</th>
                    <th scope="col">경매금액 단위</th>
                    <th scope="col">물품 수량</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-middle table-bidding-info">{{ product_item.start_price|intcomma }} 원</td>
                        <td class="align-middle table-bidding-info"  style="font-size:large;font-weight:bold;color:red;">{{ product_item.current_price|intcomma }} 원</td>
                        <td class="align-middle table-bidding-info">{{ product_item.remain_bidding_time }}</td>
                        <td class="align-middle table-bidding-info">{{ product_item.price_step|intcomma }} 원</td>
                        <td class="align-middle table-bidding-info">{{ product_item.amount }}EA</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 경매 참여버튼 -->
    <!-- 경매 시작전 버튼설정 -->
    {% if bidding_on == 'bidding_ready' %}
    <div class='row'>
        <div class='col-lg-6 col-md-6 col-sm-12 mx-auto'>
            <button type="button" class="btn btn-outline-secondary btn-block" style="margin-top:20px;">경매 준비 중</button></a>
        </div>
    </div>
    <!-- 경매 중 버튼설정 -->
    {% elif bidding_on == 'bidding' %}
    <div class='row'>
        <div class='col-lg-6 col-md-6 col-sm-12 mx-auto'>
            <a href="{% url 'products:bidding_new' slug=product_item.slug %}"><button type="button" class="btn btn-outline-primary btn-block" style="margin-top:20px;">경매 참여</button></a>
        </div>
    </div>
    <!-- 경매 종료후 버튼설정 -->
    {% elif bidding_on == 'bidding_end' %}
    <div class='row'>
        <div class='col-lg-6 col-md-6 col-sm-12 mx-auto'>
            <a href="{% url 'products:bidding_result' slug=product_item.slug %}"><button type="button" class="btn btn-outline-success btn-block" style="margin-top:20px;">경매 결과확인</button></a>
        </div>
    </div>
    {% endif %}
    {% endif %}
    <hr>


    <!-- 물품 상세설명 -->
    <div class='row'>
        <div class="product-detail-description">
            <p class="product-detail-description-header"  style="font-weight:bold;font-size:medium;margin-bottom:8px;">-상품 상세설명-</p>
            <ul>
                <li>{{ product_item.product.description|linebreaks }}</li>
            </ul>
        </div>
    </div>    
    <!-- 물품 설명 끝 -->
    
    <!-- 물품 추가설명 -->
    {% if product_item.description %}
    <hr>
    <div class='row'>
        
        <div class="product-detail-description">
            
            <p class="product-detail-description-header"  style="font-weight:bold;font-size:medium;margin-bottom:8px;">-상품 추가설명-</p>
            <ul>
                <li>{{ product_item.description|linebreaks }}</li>
            </ul>
        </div>
    </div>
    {% endif %}
    <!-- 물품 추가설명 끝 -->
    
    
    <hr>

    <!-- 전자상거래 등에서의 상품정보제공 고시 -->
    <div class='row'>
        <div class='col-12'>
            <p class="product-detail-description-header"  style="font-weight:bold;font-size:medium;margin-bottom:8px;">-전자상거래에 관한 상품정보 제공-</p>
        </div>
        <div class='col-lg-5 col-md-5 col-sm-12 mx-auto'>
        
            <table class="table table-striped table-hover text-center " style="font-size:small;">
                <colgroup>
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 70%;">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">항목</th>
                        <th scope="col">내용</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>소재</td>
                        <td>{{ product_item.product.info_material }}</td>
                    </tr>
                    <tr>
                        <td>크기/치수/색상</td>
                        <td>{{ product_item.product.info_feature }}</td>
                    </tr>
                    <tr>
                        <td>제조자</td>
                        <td>{{ product_item.product.info_product_person }}</td>
                    </tr>
                    <tr>
                        <td>제조국</td>
                        <td>{{ product_item.product.info_made_country }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class='col-lg-5 col-md-5 col-sm-12 mx-auto'>

            <table class="table table-striped table-hover text-center " style="font-size:small;">
                <colgroup>
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 70%;">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">항목</th>
                        <th scope="col">내용</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>제조연월</td>
                        <td>{{ product_item.info_product_date }}</td>
                    </tr>
                    <tr>
                        <td>취급시 주의사항</td>
                        <td>{{ product_item.product.info_alert }}</td>
                    </tr>
                    <tr>
                        <td>품질보증기준</td>
                        <td>{{ product_item.product.info_quality_standard }}</td>
                    </tr>
                    <tr>
                        <td>A/S 책임자와 전화번호</td>
                        <td>{{ product_item.product.info_as }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class='row'>
        
    </div>


    <!-- 해외배송시 주의사항 문구 -->
    {% if product_item.info_delivery_from == 'overseas' %}
    <hr>
    <div class='col-12' style='background-color: #423F3B;'>
        <div class='col pt-4 pb-4 text-center'>
            <span style="font-size: 0.6em; color: #ffe5a9;">
                <i class="fas fa-exclamation-triangle fa-5x"></i>
            </span>
        </div>
        <div class='pb-3'>
            <p class='text-center' style='color:white;font-weight:normal;font-size:xx-large;'>구매전 주의사항</p>
            <p class='text-center' style='color:#ffe5a9;font-weight:normal;font-size:large;'>해당상품은 해외배송 상품입니다.</p>
            <p class='text-center' style='color:white;font-weight:normal;font-size:medium;'>관부가세, 배송비 포함/반품비용 발생</p>
        </div>
    </div>
    {% endif %}

    <hr/>

    <!-- 상세 그림 및 동영상 -->
    <div class="row">
        <div class='col-lg col-md col-sm-12'>
            <div class="detail-image-header">
                <p style="font-weight:bold;font-size:medium;margin-bottom:8px;">-DETAIL VIEW-</p>
            </div>

            <!-- 유튜브동영상 있으면.. -->
            {% if product_item.product.video_link %}
            <div class='col-12 text-center'>
                <div class="video-responsive">
                    <iframe width="420" height="315" src="{{ product_item.product.video_link }}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            {% endif %}
            <!-- 그림부분 맨 처음은 메인이미지. 그다음은 forloop로 돌리는 서브 데테일 이미지들-->
            {% for image in images %}
                {% if image %}
                <div class='col-lg-8 col-md-8 col-sm-12 mx-auto' style="padding:0px;">
                    <picture>
                        <img class="detail-image detail-image-sub" src="{{ image.url }}" alt="서브사진{{ forloop.counter }}" style="width:100%;height:100%;float:both;">
                    </picture>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>



    <!-- 배송관련 안내사항 시작-->
    <hr>
    <div class="row">
        <div class='col-12 px-5 rounded' style='background-color:#423F3B;'>
            <div class='col pt-4 pb-4 text-center'>
                <span style="font-size: 0.6em; color: #ffe5a9;">
                    <i class="fas fa-shopping-bag fa-5x"></i>                
                </span>
            </div>
            <div class="store-card-header">
                <p class='text-center' style='color:white;font-weight:bold;font-size:xx-large;'>ABOUT OUR PRODUCT</p>
            </div>
            <div class="info-card-description mb-5 text-left">
                <ul style='color:white;'>
                    <p style='font-size:medium;color:#ffe5a9;'><bold>모움은 관세청 인증의 병행수입통관업체입니다.</bold>  모움에서 판매하는 브랜드 상품은 대한민국 세관을 통과한 100% 정품입니다.<br>
                    판매자가 직접 이태리 현지에서 딜러 없이 수입하는 것으로, 직접 셀렉하는 것이기에 최고의 상품을 합리적인 가격으로 판매할 수 있도록 노력하고 있습니다. </p>
                    <p style='font-size:medium;color:#ffe5a9;'>고객님들께서 온라인에서 겪으실 우려가 있는 가품(위조상품)으로부터 안심하고 쇼핑하실 수 있도록 아래와 같이 노력하고 있습니다. </p>
                    <li><p style='font-size:medium;'><span class="company-text-black">첫 번째, 당사는 위조품 수출입, 유통 방지 위원회 'TIPA CAC'에 가입되어 있습니다.</span><br>
                        TIPA에서 실시하는 상품 및 물류 창고의 관리상태확인, 상품의 샘플감정을 주기적으로 진행하고 있으며 분기별 1회 이상 위조품 식별 및 유통예방교육을 받고 있습니다.</p></li>
                        <li><p style='font-size:medium;'><span class="company-text-black">두 번째, 위조품 의심, 상품 상담 및 신고를 받고 있습니다.</span><br>
                        당사는 신고 접수된 정보를 TIPA에 전달하고 TIPA는 해당 상표권자에게 해당 상품의 감정의뢰를 하여 정품 여부를 확인해드립니다. </p></li>
                        <li><p style='font-size:medium;'><span class="company-text-black">세 번째, 판매한 상품이 위조품으로 판명 시 300% 보상해드립니다.</span><br>    
                        당사는 SGI 서울보증보험에 가입되어 있으며 구매한 물품이 위조품으로 확인될 경우 가입된 보험에 따라 구매 금액의 300%를 보상해 드립니다.</p></li>
                </ul>
            </div>
            <hr class='mt-5' style='border-top: 1px dashed#ffe5a9;'>
        </div>
        
        <!-- 재고안내 -->
        <div class='col-12 px-5 rounded' style='background-color:#423F3B;'>
            <div class='col pt-4 pb-4 text-center'>
                <span style="font-size: 0.6em; color: #ffe5a9;">
                    <i class="fas fa-cubes fa-5x"></i>
                </span>
            </div>
            <div class="store-card-header">
                <p class='text-center' style='color:white;font-weight:bold;font-size:xx-large;'>재고안내</p>
            </div>
            <div class="info-card-description mb-5 text-left">
                <ul style='color:white;'>
                    <p style='font-size:medium;color: #ffe5a9;'><bold>명품의 특성상 일반 공산품처럼 수백개의 재고를 보유할 수 없으며 소량의 재고가 주기적으로 입고됩니다.</bold> </p>
                    <p style='font-size:medium;'>실재고 수량이 실시간으로 변하여 재고상황을 반영하기 위해 만전을 가하고 있으나, 불가피하게 조기 품절되는 경우가 발생할 수 있으며 이 경우 고객님들께 확인 연락(1차문자 안내)을 드리고 있습니다.</p>
                    <p style='font-size:medium;'>상기의사항 양해 부탁드립니다.</p> 
                </ul>
            </div>
            <hr class='mt-5' style='border-top: 1px dashed#ffe5a9;'>
        </div>

        <div class='col-12 px-5 rounded' style='background-color:#423F3B;'>
            <div class='col pt-4 pb-4 text-center'>
                <span style="font-size: 0.6em; color: #ffe5a9;">
                    <i class="fas fa-truck fa-5x"></i>
                </span>
            </div>
            <div class="store-card-header">
                <p class='text-center' style='color:white;font-weight:bold;font-size:xx-large;'>배송안내</p>
            </div>
            <div class="info-card-description mb-5 text-left">
                <ul style='color:white;'>
                    <p style='font-size:medium;color: #ffe5a9;'><bold>해외배송의 경우 배송기간은 7일 국내 배송은 1일입니다.</bold> </p>
                    <p style='font-size:medium;'>월요일은 주말주문 누적으로 인해 물량이 많아 배송이 지연될 수 있습니다.</p>
                    <p style='font-size:medium;'>일부 도서산간지역은 1-2일 정도 더 소요될 수 있습니다.</p>
                    <p style='font-size:small;'>* 택배사 사정으로 배송이 지연될 수 있으니 양해 바랍니다.</p>
                    
                </ul>
            </div>
            <hr class='mt-5' style='border-top: 1px dashed#ffe5a9;'>
        </div>

        <div class='col-12 px-5 rounded' style='background-color:#423F3B;'>
            <div class='col pt-4 pb-4 text-center'>
                <span style="font-size: 0.6em; color: #ffe5a9;">
                    <i class="fas fa-recycle fa-5x"></i>
                </span>
            </div>
            <div class="store-card-header">
                <p class='text-center' style='color:white;font-weight:bold;font-size:xx-large;'>교환반품</p>
            </div>
            <div class='row pt-5'>
                <div class='col-lg-6 col-sm-12'>
                    
                    <div class='row'>
                        <div class='col mb-5 text-center ml-auto'>
                            
                            <p class='text-center mb-2' style='font-size:x-large;color:white;'><bold>-교환반품 프로세스-</bold> </p><br>
                            <p class='my-2' style='font-size:medium;font-weight:bold;color: #ffe5a9;'>상품 수령후 24시간 내 훼손 불량 유무 변심여부를 판단</p>
                            
                            <span style="font-size: 1em; color:gray;">
                                <i class="fas fa-arrow-down fa-2x"></i>
                            </span>
                            
                            <p class='my-2' style='font-size:medium;font-weight:bold;color: #ffe5a9;'>고객 센터 031-945-8832를 통해 교환.반품 접수(24시간 내)</p>
                            <span style="font-size: 1em; color:gray;">
                                <i class="fas fa-arrow-down fa-2x"></i>
                            </span>
                            <br>
                            <p class='my-2' style='font-size:medium;font-weight:bold;color: #ffe5a9;'>우체국 택배 수거 후 7일 이내 MOUM 도착</p>
                            <span style="font-size: 1em; color: gray;">
                                <i class="fas fa-arrow-down fa-2x"></i>
                            </span>
                            
                            
                            <p class='my-2' style='font-size:medium;font-weight:bold;color: #ffe5a9;'>교환/반품 신청서 작성 후 상품 수령시 동일하게 보관</p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-6 col-sm-12 mb-5 info-card-description text-left">
                    <ul style='color:white;'>
                        <p class='text-center' style='font-size:x-large;color:white;'><bold>-교환반품 시 주의사항-</bold> </p><br>
                        <p style='font-size:medium;color: #ffe5a9;'><bold>구매하신 제품은 전자상거래, 소비자 보호에 관한 법률에 의거 수령일로부터 7일 이내에 미개봉 미사용 제품에 한하여 반품 및 환불을 요청하실 수 있습니다. 택을 제거한 상품은 기사용 상품으로 간주되어 교환 및 반품이 불가합니다. 기사용 상품의 하자는  A/S 처리됩니다.(A/S 내용 참고)</bold> </p>
                        <p style='font-size:medium;'>제품의 하자를 제외한 반품의 경우 우체국 택배 이용 왕복 택배비(10,000원) 동봉 후 발송 부탁드립니다. </p>
                        <p style='font-size:medium;'>우체국 택배가 아닌 타 백배사로 반송하여 제품이 분실될 경우 당사에서 보상해 드릴 수 없습니다. 제품 반송 시 고객님께서 수령하셨을 때와 동일한 상태로 반송해 주시길 바랍니다. 환불 소요 시간은 제품 입고 후 3일 영업일 이내이며 칻사와 사정에 의해 기간은 다소 변경될 수 있습니다. </p>
                    </ul>
                      
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- 배송관련 안내사항 끝 -->




{% block javascript %}
<!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{% static 'js/csrf.ajax.js' %}"></script> -->
<script>
$(document).ready(function(){
    // Auto Search
    
    var buyForm = $(".buy-form")
    
    console.log(buyForm)
    // var searchInput = searchForm.find("[name='q']") // input name='q'
    var optionSelect = buyForm.find("#inputGroupSelectOption")
    var amountList = buyForm.find("#inputGroupSelectAmount")

    // 사이즈가 바뀔경우
    optionSelect.change(function(){
        // alert("The text has been changed.");
        option = optionSelect.val()
        
        console.log(option)
        console.log("{{ product_type }}")
        
        // ajax 시작
        $.ajax({
            url: "{{ product_item.get_absolute_url }}",
            type: 'POST',
            dataType: 'json',
            data: {
                   post_purpose: "size_changed",
                   option: option
                },
            success: function(data){
                console.log("성공")
                
                console.log(data.amount_select_list)
                 
                amount_select_list = data.amount_select_list
                amount_value = data.amount_value
                var container = ''
                container = container + '<option value="{{ option.option }}">---</option>';
                if (amount_value > 0){
                    for(var i = 1; i <= amount_value; i++) {
                    console.log(i)
                    // container.append('<input id="id'+i+'" name="name'+i+'" />');
                    container = container + '<option value=' + i + '>' + i + '</option>';
                    }
                }

                // amount_select_list.each(function(i, value){
                //     console.log(value)
                //     container.append('<option value=' + value + '>' + value + '</option>');
                
                //     console.log(container)
                // })
                amountList.html(container);


                // var submitSpan = thisForm.find(".submit-span")
                // if (data.added){
                //     submitSpan.html("In cart<button type='submit' class='btn btn-link'>Remove?</button>")
                // } else {
                //     // submitSpan.html("<button class='btn btn-success'>Add?</button>")
                // }
            // var navbarCount = $(".navbar-cart-count")
            // navbarCount.text(data.cartItemCount)
            // var currentPath = window.location.href

            // if (currentPath.indexOf("cart") != -1){
            //     refreshCart()
            // }
            },
            error: function(errorData){
                console.log("대실패!!!!!!")
            // $.alert({
            //     title: "Oops!",
            //     content: "An error occurred",
            //     theme: "modern"
            // })
            }

        })
        // ajax 끝

    });
    
    // 버튼이 눌렸을 경우
    amountList.click(function(){
        var selectedText = sizeSelect.find(':selected').text();
        var selectedAmount = amountList.find(':selected').text();
        if (selectedAmount == '') {
            console.log(selectedText)
        }
    });


    //     var selectedText = sizeSelect.find(':selected').text();
    //     var selectedAmount = amountList.find(':selected').text();
    //     if (selectedAmount != '---'){
    //         console.log(selectedText)
    //         $.post(
    //         url : "{% url 'carts:update' %}",
    //         type: 'POST',
    //         dataType: 'json',
    //         data: {
    //             product_item_id: "{{ product_item.id }}",
    //             product_type: 'normal',
    //             size: selectedText,
    //             amount: selectedAmount,
    //             },
    //         success: function(data, status, xhr){
    //             //do something with your data
    //         }
    //         );
    //         return false;

    //         }; 
    // });
        
    


    // var productForm = $(".form-product-ajax") // #form-product-ajax

    // productForm.submit(function(event){
    // event.preventDefault()
    // // console.log("Form is not sending")
    // var thisForm = $(this)
    // // var actionEndpoint = thisForm.attr('action')  // API Endpoint
    // var actionEndpoint = thisForm.attr('data-endpoint')  // API Endpoint
    // var httpMethod = thisForm.attr('method')
    // var formData = thisForm.serialize()

    // $.ajax({
    //     url: actionEndpoint,
    //     method: httpMethod,
    //     data: formData,
    //     success: function(data){
    //     var submitSpan = thisForm.find(".submit-span")
    //     if (data.added){
    //         submitSpan.html("In cart<button type='submit' class='btn btn-link'>Remove?</button>")
    //     } else {
    //         submitSpan.html("<button class='btn btn-success'>Add?</button>")
    //     }
    //     var navbarCount = $(".navbar-cart-count")
    //     navbarCount.text(data.cartItemCount)
    //     var currentPath = window.location.href

    //     if (currentPath.indexOf("cart") != -1){
    //         refreshCart()
    //     }
    //     },
    //     error: function(errorData){
    //     $.alert({
    //         title: "Oops!",
    //         content: "An error occurred",
    //         theme: "modern"
    //     })
    //     }

    // })
    // })
});
</script>
{% endblock %}

</div>
{% endblock %}