<div class='col-2 product-list-category' style='padding:0;'>
        <a href="{% url 'products:product_list' 'woman' %}"><p class="product-list-category-text">여성의류</p></a>
    </div>
    <div class='col-2 product-list-category' style='padding:0;'>
        <a href="{% url 'products:product_list' 'man' %}"><p class="product-list-category-text">남성의류</p></a>
    </div>
    <div class='col-2 product-list-category' style='padding:0;'>
        <a href="{% url 'products:product_list' 'shoes' %}"><p class="product-list-category-text">신발</p></a>
    </div>
    <div class='col-2 product-list-category' style='padding:0;'>
        <a href="{% url 'products:product_list' 'fashion_accessory' %}"><p class="product-list-category-text">패션잡화</p></a>
    </div>
    <div class='col-2 product-list-category' style='padding:0;'>
        <a href="{% url 'products:product_list' 'kid' %}"><p class="product-list-category-text">유아동</p></a>
    </div>
</div>