{% extends 'shop/base.html' %}

{% block content %}
{% load static %}
{% load humanize %}
<div class="container">
  <div class='row'>
      <div class="col-12 ml-auto mr-auto">
          <h2 class="index-title-index text-center">STAFF PRODUCT ITEM(경매판매) LIST</h2>
          <hr class="index-title-divider">
      </div>
  </div>
</div>  

<div class='container my-2 py-2 px-4' style='min-height:300px;'>
    <div class='row'>
        <div class='col-4 ml-auto text-right'>
            <a href="{% url 'staff:home' %}"><button class='btn btn-outline-dark btn-sm'>스탭 홈 돌아가기</button></a>
                        
        </div>
    </div>
    <hr>
    <div class='row'>
        <div class='col-12 mx-auto'>
            <div class='col'>
                <table class="table table-bidding-info text-center align-middle">
                    <thead class=''>
                        <th class='align-middle' scope="col" style='font-size:x-small;'>사진</th>
                        <th class='align-middle' scope="col" style='font-size:x-small;'>상품번호</th>
                        <th class='align-middle' scope="col" style='font-size:x-small;'>상품명</th>
                        <th class='align-middle' scope="col" style='font-size:x-small;'>타입</th>

                        <th class='align-middle' scope="col" style='font-size:x-small;'>배송위치</th>
                        <th class='align-middle' scope="col" style='font-size:x-small;'>옵션유무</th>
                        <th class='align-middle' scope="col" style='font-size:x-small;'>수량</th>

                        <th class='align-middle' scope="col" style='font-size:x-small;'>경매시작가격</th>
                        <th class='align-middle' scope="col" style='font-size:x-small;'>경매종료가격</th>
                        <th class='align-middle' scope="col" style='font-size:x-small;'>경매가격스텝</th>
                        
                        <th class='align-middle' scope="col" style='font-size:x-small;'>경매시작일시</th>
                        <th class='align-middle' scope="col" style='font-size:x-small;'>경매종료일시</th>
                        
                        <th class='align-middle' scope="col" style='font-size:x-small;'>업로드날짜</th>
                        <th class='align-middle' scope="col" style='font-size:x-small;'>판매활성화</th>

                        <th class='align-middle' scope="col" style='font-size:x-small;'>수정</th>
                    </thead>
                    <tbody>
                        {% for product_item in product_items %}
                        <tr>
                            <td class="align-middle">
                                <img src="{{ product_item.product.main_image.url }}" style='max-width:100%;max-height:80px;height:auto;object-fit:cover;'>
                            </td>
                            <td class="align-middle" style='font-size:x-small;'>{{ product_item.product.number }}</td>
                            <td class="align-middle" style='font-size:x-small;'>{{ product_item.product.title }}</td>
                            <td class="align-middle" style='font-size:x-small;'>{{ product_item.product_type }}</td>

                            <td class="align-middle" style='font-size:x-small;'>{{ product_item.info_delivery_from }}</td>
                            <td class="align-middle" style='font-size:x-small;'>{{ product_item.option }}</td>
                            <td class="align-middle" style='font-size:x-small;'>{{ product_item.amount }}</td>
                             
                            <td class="align-middle" style='font-size:x-small;'>{{ product_item.start_price|intcomma }} 원</td>
                            <td class="align-middle" style='font-size:x-small;'>{{ product_item.price|intcomma }} 원</td>
                            <td class="align-middle" style='font-size:x-small;'>{{ product_item.price_step|intcomma }} 원</td>
                            
                            <td class="align-middle" style='font-size:x-small;'>{{ product_item.bidding_start_date|date:'Y-m-d H:i:s' }}</td>
                            <td class="align-middle" style='font-size:x-small;'>{{ product_item.bidding_end_date|date:'Y-m-d H:i:s' }}</td>

                            <td class="align-middle" style='font-size:x-small;'>{{ product_item.updated|date:'Y-m-d H:i:s' }}</td>
                            <td class="align-middle" style='font-size:x-small;'>{{ product_item.featured }}</td>

                            <td class="align-middle" style='font-size:x-small;'>
                                <a href="{% url 'staff:staff_product_item_bidding_edit' pk=product_item.pk %}">
                                    <button class='btn btn-outline-primary btn-sm'>정보수정</button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <hr class='mt-0' style='border-top:2px solid #423f3b;height:5px;box-shadow: 0 10px 5px -10px #8c8c8c inset;'>
            </div>
        </div>
    </div>
</div>



<!-- Pagination -->
<div class='row mt-5'>
    <div class='col-12'>
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" style='color:black'>PREVIOUS</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">PREVIOUS</a>
                    </li>
                {% endif %}
                
                {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="page-item active">
                    <a class="page-link" href="#" style='border-color:black;background-color:black'>{{ i }} <span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}" style='color:black'>{{ i }}</a></li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" tabindex="-1" style='color:black'>NEXT</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">NEXT</a>
                    </li>
                {% endif %}
            </ul>
          </nav>
    </div>
</div>
<!-- End of Pagination -->


{% endblock %}