{% extends 'shop/base.html' %}

{% block content %}
{% load static %}
{% load humanize %}
<div class="container">
  <div class='row'>
      <div class="col-12 ml-auto mr-auto">
          <h2 class="index-title-index text-center">STAFF PRODUCT ITEM(일반판매) EDIT</h2>
          <hr class="index-title-divider">
      </div>
  </div>
</div>  

<div class='container my-2 py-2 px-4' style='min-height:300px;'>
    <div class='row'>
        <div class='col-4 ml-auto text-right'>
            <a href="{% url 'staff:home' %}"><button class='btn btn-outline-dark btn-sm'>스탭 홈 돌아가기</button></a>
                        
        </div>
    </div>
    <hr>



    <div class='row'>
        <div class='col-12 mx-auto'>
            <form method='post' action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button class='btn btn-outline-dark btn-block'>수정완료</button>
            </form>
        </div> 
    </div>
</div>
{% endblock %}