{% extends 'shop/base.html' %}

{% block header %}
{% endblock %}


{% block content %}
{% load static %}
{% load humanize %}

<div class="container">
  <div class='row'>
      <div class="col-12 ml-auto mr-auto">
          <h2 class="index-title-index text-center">고객 주문 체크</h2>
          <hr class="index-title-divider">
      </div>
  </div>
</div>  

<div class='container my-2 py-2 px-4' style='min-height:300px;'>
  <div class='row'>
      <div class='col-4 ml-auto text-right'>
          <a href="{% url 'staff:home' %}"><button class='btn btn-outline-dark btn-sm'>스탭 홈 돌아가기</button></a>
                      
      </div>
  </div>
  <hr>



  <div class='row'>
      <div class='col-12 mx-auto'>
          <!-- 아이템들 -->
          <div class='row'>
            <div class='col-12'>
                <!-- 아이템들 -->
                <div class='row'>
                    <div class='row mb-5' style='width:100%;'>
                        <div class='col'>
                            <table class="table table-bidding-info text-center align-middle">
                                <!-- <colgroup>
                                    <col span="1" style="width: 30%;">
                                    <col span="1" style="width: 70%;">
                                </colgroup> -->
                                <thead class=>
                                    <th class='align-middle' scope="col" style='font-size:small;'>고객성명</th>
                                    <th class='align-middle' scope="col" style='font-size:small;'>이메일</th>
                                    <th class='align-middle' scope="col" style='font-size:small;'>전화번호</th>
                                    <th class='align-middle' scope="col" style='font-size:small;'>배송지 주소</th>
                                    <th class='align-middle' scope="col" style='font-size:small;'>총 금액</th>
                                    <th class='align-middle' scope="col" style='font-size:small;'>배송 요청사항</th>
                                    <th class='align-middle' scope="col" style='font-size:small;'>송장번호</th>
                                    <th class='align-middle' scope="col" style='font-size:small;'>주문상태</th>
                                    <th class='align-middle' scope="col" style='font-size:small;'>진행</th>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td class="align-middle" style='font-size:small;'>{{ order.final_address.full_name }}</td>
                                        <td class="align-middle" style='font-size:small;'>{{ order.final_address.email }}</td>
                                        <td class="align-middle" style='font-size:small;'>{{ order.final_address.phone_number }}</td>
                                        <td class="align-middle" style='font-size:small;'>{{ order.final_address.get_address }}</td>
                                        <td class="align-middle" style='font-size:small;'>{{ order.cart.total|intcomma }} 원</td>
                                        <td class="align-middle" style='font-size:small;'>{% if order.customer_request %}{{ order.customer_request }}{% else %}요청사항 없음.{% endif %}</td>
                                        <td class="align-middle" style='font-size:small;'>{% if order.tracking_number %}{{ order.tracking_number }}{% else %}-{% endif %}</td>
                                        <td class="align-middle" style='font-size:small;'>{{ order.get_status_display }}</td>
                                        <td class="align-middle" style='font-size:small;'>
                                            {% if order.status == 'paid' or order.status == 'shipped' or order.status == 'shipping' %}
                                            <a href="{% url 'staff:staff_order_edit' pk=order.pk %}">
                                                <button class='btn btn-outline-primary btn-sm'>정보수정</button>
                                            </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
        
                            <hr class='mt-0' style='border-top:2px solid #423f3b;height:5px;box-shadow: 0 10px 5px -10px #8c8c8c inset;'>
                        </div>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </div>
</div>



<!-- Pagination -->
<div class='row mt-5'>
    <div class='col-12'>
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" style='color:black'>PREVIOUS</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">PREVIOUS</a>
                    </li>
                {% endif %}
                
                {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="page-item active">
                    <a class="page-link" href="#" style='border-color:black;background-color:black'>{{ i }} <span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}" style='color:black'>{{ i }}</a></li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" tabindex="-1" style='color:black'>NEXT</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">NEXT</a>
                    </li>
                {% endif %}
            </ul>
          </nav>
    </div>
</div>
<!-- End of Pagination -->
{% endblock %}
