{% extends 'shop/base.html' %}
{% block header %}
<style>
    .add-border{
        border-top:1px solid rgb(238, 238, 238);
        border-bottom:2px solid rgb(238, 238, 238);
        border-left:1px solid rgb(238, 238, 238);
        border-right:2px solid rgb(238, 238, 238);
    }
    
    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 3;
      top: 40px;
      left: 0;
      background-color: #423f3b;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: medium;;
      color: #cbbeb5;
      display: block;
      transition: 0.3s;
    }
    .sidenav div {
      transition: 0.3s;
    }
    
    .sidenav a:hover {
      color: white;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
    
    .dropdown-menu-lg{
        /* position:fixed!important; */
        /* top:100px!important; */
        /* left:0px!important; */
        width:480px;
        height:500px;
        padding:10px;
        /* margin:20px; */
    
    }
    
    .navbar-expand-lg {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    
    #navbarSupportedContentProductList .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
    
    
    a.wish-link {
        color:rgb(190, 190, 190);
        transition: 0.3s;
    }
    
    a.wish-link:hover {
        color:black;
        transition: 0.3s;
    }
    
    a.wish-link-added {
        color:black;
        transition: 0.3s;
    }
    
.sticky-top-3 {
    position: -webkit-sticky;
    position: sticky;
    top: 86px;
    z-index: 2;
}

.sticky-top-4 {
    position: -webkit-sticky;
    position: sticky;
    top: 121px;
    z-index: 2;
}


/* For mobile phones: */
.product-card__name {
        font-weight:bold;
        font-size:x-small;
    }
    .product-card__list-price{
        color:gray;
        font-size:small;
    }
    .product-card__price {
        font-weight:bold;
        font-size:small;
    }
    .product-card__title {
        height:32px;
        font-size:small;
        line-height:1.2;
    }

@media only screen and (min-width: 768px) {
    .product-card__price {
        font-size:medium;
    }

    .product-card__title {
        height:38px;
        /* font-weight:bold; */
        font-size:medium;
    }
}


    </style>
{% endblock %}
{% block content %}
{% load static %}
{% load humanize %}
<!-- 프로덕트 리스트 네브바 -->
<nav class='sticky-top-3'style='z-index:3;background-color:white;box-shadow: rgba(0, 0, 0, 0.22) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;"'>
    <ul class="navbar-nav navbar-expand-lg">
        <li class='nav-item mx-2'>
            <a class="nav-link" data-toggle="collapse" href="#collapseCategory" role="button" aria-expanded="false" aria-controls="collapseExample" style='font-size:small;color:gray;'>
              카테고리 <i class="fas fa-chevron-down"></i>
            </a>
        </li>
        <li class='nav-item mx-2'>
            <a class="nav-link" data-toggle="collapse" href="#collapseBrand" role="button" aria-expanded="false" aria-controls="collapseExample" style='font-size:small;color:gray;'>
              브랜드 <i class="fas fa-chevron-down"></i>
            </a>
        </li>
        <li class='nav-item mx-2'>
            <a class="nav-link" data-toggle="collapse" href="#collapseFilter" role="button" aria-expanded="false" aria-controls="collapseExample" style='font-size:small;color:gray;'>
              필터 <i class="fas fa-chevron-down"></i>
            </a>
        </li>
        <li class='nav-item mx-2'>
            <a class="nav-link" data-toggle="collapse" href="#collapseOrderby" role="button" aria-expanded="false" aria-controls="collapseExample" style='font-size:small;color:gray;'>
              정렬기준 <i class="fas fa-chevron-down"></i>
            </a>
        </li>
        <li class='nav-item mx-2'>
            <a class="nav-link" data-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseExample" style='font-size:small;color:gray;'>
              검색 <i class="fas fa-chevron-down"></i>
            </a>
        </li>
        
        
    </ul>
</nav>

<div class="collapse" id="collapseCategory">
    <div class="card card-body">
        <div class='row'>
            <div class='col-12 col-lg-8 col-md-8 col-sm-12 mx-auto'>
                <div class='row'>
                    <div class='col-12'>
                        <p style='font-size:large;font-weight:bold;'>카테고리</p>
                    </div>
                    <div class='col-12'>
                        <a class="dropdown-item" href="{% url 'products:product_list' %}" style='font-size:small;'>전체</a>
                        <hr>
                    </div>
                    <div class='col-6 col-lg-3 col-md-4 col-sm-4'>
                        <a class="dropdown-item" href="{% url 'products:product_list' category='woman' %}" style='font-size:small;'>여성의류</a>
                    </div>
                    <div class='col-6 col-lg-3 col-md-4 col-sm-4'>
                        <a class="dropdown-item" href="{% url 'products:product_list' category='men' %}" style='font-size:small;'>남성의류</a>
                    </div>
                    <div class='col-6 col-lg-3 col-md-4 col-sm-4'>
                        <a class="dropdown-item" href="{% url 'products:product_list' category='shoes' %}" style='font-size:small;'>슈즈</a>
                    </div>
                    <div class='col-6 col-lg-3 col-md-4 col-sm-4'>
                        <a class="dropdown-item" href="{% url 'products:product_list' category='acc' %}" style='font-size:small;'>ACC</a>
                    </div>
                    <div class='col-6 col-lg-3 col-md-4 col-sm-4'>
                        <a class="dropdown-item" href="{% url 'products:product_list' category='kid' %}" style='font-size:small;'>키즈</a>
                    </div>
                    <div class='col-6 col-lg-3 col-md-4 col-sm-4'>
                        <a class="dropdown-item" href="{% url 'products:product_list' category='bag' %}" style='font-size:small;'>가방</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="collapse" id="collapseBrand">
    <div class="card card-body">
        <div class='row'>
            <div class='col-12 col-lg-8 col-md-8 col-sm-12 mx-auto'>
                <div class='row'>
                    <div class='col-12'>
                        <p style='font-size:large;font-weight:bold;'>브랜드</p>
                    </div>
                    {% for brand in brands %}
                    <div class='col-6 col-lg-3 col-md-4 col-sm-4'>
                        <a class="dropdown-item" href="{% url 'products:product_list' brand=brand %}" style='font-size:small;'>{{ brand|upper }}</a>
                    </div>    
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="collapse" id="collapseFilter">
    <div class="card card-body">
        <div class='row'>
            <form method='GET' action="{% url 'products:product_list' %}" style='width:100%;'>
                <input type="hidden" name='post_purpose' value='filter_product'>
                <div class='col-12 col-lg-8 col-md-8 col-sm-12 mx-auto'>
                    <div class='col-12 text-left'>
                        <p class='mb-2' style='font-size:large;font-weight:bold;'>필터</p>
                        <p class='mb-0' style='font-size:small;'/>* 카테고리와 브랜드를 교차로 필터링이 가능합니다.</p>
                        <p class='mb-4' style='font-size:small;'>* 카테고리와 브랜드는 꼭 한개 이상 선택이 되어야합니다.</p>
                    </div>
                    <div class='col-12 text-left'>
                        <p style='font-size:large;'>카테고리</p>
                    </div>
                    <div class='row pl-4'>
                        <div class='col-12'>
                            <p style='font-size:small;'><input type="checkbox" onClick="toggleCategory(this)"> 전체</p>
                            <hr>
                        </div>
                        {% for category in category_qs %}
                        <div class='col-6 col-lg-3 col-md-4 col-sm-4'>
                            <p style='font-size:small;'><input type="checkbox" name="category_selected" value="{{ category.0 }}"> {{ category.1 }}</p>                    
                        </div> 
                        {% endfor %}
                    </div>
                    <hr>
                </div>
                <div class='col-12 col-lg-8 col-md-8 col-sm-12 mx-auto'>
                    <div class='col-12 text-left'>
                        <p style='font-size:large;'>브랜드</p>
                    </div>
                    <div class='row pl-4'>
                        <div class='col-12'>
                            <p style='font-size:small;'><input type="checkbox" onClick="toggleBrand(this)"> 전체</p>
                            <hr>
                        </div>
                        
                        {% for brand in brands %}
                        <div class='col-6 col-lg-3 col-md-4 col-sm-4'>
                            <p style='font-size:small;'><input type="checkbox" name="brand_selected" value="{{ brand }}" style='font-size:small;'> {{ brand }}</p>
                        </div>
                        {% endfor %}
                    </div>
                    <hr>
                </div>
                <div class='col-12 col-lg-8 col-mg-8 col-sm-12 mx-auto'>
                    <button class='btn btn-outline-dark btn-block' type='submit'>선택 완료</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="collapse" id="collapseOrderby">
    <div class="card card-body">
        <div class='row'>
            <div class='col-12 col-lg-8 col-md-8 col-sm-12 mx-auto'>
                <div class='row'>
                    <div class='col-12'>
                        <p style='font-size:large;font-weight:bold;'>정렬기준</p>
                    </div>
                    <div class='col-12 mb-2'>
                        <form action="{% url 'products:product_list' %}">
                            <input type="hidden" name='post_purpose' value='ordering_method'>
                            <input type="hidden" name="ordering" value="-price" />
                            <button class='btn btn-outline-dark btn-sm' type='submit'>높은가격순서</button>
                        </form>
                    </div>
                    <div class='col-12 mb-2'>
                        <form action="{% url 'products:product_list' %}">
                            <input type="hidden" name='post_purpose' value='ordering_method'>
                            <input type="hidden" name="ordering" value="price" />
                            <button class='btn btn-outline-dark btn-sm' type='submit'>낮은가격순서</button>
                        </form>
                    </div>
                    <div class='col-12 mb-2'>
                        <form action="{% url 'products:product_list' %}">
                            <input type="hidden" name='post_purpose' value='ordering_method'>
                            <input type="hidden" name="ordering" value="-updated" />
                            <button class='btn btn-outline-dark btn-sm' type='submit'>업데이트날짜순서</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="collapse" id="collapseSearch">
    <div class="card card-body">
        <div class='row'>
            <div class='col-12 col-lg-8 col-md-8 col-sm-12 mx-auto'>
                <div class='row'>
                    <div class='col-12'>
                        <p style='font-size:large;font-weight:bold;'>검색</p>
                    </div>
                    <div class='col-12'>
                        {% include 'search/snippets/search-form.html' %}
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 프로덕트 리스트 헤더 -->

<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto">
            <h2 class="index-title-index text-center">SEARCH PRODUCT LIST</h2>
            <hr class="index-title-divider">
        </div>
    </div>
</div>  


<div class='row mb-2 mt-2 mx-auto text-center'>

    {% if request.GET.q %}
    <div class='col-12'>
        <h4>Results for <b>{{ query }}</b></h4>
        <hr>
    </div>
    {% else %}
    <div class='col-12 col-md-6 mx-auto py-5'>
        {% include 'search/snippets/search-form.html' %}
    </div>
    <div class='col-12'>
        <hr>
    </div>
    {% endif %}
</div>


<!-- 프로덕트 리스트-->
<div class=container>
    <div class='row'>
        {% for product_item in product_items %}
        <div class="col-6 col-lg-3 col-md-4 col-sm-6 add-border infinite-item">
            <div class='product-image-div'>
                    <picture>
                        <!-- 아래의 slug주소도되고 주석처리한 pk로도 됨. -->
                        {% if product_item.product.main_image %}
                        <a href="{{ product_item.get_absolute_url }}"><img src="{{ product_item.product.main_image.url }}" class="product-main-image"></a>   
                        {% elif product_item.product.main_image_link %}
                        <a href="{{ product_item.get_absolute_url }}"><img src="{{ product_item.product.main_image_link }}" class="product-main-image"></a>   
                        {% else %}
                        <span class="text-muted">No Image</span>
                        {% endif %}
                        
                    </picture>
                </div>
                <div class="row product-card__div product-card-on-bidding">
                    <div class='col-12 align-self-center product-infos'>
                                {% if user.is_staff %}
                                    {% if product_item.featured %}
                                    <form method='post' action="{% url 'products:product_make_unfeatured' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name='product_item_id' value='{{ product_item.id }}'>
                                        <input type="hidden" name='product_type' value='{{ product_item.product_type }}'>
                                        <button class='btn btn-sm btn-outline-success' type='submit'>판매비활성화</button>
                                    </form>
                                    {% else %}
                                        {% if product_item.product_type == 'bidding' %}
                                        <form method='post' action="{% url 'products:product_make_featured' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name='product_item_id' value='{{ product_item.id }}'>
                                            <button class='btn btn-sm btn-outline-danger' type='submit'>경매활성화</button>
                                        </form>
                                        {% elif product_item.product_type == 'normal' %}
                                        <form method='post' action="{% url 'products:product_make_featured' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name='product_item_id' value='{{ product_item.id }}'>
                                            <button class='btn btn-sm btn-outline-success' type='submit'>판매활성화</button>
                                        </form>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}   
                        <p class="product-card__name align-text-bottom mt-1 mb-1">[{{ product_item.product.brand }}]</p>
                        <!-- <p class="product-card__name align-text-bottom mt-1 mb-0" style='font-size:small;'>{{ product_item.product.info_product_number }}</p> -->
                        <p class="product-card__title mb-0">
                            {{ product_item.product.title|slice:"30" }}{% if product_item.product.title|length|get_digit:"-1" > 30 %}...{% endif %}
                        </p>
                        <p class='product-card__list-price mb-0'><span><del>{{ product_item.product.list_price|intcomma }}원</del></span></p>
                        <p class='product-card__price mb-0'><span>{{ product_item.price|intcomma }} 원 </span><span class="product-card__price" style='color:red;font-size:smallfont-weight:bold;'>{{ product_item.sale_ratio|floatformat:"0" }} %</span></p>
                        <div class='row'>
                            <div class='col-7 pr-0'>
                                <!-- 해외상품의 경우 4시까지 결재해야하므로 구매가능일로 그날 4시까지로 자동 시간계산할수 있게 해야할듯하다. -->
                                {% if product_item.product_type == 'bidding' %}
                                <!-- <div id='count' style='color:green;font-weight:bold;display:inline;font-size:smaller;'></div> -->
                                {% elif product_item.product_type == 'normal' %}
                                    {% if product_item.info_delivery_from == 'overseas' %}
                                    <!-- <div id='count' style='color:green;font-weight:bold;display:inline;font-size:smaller;'></div> -->
                                
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class='col'>
                                <!-- 국내배송여부 삭제 210309 -->
                                <p class="product-card__name text-right" style="font-size:15px;font-weight:bold;margin-bottom:5px;font-size:small;"></p>
                            </div>
                        </div>
                        <div class='col mr-auto' style='display:none;'>
                            <!-- 나중에 featured 버튼을 넣기위한 공간. -->
                        </div>

                        <!-- 해외배송이면 이걸 계산하게 해야한다. -->
                        <div style='display:none;' id='bidding_end_date_year'>{{ product_item.bidding_start_date|date:'Y' }}</div>
                        <div style='display:none;' id='bidding_end_date_month'>{{ product_item.bidding_start_date|date:'n' }}</div>
                        <div style='display:none;' id='bidding_end_date_day'>{{ product_item.bidding_start_date|date:'j' }}</div>
                        <div style='display:none;' id='bidding_end_date_hour'>{{ product_item.bidding_start_date|date:'G' }}</div>
                        <div style='display:none;' id='bidding_end_date_minute'>{{ product_item.bidding_start_date|date:'i' }}</div>
                        <div style='display:none;' id='bidding_end_date_second'>{{ product_item.bidding_start_date|date:'s' }}</div>
                        <div style='display:none;' id='product_type'>{{ product_item.product_type }}</div>
                        
                    </div>
                </div>
        </div>
        {% endfor %}

    </div>
</div>

<script>
$(document).ready(function(){
    $('.product-image-div').each(function(i, obj) {
        var $this = $(this)
        console.log($this.css('width'))
        var width = $this.css('width')
        $this.css('height', width)
        
    });

    // $('.wish-link').click(function(){
    //     $.alert("위시리스트에 추가되었습니다.")
    // })
    // $('.wish-link-added').click(function(){
    //     $.alert("위시리스트에서 제외되었습니다.")
    // })
    
    

    var collapseCategoryBtn = $("#collapseCategoryBtn")
    var collapseCategory = $("#collapseCategory")
    
    var collapseBrandBtn = $("#collapseBrandBtn")
    var collapseBrand = $("#collapseBrand")
    
    var collapseFilterBtn = $("#collapseFilterBtn")
    var collapseFilter = $("#collapseFilter")
    
    var collapseOrderbyBtn = $("#collapseOrderbyBtn")
    var collapseOrderby = $("#collapseOrderby")
    
    var collapseSearchBtn = $("#collapseSearchBtn")
    var collapseSearch = $("#collapseSearch")

    var collapseCategoryBtnClicked = collapseCategoryBtn.click(function () {
        $(this).addClass('clicked');
    });
    var collapseBrandBtnClicked = collapseBrandBtn.click(function () {
        $(this).addClass('clicked');
    });
    var collapseFilterBtnClicked = collapseFilterBtn.click(function () {
        $(this).addClass('clicked');
    });
    var collapseOrderbyBtnClicked = collapseOrderbyBtn.click(function () {
        $(this).addClass('clicked');
    });
    var collapseSearchBtnClicked = collapseSearchBtn.click(function () {
        $(this).addClass('clicked');
    });


    collapseCategoryBtnClicked.click(function () {
        if (collapseCategoryBtnClicked.is('.clicked')) {
            collapseBrand.removeClass("show")
            collapseFilter.removeClass("show")
            collapseOrderby.removeClass("show")
            collapseSearch.removeClass("show")
        } 
    })
    collapseBrandBtnClicked.click(function () {
        if (collapseBrandBtnClicked.is('.clicked')) {
            collapseCategory.removeClass("show")
            collapseFilter.removeClass("show")
            collapseOrderby.removeClass("show")
            collapseSearch.removeClass("show")
        } 
    })
    collapseFilterBtnClicked.click(function () {
        if (collapseFilterBtnClicked.is('.clicked')) {
            collapseBrand.removeClass("show")
            collapseCategory.removeClass("show")
            collapseOrderby.removeClass("show")
            collapseSearch.removeClass("show")
        } 
    })
    collapseOrderbyBtnClicked.click(function () {
        if (collapseOrderbyBtnClicked.is('.clicked')) {
            collapseBrand.removeClass("show")
            collapseFilter.removeClass("show")
            collapseCategory.removeClass("show")
            collapseSearch.removeClass("show")
        } 
    })
    collapseSearchBtnClicked.click(function () {
        if (collapseSearchBtnClicked.is('.clicked')) {
            collapseBrand.removeClass("show")
            collapseFilter.removeClass("show")
            collapseOrderby.removeClass("show")
            collapseCategory.removeClass("show")
        } 
    })

});
    // 일반 페이지에는 그냥 그날 4시까지 남은시간을 게산해서 넣어주자.
    // 3시가 넘어가면 시간이 아닌 구매불가로 뜨게 하고 링크들어가면 거기에도 구매불가로 뜨게하자.
    // 즉이 이 jquery는 재활용이 필요한 상황.
setInterval(function(){
    $('.product-infos').each(function(i, obj) {
        var $this = $(this)
        console.log($this)
        var temp_end_date = $this.find(".bidding_end_date")
        console.log(temp_end_date)
        var year = $this.find("#bidding_end_date_year").text()
        var month = $this.find("#bidding_end_date_month").text()
        var day = $this.find("#bidding_end_date_day").text()
        var hour = $this.find("#bidding_end_date_hour").text()
        var minute = $this.find("#bidding_end_date_minute").text()
        var second = $this.find("#bidding_end_date_second").text()
        var product_type = $this.find("#product_type").text()

        console.log(year, month, day, hour, minute, second)
        var today = new Date().getTime();
        if (product_type == 'bidding' ){
            var dday = new Date(year, month-1, day, hour, minute, second, 0).getTime();
        } else { 
            var today2 = new Date()
            var year = today2.getFullYear()
            var month = today2.getMonth() + 1
            var day = today2.getDate()
            var dday = new Date(year, month-1, day, 16, 0, 0, 0).getTime();
        }
        
        
        console.log(dday)
        
        console.log(dday, today)
        

        // var gap = 0;
        var gap = dday - today2;
        
        var calcHour = Math.ceil((gap % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)) ;
        if(calcHour<10){
            calcHour = "0" + (calcHour-1)
        } else {
            calcHour = calcHour -1
        }
        var calcMin = Math.ceil((gap % (1000 * 60 * 60)) / (1000 * 60)) ;
        if(calcMin<10){
            calcMin = "0" + (calcMin-1)
        } else {
            calcMin = calcMin -1
        }
        var calcSec = Math.ceil((gap % (1000 * 60)) / 1000 ) ;
        if(calcSec<10){
            calcSec = "0" + (calcSec-1)
        } else {
            calcSec = calcSec -1
        }
        console.log(calcHour, calcMin, calcSec)

        if (gap>0){
            $this.find("#count").text(calcHour + ":" + calcMin + ":" + calcSec)
        
        } else{
            $this.find("#count").text("SOLD OUT")
            $this.find("#count-comment").text("")
            
        }
    });
}, 1000)

</script>
<script language="JavaScript">

    function toggleBrand(source) {
        console.log('toggleBrand 이 실행되었다')
        brandCheckboxes = document.getElementsByName('brand_selected');
        for(var i=0, n=brandCheckboxes.length;i<n;i++) {
            brandCheckboxes[i].checked = source.checked;
        }
    }
    function toggleCategory(source) {
        console.log('toggleCategory 이 실행되었다')
        categoryCheckboxes = document.getElementsByName('category_selected');
        for(var i=0, n=categoryCheckboxes.length;i<n;i++) {
            categoryCheckboxes[i].checked = source.checked;
        }
    }
    
    </script>
{% endblock %}
