{% extends 'shop/base.html' %}

{% block content %}
{% load static %}
<!-- 카테고리의 네브바 -->


<!-- 프로덕트 리스트 헤더 -->

<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto">
            <h2 class="index-title-index text-center">SEARCH PRODUCT LIST</h2>
            <hr class="index-title-divider">
        </div>
    </div>
</div>  


<div class='row mb-3 mx-auto text-center'>

    {% if request.GET.q %}
    <div class='col-12'>
        <h4>Results for <b>{{ query }}</b></h4>
        <hr>
    </div>
    {% else %}
    <div class='col-12 col-md-6 mx-auto py-5'>
        {% include 'search/snippets/search-form.html' %}
    </div>
    <div class='col-12'>
        <hr>
    </div>
    {% endif %}
</div>


<!-- 프로덕트 리스트-->

<div class='container' style="width:80%;">
    <div class='row'>
    {% for product in products %}
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="product-list-image">
                <picture>
                    {% if product.image %}
                    <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" class="product-main-image"></a>   
                    
                    {% else %}
                    <span class="text-muted">No Image</span>
                    {% endif %}

                {% if product.bidding %}
                <div class="row product-card__div product-card-on-bidding">
                {% else %}
                <div class="row product-card__div">
                {% endif %}
                    <div class='col-6 align-self-center'>
                        <span class="product-card__name">{{ product.brand }}</span></br>
                        <span class="product-card__name" style="font-weight:bold;font-size:20px;">{{ product.title }}</span></br>
                        <span class="product-card__price" style="font-weight:bold;font-size:15px;">₩{{ product.start_price }}</span>
                    </div>

                    <div class='col-6 ml-auto align-self-center product-card__bidding'>
                        {% if product.bidding %}
                        <p class="product-card__on-bidding text-right">On Bidding</p>
                        <p class="text-right">2hr 10min left</p>
                        
                        {% else %}
                        <p class="text-right">START BIDDING AT</p>
                        <p class="text-right">{{ product.bidding_date|date:"Y/m/d f" }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>    
</div>
{% endblock %}