{% url 'carts:home' as cart_url %}


{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Shop Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
    
    <!-- Stripe Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/stripe-custom-style.css' %}">
    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    {% block header %}
    {% endblock %}
    <style>
      .add-border{
          border-top:1px solid rgb(238, 238, 238);
          border-bottom:2px solid rgb(238, 238, 238);
          border-left:1px solid rgb(238, 238, 238);
          border-right:2px solid rgb(238, 238, 238);
      }
      
      .sidenav-home {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 3;
        top: 40px;
        right: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav-home a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: medium;;
        color: gray;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav-home a:hover {
        color: rgb(41, 41, 41);
      }
      
      .sidenav-home .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      @media screen and (max-height: 450px) {
        .sidenav-home {padding-top: 15px;}
        .sidenav-home a {font-size: 18px;}
      }

      .main-sidebar { 
        display: none; 
      }
      
      @media (max-width: 992px) {
          .main-sidebar {
            display:inline;
          }
          .main-sidebar-close { 
            display: none; 
          }
          .navbar-toggler{
            display:none;
          }
      }
      </style>
    <title>MOUM8, 시작</title>
  </head> 
  
  <body>
    <!-- Navbar -->
    <div id="mySidenav-home" class="sidenav-home">
      <div class='text-left'>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      </div>
      <div class='px-3'>
        <ul class="navbar-nav mr-auto text-right">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'shop:introduction' %}">ABOUT MOUM</a> 
          </li>

          <!-- 일반물품 Dropdiwn -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">PRODUCT</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'products:product_list' %}">전체</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'products:product_list' category='woman' %}">여성의류</a>
              <a class="dropdown-item" href="{% url 'products:product_list' category='men' %}">남성의류</a>
              <a class="dropdown-item" href="{% url 'products:product_list' category='shoes' %}">슈즈</a>
              <a class="dropdown-item" href="{% url 'products:product_list' category='bag' %}">가방</a>
              <a class="dropdown-item" href="{% url 'products:product_list' category='acc' %}">ACC</a>
              <a class="dropdown-item" href="{% url 'products:product_list' category='kid' %}">키즈</a>
            </div>
          </li>

          <!-- 경매물품 Dropdown -->
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">AUCTION</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'products:product_bidding_list' %}">전체</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'products:product_bidding_list' category='woman' %}">여성의류</a>
              <a class="dropdown-item" href="{% url 'products:product_bidding_list' category='men' %}">남성의류</a>
              <a class="dropdown-item" href="{% url 'products:product_bidding_list' category='shoes' %}">슈즈</a>
              <a class="dropdown-item" href="{% url 'products:product_bidding_list' category='bag' %}">가방</a>
              <a class="dropdown-item" href="{% url 'products:product_bidding_list' category='acc' %}">ACC</a>
              <a class="dropdown-item" href="{% url 'products:product_bidding_list' category='kid' %}">키즈</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'tickets:home' %}">경매참여티켓</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'products:product_bidding_end_list' %}">경매 결과</a>
              
            </div>
          </li> -->

          <li class="nav-item">
            <a class="nav-link" href="{{ cart_url }}"><span class='navbar-cart-count'>{{ request.session.cart_items }}</span> <i class="fas fa-cart-plus"></i> </a> 
          </li>


          <li class="nav-item"></li>
            <a class="nav-link" href="{% url 'reviews:home' %}">리뷰</a>
          </li>

          
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">마이페이지</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'accounts:home' %}">마이페이지 홈</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'accounts:user-update' %}">개인정보변경</a>
              <a class="dropdown-item" href="{% url 'password_change' %}">비밀번호변경</a>
              <a class="dropdown-item" href="{% url 'orders:list' %}">주문/배송</a>
              <a class="dropdown-item" href="{% url 'points:home' %}">보유포인트</a>
              <a class="dropdown-item" href="">구매결과</a>
              <a class="dropdown-item" href="">관심리스트</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href=""></a>
            </div>
          </li>
          <li class="nav-item"></li>
            <a class="nav-link" href="{% url 'logout' %}">로그아웃</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">로그인</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">회원가입</a>
          </li>  
          {% endif %}

          {% if user.is_staff %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">STAFF</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'staff:home' %}">HOME</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'staff:upload_product' %}">물품 업로드</a>
              <a class="dropdown-item" href="{% url 'staff:upload_product_by_file' %}">물품 업로드(엑셀일괄)</a>
              <a class="dropdown-item" href="{% url 'staff:upload_product_item' %}">물품 아이템 업로드</a>
              <a class="dropdown-item" href="{% url 'staff:upload_product_item_by_file' %}">물품 아이템 업로드(엑셀일괄)</a>
              <a class="dropdown-item" href="{% url 'products:check' %}">물품 체크</a> 
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="">주문상태 확인</a>
              <a class="dropdown-item " href="">상품 상태 변경</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="">통계분석</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="">회원가입 티켓만들기</a>
            </div>
          </li>
          {% endif %}

          {% if user.is_admin %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">ADMIN</a> 
          </li>
        

          {% endif %}      
              

          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>  
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul> -->

        <!-- 메세지 부분 -->
        
        



        {% if user.is_authenticated %}
          {% include 'search/snippets/search-form.html' %}
        {% endif %}
        </ul>
      </div>
    </div>
    

    



















    <nav class="navbar sticky-top navbar-expand-lg" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); background: rgb(255, 255, 255); padding: 6px 24px 0px; box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;">
      <a class="navbar-brand" href="{% url 'shop:index' %}"><bold>MOUM8<small>_모움8</small></bold></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="{% static 'shop/open-iconic/svg/menu.svg' %}" alt="아이콘" style="width:12px;">
      </button>
      <div class='main-sidebar ml-auto' id='id_main-sidebar'>
        <span style="font-size:medium;cursor:pointer" onclick="openNav()">&#9776; MENU</span>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'shop:introduction' %}">ABOUT MOUM</a> 
          </li>

          <!-- 일반물품 Dropdiwn -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">PRODUCT</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'products:product_list' %}">전체</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'products:product_list' category='woman' %}">여성의류</a>
              <a class="dropdown-item" href="{% url 'products:product_list' category='men' %}">남성의류</a>
              <a class="dropdown-item" href="{% url 'products:product_list' category='shoes' %}">슈즈</a>
              <a class="dropdown-item" href="{% url 'products:product_list' category='acc' %}">ACC</a>
              <a class="dropdown-item" href="{% url 'products:product_list' category='kid' %}">키즈</a>
            </div>
          </li>

          <!-- 경매물품 Dropdown -->
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">AUCTION</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'products:product_bidding_list' %}">전체</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'products:product_bidding_list' category='woman' %}">여성의류</a>
              <a class="dropdown-item" href="{% url 'products:product_bidding_list' category='men' %}">남성의류</a>
              <a class="dropdown-item" href="{% url 'products:product_bidding_list' category='shoes' %}">슈즈</a>
              <a class="dropdown-item" href="{% url 'products:product_bidding_list' category='acc' %}">ACC</a>
              <a class="dropdown-item" href="{% url 'products:product_bidding_list' category='kid' %}">키즈</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'tickets:home' %}">경매참여티켓</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'products:product_bidding_end_list' %}">경매 결과</a>
              
            </div>
          </li> -->

          <li class="nav-item">
            <a class="nav-link" href="{{ cart_url }}"><span class='navbar-cart-count'>{{ request.session.cart_items }}</span> <i class="fas fa-cart-plus"></i> </a> 
          </li>


          <li class="nav-item"></li>
            <a class="nav-link" href="{% url 'reviews:home' %}">리뷰</a>
          </li>

          
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">마이페이지</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'accounts:home' %}">마이페이지 홈</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'accounts:user-update' %}">개인정보변경</a>
              <a class="dropdown-item" href="{% url 'password_change' %}">비밀번호변경</a>
              <a class="dropdown-item" href="{% url 'orders:list' %}">주문/배송</a>
              <a class="dropdown-item" href="{% url 'points:home' %}">보유포인트</a>
              <a class="dropdown-item" href="">구매결과</a>
              <a class="dropdown-item" href="">관심리스트</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href=""></a>
            </div>
          </li>
          <li class="nav-item"></li>
            <a class="nav-link" href="{% url 'logout' %}">로그아웃</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">로그인</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">회원가입</a>
          </li>  
          {% endif %}

          {% if user.is_staff %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">STAFF</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'staff:home' %}">HOME</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'products:upload_product_item' %}">상품아이템 업로드</a>
              <a class="dropdown-item" href="{% url 'products:upload_product' %}">상품 어보드</a>
              <a class="dropdown-item" href="{% url 'products:check' %}">상품 체크</a> 
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="">주문상태 확인</a>
              <a class="dropdown-item" href="">상품 상태 변경</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="">통계분석</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="">회원가입 티켓만들기</a>
            </div>
          </li>
          {% endif %}

          {% if user.is_admin %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">ADMIN</a> 
          </li>
        

          {% endif %}      
              

          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>  
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul> -->

        <!-- 메세지 부분 -->
        
        



        {% if user.is_authenticated %}
          {% include 'search/snippets/search-form.html' %}
        {% endif %}
        </ul>
      </div>
    </nav>
    
    {% if messages %}
        <div class="alert alert-success messages">
            {% for message in messages %}
            <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}<br/>
            </span>
            {% endfor %}
        </div>
    {% endif %}

    {% block content %}
    {% endblock %} 
  

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> -->

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
    
    
    <hr style="margin: 10px 0px 0px; height: 1px; border: none; background-color: rgb(224, 224, 224);">
    <!-- 여기부터 Footer -->  
    <footer style='background-color:#423f3b'>    
      <div class="container" style="padding-top:30px;color:#cbbeb5;">
        <div class="row">
          <div class="col-lg-3 col-sm-12 mr-auto mb-2">
            <!-- <div class="alert alert-secondary"> -->
              <div class="footer-social text-center">
                <p class='mb-2' style='font-size:large;font-weight:bold;'>Connect With Us</p>
                <ul class='list-inline'>
                  <li class="list-inline-item">
                    <a href="">
                      <span style="font-size: 0.6em; color: #ffe5a9;">
                        <i class="fab fa-instagram fa-5x"></i>
                      </span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="">
                      <span style="font-size: 0.6em; color: #ffe5a9;">
                        <i class="fab fa-youtube fa-5x"></i>
                      </span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="">
                      <span style="font-size: 0.6em; color: #ffe5a9;">
                        <i class="fas fa-envelope fa-5x"></i>
                      </span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="">
                      <span style="font-size: 0.6em; color: #ffe5a9;">
                        <i class="fab fa-facebook fa-5x"></i>
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

        
          <div class="col-lg-6 col-sm-12 mr-auto mb-5">
            <div style="box-sizing: border-box; padding: 0px; width: 100%;">
              <div cols="4" rows="1" style="position: relative; display: block; height: 100%; overflow: hidden;">
                <div class="text-center">
                  <p class='mb-2' style='font-size:x-large;font-weight:bold;'>MOUM8</p>
                  <p class='mb-2' style='font-size:large;font-weight:bold;'>© 2021 MOUM International, All Rights Reserved.</p>
                  <p class='mb-0'>모움 인터내셔널, 경기 파주시 탄현면 필승로210, 109~112</p>
                  <p class='mb-0'>대표 박태현, 유선번호 031-945-8832</p>
                  <p class='mb-0'>사업자등록번호 : 515-36-91661</p>
                    <!-- (통신판매번호 : xxx-xx-Xxxx)</p> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-12 text-center" style='height:300px;'>
            <p class='mb-2' style='font-size:large;font-weight:bold;'>사이트 정책</p>
            <ul class="list-unstyled">
              <li><a href="/terms-of-service" style='color:#cbbeb5;'>Terms of Service</a></li>
              <li><a href="/copyright-policy" style='color:#cbbeb5;'>Copyright Policy</a></li>
              <li><a href="/privacy-policy" style='color:#cbbeb5;'>Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer 끝 --> 
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <!-- Stripe JS -->
    <script src="https://js.stripe.com/v3/"></script> 

    <!-- CSRF for ajax JS -->
    <script src="{% static 'js/csrf.ajax.js' %}"></script>

      <!-- js render -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.11/jsrender.js"></script>
    {% include 'shop/base/js_template.html' %}
    
    <!-- ecommerce Custom2 js -->
    <script src="{% static 'js/ecommerce.billing.js' %}"></script>  

      <!-- jQuery -->
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script> -->
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    
    <!-- Jquery-confirm JavaScript -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    
 
    <script>
      $(document).ready(function(){
        // Auto Search
        var searchForm = $(".search-form")
        var searchInput = searchForm.find("[name='q']") // input name='q'
        var typingTimer
        var typingInterval = 500 // 0.5 seconds
        var searchBtn = searchForm.find("[type='submit']")


        searchInput.keyup(function(event){
          // key released
          clearTimeout(typingTimer)
          typingTimer = setTimeout(performSearch, typingInterval)
        })

        searchInput.keydown(function(event){
        // key pressed
          clearTimeout(typingTimer)
        })

        function displaySearch(){
          searchBtn.addClass("disable")
          searchBtn.html("<i class='fa fa-spin fa-spinner'></i> Searching...")
        }


        function performSearch(){
          displaySearch()
          var query = searchInput.val()
          setTimeout(function(){
            window.location.href='/search/?q=' + query
          }, 1000)
          
        }

        // Cart + Add Products
        var productForm = $(".form-product-ajax") // #form-product-ajax

        productForm.submit(function(event){
          event.preventDefault()
          // console.log("Form is not sending")
          var thisForm = $(this)
          // var actionEndpoint = thisForm.attr('action')  // API Endpoint
          var actionEndpoint = thisForm.attr('data-endpoint')  // API Endpoint
          var httpMethod = thisForm.attr('method')
          var formData = thisForm.serialize()

          $.ajax({
            url: actionEndpoint,
            method: httpMethod,
            data: formData,
            success: function(data){
              var submitSpan = thisForm.find(".submit-span")
              if (data.added){
                submitSpan.html("In cart<button type='submit' class='btn btn-link'>Remove?</button>")
              } else {
                submitSpan.html("<button class='btn btn-success'>Add?</button>")
              }
              var navbarCount = $(".navbar-cart-count")
              navbarCount.text(data.cartItemCount)
              var currentPath = window.location.href

              if (currentPath.indexOf("cart") != -1){
                refreshCart()
              }
           },
            error: function(errorData){
              $.alert({
                title: "Oops!",
                content: "An error occurred",
                theme: "modern"
              })
            }

          })
        })

        function refreshCart(){
          console.log("in current cart")
          var cartTable = $(".cart-table")
          var cartBody = cartTable.find(".cart-body")
          //cartBody.html("<h1>Changed<h1>")
            var productRows = cartBody.find(".cart-product")
            var currentUrl = window.location.href

          var refreshCartUrl = '/api/cart/'
          var refreshCartMethod = "GET"
          var data = {}
          $.ajax({
            url: refreshCartUrl,
            method: refreshCartMethod,
            data:data,
            success: function(data){
              var hiddenCartItemRemoveForm = $(".cart-item-remove-form")
              if (data.products.length > 0){
                productRows.html("")
                i = data.products.length
                $.each(data.products, function(index, value){
                  console.log(value)
                  var newCartItemRemove = hiddenCartItemRemoveForm.clone()
                  newCartItemRemove.css("display", "block")
                  newCartItemRemove.find(".cart-item-product-id").val(value.id)
                  cartBody.prepend("<tr><th scope=\"row\">" + i + "</th><td><a href='" + value.url + "'>" + value.name + "</a></td>" + "<td>" + value.price + "</td><td>" + newCartItemRemove.html() + "</td></tr>")
                  i --
                })
                cartBody.find(".cart-subtotal").text(data.subtotal)
                cartBody.find(".cart-total").text(data.total)
                
              } else {
                window.location.href = currentUrl
              }
              
            },
            error: function(errorData){
              $.alert({
                title: "Oops!",
                content: "An error occurred",
                theme: "modern"
              })
            }
          })
        }

      })

    </script>
    <script>
      function openNav() {
        document.getElementById("mySidenav-home").style.width = "250px";
        $("#id_main-sidebar").html('<span style="font-size:medium;cursor:pointer" onclick="closeNav()">&#9776; MENU</span>')
      }
      
      function closeNav() {
        document.getElementById("mySidenav-home").style.width = "0";
        $("#id_main-sidebar").html('<span style="font-size:medium;cursor:pointer" onclick="openNav()">&#9776; MENU</span>')
      }

      </script>
  {% block javascript %}
  {% endblock %}
  </body>
</html>