{% extends 'shop/base.html' %}
{% load static %}
{% load humanize %}

{% block header %}
<style>

@font-face {
    font-family: 'Wemakeprice-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SeoulHangangM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SeoulNamsanM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.center {
    display: cover;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}




.add-border{
    border-top:1px solid rgb(238, 238, 238);
    border-bottom:2px solid rgb(238, 238, 238);
    border-left:1px solid rgb(238, 238, 238);
    border-right:2px solid rgb(238, 238, 238);
}

/* Bottom right text */


/* When you mouse over the container, fade in the overlay title */
.container-index:hover .overlay {
  opacity: 1;
}
.add-text-stroke{
    -webkit-text-stroke: 2px black; /* width and color */
}

.add-text-stroke-thin{
    -webkit-text-stroke: 0.5px black; /* width and color */
}



a.wish-link {
    color:rgb(190, 190, 190);
    transition: 0.3s;
    outline:none;
}

a.wish-link:hover {
    color:black;
    transition: 0.3s;
}

a.wish-link-added {
    color:black;
    transition: 0.3s;
}

/* For mobile phones: */
.product-card__name {
        font-weight:bold;
        font-size:x-small;
    }
    .product-card__list-price{
        color:gray;
        font-size:small;
    }
    .product-card__price {
        font-weight:bold;
        font-size:small;
    }
    .product-card__title {
        height:32px;
        font-size:small;
        line-height:1.2;
    }

@media only screen and (min-width: 768px) {
    .product-card__price {
        font-size:medium;
    }

    .product-card__title {
        height:38px;
        /* font-weight:bold; */
        font-size:medium;
    }
}

.carousel-text-title {
    font-family:'Wemakeprice-Bold';
    font-size:60px;
    font-weight:bold;
}
.carousel-text-desc{
    font-family:'Wemakeprice-Bold';
    font-size:25px;
    font-weight:bold;
    color:white;
    text-shadow: 2px 2px black;
}
.carousel-caption{
    text-align: center;
    /* position: fixed; */
    top: 40%!important;
    left: 50%!important;
    transform: translate(-50%, -50%);
    color: white;
    width:700px;
}
@media screen and (max-width: 768px) {
    /* 모바일에 사용될 스트일 시트를 여기에 작성합니다. */
    .carousel-text-title {
        font-family:'Wemakeprice-Bold';
        font-size:50px;
        font-weight:bold;
    }
    .carousel-text-desc{
        font-size:20px;
        font-weight:bolder;
        color:white;
        text-shadow: 2px 2px black;
    }
    .carousel-caption{
        text-align: center;
        /* position: fixed; */
        top: 40%!important;
        left: 50%!important;
        transform: translate(-50%, -50%);
        color: white;
        width:370px;
    }
}

.carousel-image{
    min-height:400px;
    object-fit:cover;
}

.brand-logo {
    text-align:center;
    object-fit:cover;
    /* max-height:80px; */
    height:auto;
    max-width:100%;
    max-height:100%;
}

.div-brand-logo {
    border: 1px solid rgb(201, 201, 201);
    padding: 10px;
}
.div-brand-logo:hover {
    background-color:orange;
    transition: 0.3s;
}

a:hover{
    text-decoration: none!important;
}

.btn-transparent-dark{
    background-color: rgba(0, 0, 0, 0.5)!important;
    border-color:black!important;
    color:white!important;
    
}
.btn-transparent-dark:hover{
    background-color: rgba(0, 0, 0, 1)!important;
}
.nav-size-responsive {
    top:-11px;
    height:98px;

}
.nav-logo {
    text-align:center;
    object-fit:cover;
    /* max-height:80px; */
    height:auto;
    width:40px;
    display:inline-block;
    margin-bottom: 7px;
}
</style>

{% endblock %}


{% block content %}



<!-- 사진슬라이드 부분 -->

<div id="demo" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">

    <!-- Indicators -->
    
  
    <!-- The slideshow -->
    <div class="carousel-inner" style='max-height:550px;'>
      <div class="carousel-item active">
        <a href="{% url 'products:product_list' %}"><img class='carousel-image center' src="{% static 'shop/index_slide_image/city.jpg' %}" alt="Los Angeles"></a>
        <div class="carousel-caption" >
            <h1 class='carousel-text-title add-text-stroke' sytle='font-size:40px;'>MOUM8</h1>
            <h3 class='carousel-text-title add-text-stroke' >GRAND OPEN</h3>
            <h3 class='carousel-text-desc' >모움8이 4월 26일에 오픈합니다.</h3>
            <a href="{% url 'shop:event_1' %}"><button class='btn btn-transparent-dark btn-lg'>OPEN EVENT 참여</button></a>
        </div>
      </div>
      <div class="carousel-item">
        <a href="{% url 'products:product_list' %}"><img class='carousel-image center' src="{% static 'shop/index_slide_image/interview.jpg' %}" alt="Chicago"></a>
        <div class="carousel-caption" >

            <h1 class='carousel-text-title add-text-stroke'>SELECTED</h1>
            <h1 class='carousel-text-title add-text-stroke'>BRANDS</h1>
            <h3 class='carousel-text-title add-text-stroke' ></h3>
            <h3 class='carousel-text-desc' >30여개의 BRAND가 여러분을 기다리고 있습니다.</h3>
            <h3 class='carousel-text-desc'>ITEM은 지속적으로 UPDATE 됩니다.</h3>
            
            <a href="{% url 'shop:event_1' %}"><button class='btn btn-transparent-dark btn-lg'>OPEN EVENT 참여</button></a>
        </div>
      </div>
      <div class="carousel-item">
        <a href="{% url 'products:product_list' %}"><img class='carousel-image center' src="{% static 'shop/index_slide_image/louis-vuitton.jpg' %}" alt="Chicago"></a>
        <div class="carousel-caption" >

            <h1 class='carousel-text-title add-text-stroke'>PRICE</h1>
            <h3 class='carousel-text-title add-text-stroke' ></h3>
            <h3 class='carousel-text-title add-text-stroke' ></h3>
            <h3 class='carousel-text-desc' >합리적인 가격으로 고객에게 가치를 선사해드립니다.</h3>
            <a href="{% url 'shop:event_1' %}"><button class='btn btn-transparent-dark btn-lg'>OPEN EVENT 참여</button></a>
        </div>
      </div>
      <div class="carousel-item">
        <a href="{% url 'products:product_list' %}"><img class='carousel-image center' src="{% static 'shop/index_slide_image/style.jpg' %}" alt="Chicago"></a>
        <div class="carousel-caption" >

            <h1 class='carousel-text-title add-text-stroke'>고객관리</h1>
            <h1 class='carousel-text-title add-text-stroke'></h1>
            <h3 class='carousel-text-title add-text-stroke' ></h3>
            <h3 class='carousel-text-desc'>상품 구매전부터 구해한 후에도 지속적인 고객관리 경험을 선사해드립니다.</h3>
            
            <a href="{% url 'shop:event_1' %}"><button class='btn btn-transparent-dark btn-lg'>OPEN EVENT 참여</button></a>
        </div>
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
</div>
<!--  -->
<div class="container mb-3">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto ">
            <h2 class="index-title-index text-center">BRANDS</h2>
            <hr class="index-title-divider">
        </div>
    </div>
    <div class='text-center'>
        <p>해외 명품 브랜드 30여개를 합리적인 가격에 구매하실 수 있습니다.</p>
    </div>
    <div class='row'>
        <div class='col-6 col-lg-4 col-md-4 col-sm-6 m-0 text-center div-brand-logo'>
            <a href="{% url 'products:product_list' brand='Chanel' %}">
                <img class='brand-logo' src="{% static 'shop/images/CHANEL_LOGO.png' %}" alt="샤넬">
            </a>
        </div>
        <div class='col-6 col-lg-4 col-md-4 col-sm-6 m-0 text-center div-brand-logo'>
            <a href="{% url 'products:product_list' brand='Louis Vuitton' %}">
                <img class='brand-logo' src="{% static 'shop/images/LOUIS VUITTON_LOGO.png' %}" alt="루이비통">
            </a>
        </div>
        <div class='col-6 col-lg-4 col-md-4 col-sm-6 m-0 text-center div-brand-logo'>
            <a href="{% url 'products:product_list' brand='Gucci' %}">
                <img class='brand-logo' src="{% static 'shop/images/GUCCI_LOGO.png' %}" alt="구찌">
            </a>
        </div>
        <div class='col-6 col-lg-4 col-md-4 col-sm-6 m-0 text-center div-brand-logo'>
            <a href="{% url 'products:product_list' brand='Prada' %}">
                <img class='brand-logo' src="{% static 'shop/images/PRADA_LOGO.png' %}" alt="프라다">
            </a>
        </div>
        <div class='col-6 col-lg-4 col-md-4 col-sm-6 m-0 text-center div-brand-logo'>
            <a href="{% url 'products:product_list' brand='Dior' %}">
                <img class='brand-logo' src="{% static 'shop/images/DIOR_LOGO.png' %}" alt="디올">
            </a>
        </div>
        <div class='col-6 col-lg-4 col-md-4 col-sm-6 m-0 text-center div-brand-logo'>
            <a href="{% url 'products:product_list' brand='Burberry' %}">
                <img class='brand-logo' src="{% static 'shop/images/BURBURY_LOGO.png' %}" alt="버버리">
            </a>
        </div>
        <div class='col-6 col-lg-4 col-md-4 col-sm-6 m-0 text-center div-brand-logo'>
            <a href="{% url 'products:product_list' brand='Ferragamo' %}">
                <img class='brand-logo' src="{% static 'shop/images/FERRAGAMO_LOGO.png' %}" alt=" 페라가모">
            </a>
        </div>
        <div class='col-6 col-lg-4 col-md-4 col-sm-6 m-0 text-center div-brand-logo'>
            <a href="{% url 'products:product_list' brand='GIVENCHY' %}">
                <img class='brand-logo' src="{% static 'shop/images/GIVENCHY_LOGO.png' %}" alt="지방시">
            </a>
        </div>
        <div class='col-6 col-lg-4 col-md-4 col-sm-6 m-0 text-center div-brand-logo'>
            <a href="{% url 'products:product_list' brand='Fendi' %}">
                <img class='brand-logo' src="{% static 'shop/images/FENDI_LOGO.png' %}" alt="펜디">
            </a>
        </div>
        <div class='col-6 col-lg-4 col-md-4 col-sm-6 m-0 text-center div-brand-logo'>
            <a href="{% url 'products:product_list' brand='Celine' %}">
                <img class='brand-logo' src="{% static 'shop/images/CELINE_LOGO.png' %}" alt="셀린">
            </a>
        </div>
        <div class='col-6 col-lg-4 col-md-4 col-sm-6 m-0 text-center div-brand-logo'>
            <a href="{% url 'products:product_list' brand='Balenciaga' %}">
                <img class='brand-logo' src="{% static 'shop/images/BALENCIAGA_LOGO.png' %}" alt="발렌시아가">
            </a>
        </div>
        <div class='col-6 col-lg-4 col-md-4 col-sm-6 m-0 text-center div-brand-logo'>
            <a href="{% url 'products:product_list' brand='Chloe' %}">
                <img class='brand-logo' src="{% static 'shop/images/CHLOE_LOGO.png' %}" alt="클로에">
            </a>
        </div>
        <div class='col-12 mx-auto text-center div-brand-logo'>
            <a href="{% url 'products:product_list' %}">
                <div class='col-12'>
                    <span style='font-size:20px;font-weight:bold;color:black;'>위 브랜드 포함 30여개 브랜드</span>
                </div>
            </a>
        </div>
    </div>

</div>  


<!-- 최근아이템_쇼핑상품 -->
<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto ">
            <h2 class="index-title-index text-center">TODAY's PRODUCT</h2>
            <hr class="index-title-divider">
        </div>
    </div>
</div>  

<div class='container'>
    <div class='row'>
        <div class='col-6 ml-auto text-right'>
            <a href="{% url 'products:product_list' %}"><p style='color:gray;'>전체보기 <i class="fas fa-angle-double-right "></i></p></a>
        </div>
    </div>
    <div class='row'>
        {% for product_item in product_items_normal %}
        <div class="col-6 col-lg-4 col-md-4 add-border">
                <div class='product-image-div'>
                    <picture>
                        {% if product_item.product.main_image %}
                        <!-- 아래의 slug주소도되고 주석처리한 pk로도 됨. -->
                        <a href="{{ product_item.get_absolute_url }}"><img src="{{ product_item.product.main_image.url }}" class="product-main-image"></a>   
                        
                        {% else %}
                        <span class="text-muted">No Image</span>
                        {% endif %}
                    </picture>
                    {% if user.is_authenticated %}
                        {% if product_item.id in wish_list %}
                        <div style='position:absolute;top:1%;right:4%'>
                            <a class='wish-link' id="{{ product_item.slug }}" tabindex="0">
                                <span style="font-size: 0.5em;color:rgb(0, 0, 0)">
                                    <i class="fas fa-heart fa-3x"></i>
                                </span>
                            </a>
                        </div>
                        {% else %}
                        <div style='position:absolute;top:1%;right:4%'>
                            <a class='wish-link' id="{{ product_item.slug }}" tabindex="0">
                                <span style="font-size: 0.5em;color:rgb(197, 197, 197)">
                                    <i class="fas fa-heart fa-3x"></i>
                                </span>
                            </a>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="row product-card__div product-card-on-bidding">
                    <div class='col-12 align-self-center product-infos'>
                        {% if product_item.featured %}
                        <p class="product-card__on-bidding mb-0" style='font-size:small;'></p>                            
                        {% else %}
                        <p class="product-card___on-bidding mb-0" style='font-size:small;color:black;'></p>                            
                        {% endif %}        
                        <p class="product-card__name align-text-bottom mt-1 mb-1">[{{ product_item.product.brand }}]</p>
                        <!-- <p class="product-card__name align-text-bottom mt-1 mb-0" style='font-size:small;'>{{ product_item.product.info_product_number }}</p> -->
                        <p class="product-card__title mb-0">
                            {{ product_item.product.title|slice:"30" }}{% if product_item.product.title|length|get_digit:"-1" > 30 %}...{% endif %}
                        </p>
                        <p class='product-card__list-price mb-0'><span><del>{{ product_item.product.list_price|intcomma }}원</del></span></p>
                        <p class='product-card__price mb-0'><span>{{ product_item.price|intcomma }} 원 </span><span class="product-card__price" style='color:red;font-size:smallfont-weight:bold;'>{{ product_item.sale_ratio|floatformat:"0" }} %</span></p>
                        <div class='row'>
                            <div class='col-7 pr-0'>
                                <!-- 해외상품의 경우 4시까지 결재해야하므로 구매가능일로 그날 4시까지로 자동 시간계산할수 있게 해야할듯하다. -->
                                {% if product_item.info_delivery_from == 'overseas' %}
                                <!-- <span id='count-comment' style='color:green;font-weight:bold;font-size:smaller;'>남은 시간 : </span></span><div id='count' style='color:green;font-weight:bold;display:inline;font-size:smaller;'></div> -->
                                {% endif %}
                            </div>
                            <div class='col'>
                                <p class="product-card__name text-right" style="font-size:15px;font-weight:bold;margin-bottom:5px;font-size:small;"></p>
                            </div>
                        </div>
                        <div class='col mr-auto' style='display:none;'>
                            <!-- 나중에 featured 버튼을 넣기위한 공간. -->
                        </div>

                        <!-- 해외배송이면 이걸 계산하게 해야한다. -->
                        <div style='display:none;' id='bidding_end_date_year'>{{ product_item.bidding_end_date|date:'Y' }}</div>
                        <div style='display:none;' id='bidding_end_date_month'>{{ product_item.bidding_end_date|date:'n' }}</div>
                        <div style='display:none;' id='bidding_end_date_day'>{{ product_item.bidding_end_date|date:'j' }}</div>
                        <div style='display:none;' id='bidding_end_date_hour'>{{ product_item.bidding_end_date|date:'G' }}</div>
                        <div style='display:none;' id='bidding_end_date_minute'>{{ product_item.bidding_end_date|date:'i' }}</div>
                        <div style='display:none;' id='bidding_end_date_second'>{{ product_item.bidding_end_date|date:'s' }}</div>
                        <div style='display:none;' id='product_type'>{{ product_item.product_type }}</div>
                        
                    </div>
                </div>
        </div>
        {% endfor %}

    </div>
</div>



<hr style="margin: 10px 0px 0px; height: 1px; border: none; background-color: rgb(224, 224, 224);">
<!-- HOW TO BUY -->
<!-- <div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto ">
            <h2 class="index-title-index text-center">HOW TO BUY</h2>
            <hr class="index-title-divider">
        </div>
    </div>
</div>  
<div class="container process-card-div" style="margin-top:10px;">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 process-card-onecard-div">
            <div class="text-center" style="padding:0px;">
                <img class="process-card-number mx-auto" src="{% static 'shop/icon/num_1.png' %}">
            </div>
            <div class="process-card-header">
                <p class="text-center">SEARCH A PRODUCT</p>
            </div>
            <div class="text-center" style="padding:0px;">
                <img class="process-card-img mx-auto" src="{% static 'shop/open-iconic/svg/zoom-in.svg' %}">
            </div>
            <div class="process-card-description text-center">
                <ul>
                    <li>- 마음에 드는 물품이 있는지 확인 -</li>
                    <li>- 마음에 드는 물품의 BIDDING DATE를 확인 -</li>
                </ul>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 process-card-onecard-div">
            <div class="text-center" style="padding:0px;">
                <img class="process-card-number mx-auto" src="{% static 'shop/icon/num_2.png' %}">
            </div>
            <div class="process-card-header">
                <p class="text-center">BUY A BIDDING-TICKET</p>
            </div>
            <div class="text-center" style="padding:0px;">
                <img class="process-card-img mx-auto" src="{% static 'shop/open-iconic/svg/envelope-closed.svg' %}">
            </div>
            <div class="process-card-description text-center">
                <ul>
                    <li>- BIDDING-TICKET을 구매 -</li>
                    <li>- 물품의 BIDDING 일정 TICKET을 사용 -</li>
                    <li>※ TICKET 사용 시 그날의 모든 BIDDING 가능 -</li>
                    
                </ul>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 process-card-onecard-div">
            <div class="text-center" style="padding:0px;">
                <img class="process-card-number mx-auto" src="{% static 'shop/icon/num_3.png' %}">
            </div>
            <div class="process-card-header">
                <p class="text-center">GO BIDDING</p>
            </div>
            <div class="text-center" style="padding:0px;">
                <img class="process-card-img mx-auto" src="{% static 'shop/open-iconic/svg/people.svg' %}">
            </div>
            <div class="process-card-description text-center">
                <ul>
                    <li>- 물품 내 BIDDING 참여 -</li>
                    <li>- 현재 가격과 가격 Step 고려하여 BIDDING -</li>
                    <li>- BIDDING이 끝난 후 당첨여부 확인 -</li>
                    
                </ul>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 process-card-onecard-div">
            <div class="text-center" style="padding:0px;">
                <img class="process-card-number mx-auto" src="{% static 'shop/icon/num_4.png' %}">
            </div>
            <div class="process-card-header">
                <p class="text-center">GOT A PRODUCT</p>
            </div>
            <div class="text-center" style="padding:0px;">
                <img class="process-card-img mx-auto" src="{% static 'shop/open-iconic/svg/home.svg' %}">
            </div>
            <div class="process-card-description text-center">
                <ul>
                    <li>- 배송장 작성 -</li>
                    <li>- MOUM의 초고속 배송시스템으로 배송 -</li>
                    <li>- 내손에 물품 도착 -</li>
                    
                </ul>
            </div>
        </div>
    </div>
</div> -->


{% endblock %}

<!-- JavaScript 영역 -->
{% block javascript %}




<script>
$(document).ready(function(){

    $(".wish-link").each(function(i, obj){
        var wishBtn = $(this)
        var ProductItem = wishBtn.attr("id")
        wishBtn.click(function (event){
        console.log("ProductItem", ProductItem)
        var promise = $.ajax({
            url: "{% url 'wishlist:make_wishlist' %}", //cross-domain error가 발생하지 않도록 동일한 도메인으로 전송
            type: 'POST',
            dataType: 'json',
            data: {product_item: ProductItem,
                },
            
            success: function(data){
                if(data.added == "true"){
                    wishBtn.children().css('color','rgb(0, 0, 0)')
                    // $.alert("위시리스트에서 추가되었습니다.")
                    $.alert({
                        title: '위시리스트',
                        content: '위시리스트에서 추가되었습니다.',
                    });
                }
                else{
                    wishBtn.children().css('color','rgb(197, 197, 197)')
                    // $.alert("위시리스트에 제거되었습니다.")
                    $.alert({
                        title: '위시리스트',
                        content: '위시리스트에 제거되었습니다.',
                    });
                }

                }
            })
        })

    });


});

</script>

<script>
    $(document).ready(function(){
        $('.product-image-div').each(function(i, obj) {
            var $this = $(this)
            console.log($this.css('width'))
            var width = $this.css('width')
            $this.css('height', width)
            
        });
    });
        // 일반 페이지에는 그냥 그날 4시까지 남은시간을 게산해서 넣어주자.
        // 3시가 넘어가면 시간이 아닌 구매불가로 뜨게 하고 링크들어가면 거기에도 구매불가로 뜨게하자.
        // 즉이 이 jquery는 재활용이 필요한 상황.
    setInterval(function(){
        $('.product-infos').each(function(i, obj) {
            var $this = $(this)
            console.log($this)
            var temp_end_date = $this.find(".bidding_end_date")
            console.log(temp_end_date)
            var year = $this.find("#bidding_end_date_year").text()
            var month = $this.find("#bidding_end_date_month").text()
            var day = $this.find("#bidding_end_date_day").text()
            var hour = $this.find("#bidding_end_date_hour").text()
            var minute = $this.find("#bidding_end_date_minute").text()
            var second = $this.find("#bidding_end_date_second").text()
            var product_type = $this.find("#product_type").text()
    
            console.log(year, month, day, hour, minute, second)
            var today = new Date().getTime();
            if (product_type == 'bidding' ){
                var dday = new Date(year, month-1, day, hour, minute, second, 0).getTime();
            } else { 
                var today2 = new Date()
                var year = today2.getFullYear()
                var month = today2.getMonth() + 1
                var day = today2.getDate()
                var dday = new Date(year, month-1, day, 16, 0, 0, 0).getTime();
            }
            
            
            console.log(dday)
            
            console.log(dday, today)
            
    
            // var gap = 0;
            var gap = dday - today2;
            var calcDay = Math.ceil(gap / (1000 * 60 * 60 * 24))-1;
            var calcHour = Math.ceil((gap % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)) ;
            if(calcHour<10){
                calcHour = "0" + (calcHour-1)
            } else {
                calcHour = calcHour -1
            }
            var calcMin = Math.ceil((gap % (1000 * 60 * 60)) / (1000 * 60)) ;
            if(calcMin<10){
                calcMin = "0" + (calcMin-1)
            } else {
                calcMin = calcMin -1
            }
            var calcSec = Math.ceil((gap % (1000 * 60)) / 1000 ) ;
            if(calcSec<10){
                calcSec = "0" + (calcSec-1)
            } else {
                calcSec = calcSec -1
            }
            console.log(calcHour, calcMin, calcSec)
    
            if (gap>0){
                $this.find("#count").text("남은시간 " + calcDay + "일 " + calcHour + ":" + calcMin + ":" + calcSec)
            
            } else{
                $this.find("#count").text("SOLD OUT")
                $this.find("#count-comment").text("")
                
            }
        });
    }, 1000)
    </script>

{% endblock %}


