{% extends 'shop/base.html' %}

{% block content %}
{% load static %}


<!-- 기업소개 카드 -->

<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto ">
            <h2 class="index-title-index text-center">COMPANY INFO</h2>
            <hr class="index-title-divider">
        </div>
    </div>
</div>
<div class="container store-card-div" style="margin-top:10px;">
    <div class="row">
        <div class="col-lg-6 col-sm-6 mx-auto store-card-onecard-div">
            <div class="text-center" style="padding:0px;">
                <img class="company-card-img mx-auto" src="{% static 'shop/open-iconic/svg/briefcase.svg' %}">
            </div>
            <div class="store-card-header">
                <p class="text-center">ABOUT US</p>
            </div>
            <div class="info-card-description text-left">
                <ul>
                    <li><p>모움인터내셔널은 이태리 및 유럽등지에서 명품 잡화, 의류, 신발, 악세사리를 수입하여 신뢰를 바탕으로
                        합리적인 가격에 유통하는 회사입니다. <br><br>
                        
                        이탈리아에서의 20년간 지속되어온 네트워킹과 한국에서의 다양한 유통채널을 바탕으로 유수의 럭셔리 브랜드부터 새롭게 떠오르는 선진 디자이너까지 다양한 브랜드 포토폴리오를 보유하고 있습니다.
                        <br><br>
                        모움인터내셔널은 지금까지 단 한 번도 가품시비에 휘말린 적이 없는 만큼 앞으로도 신뢰 받는 제품을 합리적인 가격에 소비자께 제공해 오랫동안 사랑받는 기업이 되겠습니다.</p></li>
                    <li><p>- 사업자등록번호 : 515-36-91661</p></li>
                    <!-- <li><p>- 통신판매업번호 : 2021-경기파주-XXXX</p></li> -->
                    <li><p>- 이메일 : selectedmoum@naver.com</p></li>
                    <li><p>- 주소 : 모움 인터내셔널, 경기 파주시 탄현면 필승로210, 109~112</p></li>
                </ul>
            </div>
            <div class="col-12 text-center">
                <img src="{% static 'shop/about_moum.jpg' %}" alt="TIPA 인증" style="width:100%;">
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 mx-auto store-card-onecard-div">
            <div class="text-center" style="padding:0px;">
                <img class="company-card-img mx-auto" src="{% static 'shop/open-iconic/svg/check.svg' %}">
            </div>
            <div class="store-card-header">
                <p class="text-center">ABOUT OUR PRODUCT</p>
            </div>
            <div class="info-card-description text-left">
                <ul>
                    <li><p><span class="company-text-orange">모움은 관세청 인증의 병행수입통관업체</span>입니다. 모움에서 판매하는 브랜드 상품은 대한민국 세관을 통과한 <span class="company-text-orange">100%</span> 정품입니다.</p></li>
                    <li><p>판매자가 직접 이태리 현지에서 딜러 없이 수입하는 것으로, 직접 셀렉하는 것이기에 최고의 상품을 합리적인 가격으로 판매할 수 있도록 노력하고 있습니다. </p></li>
                    <li><p>고객님들께서 온라인에서 겪으실 우려가 있는 가품(위조상품)으로부터 안심하고 쇼핑하실 수 있도록 아래와 같이 노력하고 있습니다. </p></li>
                    <li><p><span class="company-text-black">첫 번째, 당사는 위조품 수출입, 유통 방지 위원회 'TIPA CAC'에 가입되어 있습니다.</span>
                        TIPA에서 실시하는 상품 및 물류 창고의 관리상태확인, 상품의 샘플감정을 주기적으로 진행하고 있으며 분기별 1회 이상 위조품 식별 및 유통예방교육을 받고 있습니다.</p></li>
                    <li><p><span class="company-text-black">두 번째, 위조품 의심, 상품 상담 및 신고를 받고 있습니다.</span>
                        당사는 신고 접수된 정보를 TIPA에 전달하고 TIPA는 해당 상표권자에게 해당 상품의 감정의뢰를 하여 정품 여부를 확인해드립니다. </p></li>
                    <li><p><span class="company-text-black">세 번째, 판매한 상품이 위조품으로 판명 시 300% 보상해드립니다.</span>
                        당사는 SGI 서울보증보험에 가입되어 있으며 구매한 물품이 위조품으로 확인될 경우 가입된 보험에 따라 구매 금액의 <span style='font-weight:bold;font-size:large;color:white;background-color:red;'>300%</span>를 보상해 드립니다.</p></li>
                    <li><p></p></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- 현재 오프라인매점 현황 -->
<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto ">
            <h2 class="index-title-index text-center">OFFLINE STORE</h2>
            <hr class="index-title-divider">
        </div>
    </div>
</div>  
<div class="container store-card-div" style="margin-top:10px;">
    <div class="row">
        <div class="col-11 mx-auto store-card-onecard-div">
            <div class="store-card-header">
                <p class="text-center">모움 인터내셔널</p>
            </div>
            <div class="store-card-description text-center">
                <ul>
                    <li><p>주소 : 경기 파주시 필승로210, 109~112호</p></li>
                </ul>
            </div>
            <div class="store-card-header-div">
                <div id="daumRoughmapContainer1611666801738" class="root_daum_roughmap root_daum_roughmap_landing store-card-map"></div>
            </div>
        </div>
        <div class="col-11 mx-auto store-card-onecard-div">
            <div class="store-card-header">
                <p class="text-center">모움 신세계사이먼 파주 프리미엄아울렛</p>
                
            </div>
            <div class="store-card-description text-center">
                <ul>
                    <li><p>주소 : 경기도 파주시 탄현면 필승로 200</p></li>
                </ul>
            </div>
            <div class="store-card-header-div">
                <div id="daumRoughmapContainer1611659027413" class="root_daum_roughmap root_daum_roughmap_landing store-card-map"></div>
            </div>
        </div>
        <div class="col-11 mx-auto store-card-onecard-div">
            <div class="store-card-header">
                <p class="text-center">모움 롯데백화점 전주점</p>
            </div>
            <div class="store-card-description text-center">
                <ul>
                    <li><p>주소 : 전북 전주시 완산구 온고을로 2</p></li>
                </ul>
            </div>
            <div class="store-card-header-div">
                <div id="daumRoughmapContainer1611668212139" class="root_daum_roughmap root_daum_roughmap_landing store-card-map"></div>
            </div>
        </div>
    </div>
</div>


<!-- 모움인터네셔널 관련 뉴스 -->
<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto ">
            <h2 class="index-title-index text-center">관련 보도자료</h2>
            <hr class="index-title-divider">
        </div>
    </div>
</div>
<div class="container store-card-div" style="margin-top:10px;">
    <div class="row m-3">
        <div class="col-12">
            <p><span style='font-size:large;font-weight:bold;'>수입명품 유통업체 ‘모음 인터내셔날’의 기대되는 이유...</span></p>
            <p><span><small>2018.06.19 10:06</small></span></p>
            <p><span><small><a href="http://www.dhns.co.kr/news/articleView.html?idxno=204854">http://www.dhns.co.kr/news/articleView.html?idxno=204854</a></small></span></p>
            <div class='col-12'>
                <picture>
                    <img src="{% static 'shop/news1_image.jpg' %}" alt="뉴스1_이미지" style='width:100%;'>
                </picture>
            </div>
            <p>[대한뉴스=김원태 기자] 경기도 파주시 탄현면 신세계 사이먼 아울렛 옆 지클래프 플라자에서 직영점을 운영하고 있는 ‘MOUM INTERNATIONAL'은 한국과 이탈리아 두 곳에 베이스를 둔 하이엔드 멀티브랜드 셀렉스터어 브랜드 그룹으로 이탈리아에서의 20년간 지속되어온 네트워킹과 한국에서의 다양한 유통채널을 바탕으로 유수의 럭셔리 브랜드부터 새롭게 떠오르는 선진 디자이너까지 다양한 브랜드 포토폴리오를 보유하고 있다.
                <br><br>-중략-<br><br>
                명품을 구매하고 나서 가장 걱정이 되는 부분 중 하나는 구매 후 A/S에 관한 것이다.<br>

                하지만 ‘MOUM INTERNATIONAL'에서는 이미 전국 17개사와 TIPA를 통해 업무제휴를 맺고 있어 고객을 만족시키기 위한 A/S에 귀를 기울인지 오래다.<br>
                
                이에 박 대표는 “병행수입업체지만 믿음과 신뢰를 바탕으로 고객들이 ‘MOUM INTERNATIONAL'을 더욱 신뢰하고 믿고 이용하는 이유 중 하나다”라고 설명했다.<br><br>
                -후략-<br>
                
            </p>
            <hr>
        
        </div>
        <div class="col-12 m-3 py-2">
            <p><span style='font-size:large;font-weight:bold;'>코로나19에도 프리미엄 아동복 시장 고공행진~롯데百 전주점, 백화점 최초로 키즈 편집매장 '모움(MOUM)' 오픈 </span></p>
            <p><span><small>2021.01.21 14:35</small></span></p>
            <p><span><small><a href="https://news.joins.com/article/23975736">https://news.joins.com/article/23975736</a></small></span></p>
            <div class='col-12'>
                <picture>
                    <img src="{% static 'shop/news2_image.jpg' %}" alt="뉴스2_이미지" style='width:100%;'>
                </picture>
            </div>
            <p> 롯데백화점 전주점(점장 이주영)은 1월 20일(수) 백화점 최초로 명품 병행수입 편집매장인 '모움(MOUM)'을 오픈한다.<br><br>

            장기화된 코로나19로 명품에 대한 강력한 소비욕구가 표출됨에 다라 명품에 대한 수요가 크게 늘었다. 또한 30~40대 고객들의 명품 니즈에 딸 자녀들을 위한 소비 증대로 이어져 명품 키즈 라인을 보강하게 되었다. <br> <br>
                
            이번에 운영하게 되는 '모움(MOUM)' 키즈 편집매장은 그동안 백화점에서는 만나볼 수 없었으며, 롯데백화점 전주점은 상권 특성에 맞춘 타겟형 키즈상품 라인들로 보다 강화할 예정이다.  대표 브랜드는 몽클레어 키즈, 버버리 키즈, 구찌키즈, 스톤아일랜드 키즈 등의 명품 아동의류를 한 번에 만나볼 수 있다. 오픈 프로모션으로 전주점 매장에서 정상가 대비 20% ~ 최대 50%까지 할인해 판매한다.<br><br>  
                
            이번 전주점 운영을 추진한 롯데백화점 김지우 영호남지역 선입바이어(치프바이어)는 "다년간의 운영 노하우를 지니고 있는 모움인터내셔널과 함께 롯데백화점 전주점 소비자들에게 소개할 수 있어서 좋은 기회가 될 것이다."며 "수개월의 설득과 논의 끝에 선보이게 되어 전주 상권을 대표하는 파트너사로 성장할 수 있도록 상생 방안을 같이 모색할 계획이다."고 말했다.
            <br><br>-후략-</p>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>





<!-- JavaScript 영역 -->

<!-- 카카오맵 모움 본점 설치스크립트 -->
<script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

<!-- 카카오맵 모움 본점 실행스크립트 -->
<script charset="UTF-8">
	new daum.roughmap.Lander({
		"timestamp" : "1611666801738",
		"key" : "245b4",
		"mapWidth" : "100%",
		"mapHeight" : "200"
	}).render();
</script>


<!-- 카카오맵 모움 신세계사이먼 설치스크립트 -->
<script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

<!-- 카카오맵 모움 신세계사이먼 실행스크립트 -->
<script charset="UTF-8">
	new daum.roughmap.Lander({
		"timestamp" : "1611659027413",
		"key" : "2459t",
		"mapWidth" : "100%",
		"mapHeight" : "200"
	}).render();
</script>



<!-- 카카오맵 모움 롯데백화점 전주점 설치스크립트 -->
<script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

<!-- 카카오맵 모움 롯데백화점 전주점 실행스크립트 -->
<script charset="UTF-8">
	new daum.roughmap.Lander({
		"timestamp" : "1611668212139",
		"key" : "245bb",
		"mapWidth" : "100%",
		"mapHeight" : "200"
	}).render();
</script>

{% endblock %}