{% extends 'shop/base.html' %}

{% block content %}
{% load static %}
<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto">
            <h2 class="index-title-index text-center">정책안내</h2>
            <hr class="index-title-divider">
        </div>
    </div>
</div>


<div class='container' style="padding-top:20px;">
    <div class='row'>
        <div class='col-12 px-5 rounded' style='background-color:#423F3B;'>
            <div class='col pt-4 pb-4 text-center'>
                <span style="font-size: 0.6em; color: #ffe5a9;">
                    <i class="fas fa-shopping-bag fa-5x"></i>                
                </span>
            </div>
            <div class="store-card-header">
                <p class='text-center' style='color:white;font-weight:bold;font-size:xx-large;'>ABOUT OUR PRODUCT</p>
            </div>
            <div class="mb-5 text-left">
                <ul style='color:white;'>
                    <p style='font-size:medium;color:white;'><bold>모움은 관세청 인증의 병행수입통관업체입니다.</bold>  모움에서 판매하는 브랜드 상품은 대한민국 세관을 통과한 100% 정품입니다.<br>
                    판매자가 직접 이태리 현지에서 딜러 없이 수입하는 것으로, 직접 셀렉하는 것이기에 최고의 상품을 합리적인 가격으로 판매할 수 있도록 노력하고 있습니다. </p>
                    <p style='font-size:medium;color:white;'>고객님들께서 온라인에서 겪으실 우려가 있는 가품(위조상품)으로부터 안심하고 쇼핑하실 수 있도록 아래와 같이 노력하고 있습니다. </p>
                    <!-- <hr style='border-top:1px dashed white;'> -->
                    <li><p style='font-size:medium;'><span style='color:#ffe5a9'>첫 번째, 당사는 위조품 수출입, 유통 방지 위원회 'TIPA CAC'에 가입되어 있습니다.</span><br>
                        TIPA에서 실시하는 상품 및 물류 창고의 관리상태확인, 상품의 샘플감정을 주기적으로 진행하고 있으며 분기별 1회 이상 위조품 식별 및 유통예방교육을 받고 있습니다.</p></li>
                        <li><p style='font-size:medium;'><span style='color:#ffe5a9'>두 번째, 위조품 의심, 상품 상담 및 신고를 받고 있습니다.</span><br>
                        당사는 신고 접수된 정보를 TIPA에 전달하고 TIPA는 해당 상표권자에게 해당 상품의 감정의뢰를 하여 정품 여부를 확인해드립니다. </p></li>
                        <li><p style='font-size:medium;'><span style='color:#ffe5a9'>세 번째, 판매한 상품이 위조품으로 판명 시 300% 보상해드립니다.</span><br>    
                        당사는 SGI 서울보증보험에 가입되어 있으며 구매한 물품이 위조품으로 확인될 경우 가입된 보험에 따라 구매 금액의 <span style='background-color:red;color:white;font-size:large;font-weight:bold;'>300%</span>를 보상해 드립니다.</p></li>
                </ul>
            </div>
        </div>

<div class='col-12 px-5 rounded' style='background-color:#423F3B;'>
            <div class='col pt-4 pb-4 text-center'>
                <span style="font-size: 0.6em; color: #ffe5a9;">
                    <i class="fas fa-cubes fa-5x"></i>
                </span>
            </div>
            <div class="store-card-header">
                <p class='text-center' style='color:white;font-weight:bold;font-size:xx-large;'>재고안내</p>
            </div>
            <div class="info-card-description mb-5 text-left">
                <ul style='color:white;'>
                    <p style='font-size:medium;color: #ffe5a9;'><bold>명품의 특성상 일반 공산품처럼 수백개의 재고를 보유할 수 없으며 소량의 재고가 주기적으로 입고됩니다.</bold> </p>
                    <p style='font-size:medium;'>실재고 수량이 실시간으로 변하여 재고상황을 반영하기 위해 만전을 가하고 있으나, 불가피하게 조기 품절되는 경우가 발생할 수 있으며 이 경우 고객님들께 확인 연락(1차문자 안내)을 드리고 있습니다.</p>
                    <p style='font-size:medium;'>상기의사항 양해 부탁드립니다.</p> 
                </ul>
            </div>
            <!-- <hr class='mt-5' style='border-top: 1px dashed#ffe5a9;'> -->
        </div>

        <div class='col-12 px-5 rounded' style='background-color:#423F3B;'>
            <div class='col pt-4 pb-4 text-center'>
                <span style="font-size: 0.6em; color: #ffe5a9;">
                    <i class="fas fa-truck fa-5x"></i>
                </span>
            </div>
            <div class="store-card-header">
                <p class='text-center' style='color:white;font-weight:bold;font-size:xx-large;'>배송안내</p>
            </div>
            <div class="info-card-description mb-5 text-left">
                <ul style='color:white;'>
                    <p style='font-size:medium;color: #ffe5a9;'><bold>해외배송의 경우 배송기간은 7일 국내 배송은 1일입니다.</bold> </p>
                    <p style='font-size:medium;'>월요일은 주말주문 누적으로 인해 물량이 많아 배송이 지연될 수 있습니다.</p>
                    <p style='font-size:medium;'>일부 도서산간지역은 1-2일 정도 더 소요될 수 있습니다.</p>
                    <p style='font-size:small;'>* 택배사 사정으로 배송이 지연될 수 있으니 양해 바랍니다.</p>
                    
                </ul>
            </div>
            <!-- <hr class='mt-5' style='border-top: 1px dashed#ffe5a9;'> -->
        </div>

        <div class='col-12 px-5 rounded' style='background-color:#423F3B;'>
            <div class='col pt-4 pb-4 text-center'>
                <span style="font-size: 0.6em; color: #ffe5a9;">
                    <i class="fas fa-recycle fa-5x"></i>
                </span>
            </div>
            <div class="store-card-header">
                <p class='text-center' style='color:white;font-weight:bold;font-size:xx-large;'>교환반품</p>
            </div>
            <div class='row pt-5'>
                <div class='col-lg-6 col-sm-12'>
                    
                    <div class='row'>
                        <div class='col mb-5 text-center ml-auto'>
                            
                            <p class='text-center mb-2' style='font-size:x-large;color:white;'><bold>-교환반품 프로세스-</bold> </p><br>
                            <p class='my-2' style='font-size:medium;font-weight:bold;color: #ffe5a9;'>상품 수령후 24시간 내 훼손 불량 유무 변심여부를 판단</p>
                            
                            <span style="font-size: 1em; color:gray;">
                                <i class="fas fa-arrow-down fa-2x"></i>
                            </span>
                            
                            <p class='my-2' style='font-size:medium;font-weight:bold;color: #ffe5a9;'>고객 센터 031-945-8832를 통해 교환.반품 접수(24시간 내)</p>
                            <span style="font-size: 1em; color:gray;">
                                <i class="fas fa-arrow-down fa-2x"></i>
                            </span>
                            <br>
                            <p class='my-2' style='font-size:medium;font-weight:bold;color: #ffe5a9;'>우체국 택배 수거 후 7일 이내 MOUM 도착</p>
                            <span style="font-size: 1em; color: gray;">
                                <i class="fas fa-arrow-down fa-2x"></i>
                            </span>
                            
                            
                            <p class='my-2' style='font-size:medium;font-weight:bold;color: #ffe5a9;'>교환/반품 신청서 작성 후 상품 수령시 동일하게 보관</p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-6 col-sm-12 mb-5 info-card-description text-left">
                    <ul style='color:white;'>
                        <p class='text-center' style='font-size:x-large;color:white;'><bold>-교환반품 시 주의사항-</bold> </p><br>
                        <p style='font-size:medium;color: #ffe5a9;'><bold>구매하신 제품은 전자상거래, 소비자 보호에 관한 법률에 의거 수령일로부터 7일 이내에 미개봉 미사용 제품에 한하여 반품 및 환불을 요청하실 수 있습니다. 택을 제거한 상품은 기사용 상품으로 간주되어 교환 및 반품이 불가합니다. 기사용 상품의 하자는  A/S 처리됩니다.(A/S 내용 참고)</bold> </p>
                        <p style='font-size:medium;'>제품의 하자를 제외한 반품의 경우 우체국 택배 이용 왕복 택배비(10,000원) 동봉 후 발송 부탁드립니다. </p>
                        <p style='font-size:medium;'>우체국 택배가 아닌 타 백배사로 반송하여 제품이 분실될 경우 당사에서 보상해 드릴 수 없습니다. 제품 반송 시 고객님께서 수령하셨을 때와 동일한 상태로 반송해 주시길 바랍니다. 환불 소요 시간은 제품 입고 후 3일 영업일 이내이며 칻사와 사정에 의해 기간은 다소 변경될 수 있습니다. </p>
                    </ul>
                      
                    </ul>
                </div>
            </div>
            <!-- <hr class='mt-5' style='border-top: 1px dashed#ffe5a9;'> -->
        </div>

        <div class='col-12 px-5 rounded' style='background-color:#423F3B;'>
            <div class='col pt-4 pb-4 text-center'>
                <span style="font-size: 0.6em; color: #ffe5a9;">
                    <i class="fas fa-ban fa-5x"></i>
                </span>
            </div>
            <div class="store-card-header">
                <p class='text-center' style='color:white;font-weight:bold;font-size:xx-large;'>결제 후 구매취소안내</p>
            </div>
            <div class="info-card-description mb-5 text-left">
                <ul style='color:white;'>
                    <p style='font-size:medium;color: #ffe5a9;'><bold>취소는 결제 후 물품 배송 준비 단계에서만 가능합니다.</bold> </p>
                    <p style='font-size:medium;'>물품 배송 시작 이후에는 시스템 상 취소가 불가능하며 고객 센터 031-945-8832로 연락 바랍니다.</p>
                    <p style='font-size:medium;'>취소는 마이페이지-주문/배송 메뉴에 있습니다.</p>
                    
                </ul>
            </div>
        </div>
    </div>
    <!-- 배송관련 안내사항 끝 -->


</div>

{% endblock %}