{% extends 'shop/base.html' %}

{% block content %}
<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto">
            <h2 class="index-title-index text-center">COMMENT WRITE</h2>
            <hr class="index-title-divider">
        </div>
    </div>
  </div>  

<div class='container'>
    <div class='row'>
        <div class='col-8 mx-auto'>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-default btn-outline-dark btn-block">댓글저장</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}