{% extends 'shop/base.html' %}

{% block content %}
<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto">
            <h2 class="index-title-index text-center">REVIEW</h2>
            <hr class="index-title-divider">
        </div>
    </div>
  </div>  

<div class='container'>
    <div class='row'>
        <div class='col-12 col-lg-8 col-md-10 col-sm-12 mx-auto'>
            <table class="table text-center" style='font-size:medium;'>
                <colgroup>
                    <col span="1" style="width: 25%;">
                    <col span="1" style="width: 55%;">
                    <col span="1" style="width: 20%;">
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col" style='font-size:small'>상품사진</th>
                    <th scope="col" style='font-size:small'>내용</th>
                    <th scope="col" style='font-size:small'>평점</th>
                  </tr>
                </thead>
                <tbody>
                  {% for review in reviews %}  
                  <tr>
                    <td>
                        <img src="{{ review.cart_item.product_item.product.main_image.url }}" style='max-width:100%;max-height:80px;height:auto;object-fit:cover;'>
                    </td>
                    <td class="text-left align-middle">
                        <p class="mb-1" style='color:black;font-size:medium;font-weight:bold;'><a href="{% url 'reviews:detail' pk=review.pk %}" style='color:black;'>{{ review.title|slice:"27" }}{% if review.title|length|get_digit:"-1" > 27 %}...{% endif %}</p></a>
                        <p class="mb-1" style='font-size:small;'>{% if review.cart_item.product_item.product_type == 'bidding' %}<span style='color:orange;font-weight:bold;'>[경매]</span>{% endif %}{{ review.cart_item.product_item.product }}  </p>
                        <p class="mb-0" style='font-size:x-small;'><span>{{ review.user.username|slice:":2" }}*****</span><span>&nbsp;&nbsp;&nbsp;{{ review.created_date|date:'Y-m-d H:i:s' }}</span></p>
                    </td>
                    {% if review.rating == 0 %}
                    <td class="align-middle" style='font-size:small'>
                        <span style="font-size: 0.6em; color:black;">
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </span>
                    </td>
                    {% elif review.rating == 1 %}
                    <td class="align-middle" style='font-size:small'>
                        <span style="font-size: 0.6em; color:black;">
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </span>
                    </td>
                    {% elif review.rating == 2 %}
                    <td class="align-middle" style='font-size:small'>
                        <span style="font-size: 0.6em; color:black;">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </span>
                    </td>
                    {% elif review.rating == 3 %}
                    <td class="align-middle" style='font-size:small'>
                        <span style="font-size: 0.6em; color:black;">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </span>
                    </td>
                    {% elif review.rating == 4 %}
                    <td class="align-middle" style='font-size:small'>
                        <span style="font-size: 0.6em; color:black;">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </span>
                    </td>
                    {% elif review.rating == 5 %}
                    <td class="align-middle" style='font-size:small'>
                        <span style="font-size: 0.6em; color:black;">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                    </td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                  
                </tbody>
            </table>
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" style='color:black'>PREVIOUS</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">PREVIOUS</a>
                        </li>
                    {% endif %}
                    
                    {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="page-item active">
                        <a class="page-link" href="#" style='border-color:black;background-color:black'>{{ i }} <span class="sr-only">(current)</span></a>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}" style='color:black'>{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" tabindex="-1" style='color:black'>NEXT</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">NEXT</a>
                        </li>
                    {% endif %}
                </ul>
              </nav>
        </div>
    </div>
    


</div>
<hr>
<div class='col-12 my-5 px-5 rounded' style='background-color:#423F3B;'>
    <div class='container'>
        <div class='col pt-4 pb-4 text-center'>
            <span style="font-size: 0.6em; color: #ffe5a9;">
                <i class="fas fa-book-reader fa-5x"></i>
            </span>
        </div>
        <div class="store-card-header">
            <p class='text-center' style='color:white;font-weight:bold;font-size:xx-large;'>리뷰작성 관련</p>
        </div>
        <div class="info-card-description text-left">
            <ul style='color:white;'>
            <p style='font-size:medium;color: #ffe5a9;'><bold>물품에 대한 리뷰를 작성 하시면 포인트 1000점을 드립니다.</bold> </p>
            <p style='font-size:medium;color: #ffe5a9;'><bold>실제사진과 함께 포토리뷰를 작성 주시면 포인트 2000점을 드립니다.</bold> </p>
            
            <p style='font-size:medium;'>리뷰는 실구매한 상품에 대해서만 작성하실수 있습니다.</p>
            <p style='font-size:medium;'>마이페이지에 있는 결제완료 물품쪽에서 작성하시기 바랍니다.</p>
            <p style='font-size:medium;'>한 번 작성된 리뷰는 수정만 가능합니다.</p>
            
            
            </ul>
        </div>
        <hr class='mt-5' style='border-top: 1px dashed#ffe5a9;'>
    </div>
</div>
<hr>

{% endblock %}

<div class="review">
    <div class="date">
        {{ review.created_date }}
    </div>
    <h1><a href="{% url 'reviews:detail' pk=review.pk %}">{{ review.title }}</a></h1>
    <p>{{ review.text|linebreaksbr }}</p>
    <a href="{% url 'reviews:detail' pk=review.pk %}">Comments: {{ review.approved_comments.count }}</a>
    <a href="{% url 'reviews:detail' pk=review.pk %}">Comments: {{ review.comments.count }}</a>
    
</div>