{% extends 'shop/base.html' %}

{% block content %}
<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto">
            <h2 class="index-title-index text-center">REVIEW</h2>
            <hr class="index-title-divider">
        </div>
    </div>
  </div>  

<div class='container'>
    <div class='row'>
        <div class='col text-right'>
            <a href="{% url 'reviews:upload' %}"><button>리뷰업로드</button></a>
        </div>
    </div>
    <div class='row'>
        <div class='col'>
            <table class="table text-center" style='font-size:small;'>
                <colgroup>
                    <col span="1" style="width: 3%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 14%;">
                    <col span="1" style="width: 3%;">
                    
                    <col span="1" style="width: 40%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 10%;">
                    
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">USER</th>
                    <th scope="col">PRODUCT_ITEM</th>
                    <th scope="col">PRODUCT_TYPE</th>
                    <th scope="col">TITLE</th>
                    <th scope="col">CREATED DATE</th>
                    <th scope="col">RATE</th>
                  </tr>
                </thead>
                <tbody>
                  {% for review in reviews %}  
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ review.user }}</td>
                    <td>{{ review.product_item.product_item.product }}</td>
                    <td>{{ review.product_item.product_item.product_type }}</td>
                    <td><a href="{% url 'reviews:detail' pk=review.pk %}" style='color:black;'>{{ review.title|slice:":30" }}{% if review.title|length > 30 %}...{% endif %}</a></td>
                    <td>{{ review.created_date|date:'Y-m-d H:i:s' }}</td>
                    {% if review.rating == 0 %}
                    <td>
                        <span style="font-size: 0.6em; color:black;">
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </span>
                    </td>
                    {% elif review.rating == 1 %}
                    <td>
                        <span style="font-size: 0.6em; color:black;">
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </span>
                    </td>
                    {% elif review.rating == 2 %}
                    <td>
                        <span style="font-size: 0.6em; color:black;">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </span>
                    </td>
                    {% elif review.rating == 3 %}
                    <td>
                        <span style="font-size: 0.6em; color:black;">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </span>
                    </td>
                    {% elif review.rating == 4 %}
                    <td>
                        <span style="font-size: 0.6em; color:black;">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </span>
                    </td>
                    {% elif review.rating == 5 %}
                    <td>
                        <span style="font-size: 0.6em; color:black;">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                    </td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class='col-12 my-5 px-5 rounded' style='background-color:#423F3B;'>
        <div class='col pt-4 pb-4 text-center'>
            <span style="font-size: 0.6em; color: #ffe5a9;">
                <i class="fas fa-book-reader fa-5x"></i>
            </span>
        </div>
        <div class="store-card-header">
            <p class='text-center' style='color:white;font-weight:bold;font-size:xx-large;'>리뷰작성 관련</p>
        </div>
        <div class="info-card-description text-left">
            <ul style='color:white;'>
            <p style='font-size:medium;color: #ffe5a9;'><bold>물품에 대한 리뷰를 작성 하시면 포인트 1000점을 드립니다.</bold> </p>
            <p style='font-size:medium;color: #ffe5a9;'><bold>실제사진과 함계 올려주시면 포인트 2000점을 드립니다.</bold> </p>
                
            <p style='font-size:medium;'>리뷰는 실구매한 상품에 대해서만 작성하실수 있습니다.</p>
            <p style='font-size:medium;'>마이페이지에 있는 결제완료 물품쪽에서 작성하시기 바랍니다.</p>
            
            </ul>
        </div>
        <hr class='mt-5' style='border-top: 1px dashed#ffe5a9;'>
    </div>
</div>
    


{% endblock %}

<div class="review">
    <div class="date">
        {{ review.created_date }}
    </div>
    <h1><a href="{% url 'reviews:detail' pk=review.pk %}">{{ review.title }}</a></h1>
    <p>{{ review.text|linebreaksbr }}</p>
    <a href="{% url 'reviews:detail' pk=review.pk %}">Comments: {{ review.approved_comments.count }}</a>
    <a href="{% url 'reviews:detail' pk=review.pk %}">Comments: {{ review.comments.count }}</a>
    
</div>