{% extends 'shop/base.html' %}

{% block content %}
<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto">
            <h2 class="index-title-index text-center">REVIEW UPLOAD</h2>
            <hr class="index-title-divider">
        </div>
    </div>
</div>  

<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto">
            <form method="POST" class='post-form' enctype="multipart/form-data">
                <input type="hidden" name='cart_item_id' value='{{ cart_item.id }}'>
                <p>상품 : {{ cart_item.product_item.product.title }}</p>
                {% csrf_token %}
                {{ form.as_p }}
                <div class=row>
                    <div class='col-lg-8 col-md-6 col-sm-12 mx-auto'>
                        <button type="submit" class="save btn btn-dark btn-block">리뷰 업로드</button>
                    </div>
                </div>
                
            </form>            
        </div>
    </div>

    <div class="row mt-5">
        <!-- 재고안내 -->
        <div class='col-12 px-5 rounded' style='background-color:#423F3B;'>
            <div class='col pt-4 pb-4 text-center'>
                <span style="font-size: 0.6em; color: #ffe5a9;">
                    <i class="fas fa-cubes fa-5x"></i>
                </span>
            </div>
            <div class="store-card-header">
                <p class='text-center' style='color:white;font-weight:bold;font-size:xx-large;'>리뷰작성 안내</p>
            </div>
            <div class="info-card-description mb-5 text-left">
                <ul style='color:white;'>
                    <p style='font-size:medium;color: #ffe5a9;'><bold>상품을 받아보시고 리뷰를 작성하시면 포인트를 제공해드립니다.</bold> </p>
                    <p style='font-size:medium;'>상품사진과 함께 올리는 포토리뷰는 2,000포인트, 일반리뷰는 1,000포인트를 제공합니다.</p>
                    <p style='font-size:medium;'>리뷰는 작성 후 수정만 가능합니다.</p> 
                </ul>
            </div>
        </div>

</div>  





{% endblock %}