.bg-white {
    background-color: white;
}

.navbar a {
    color: gray;
}
.jb-box { 
    width: 100%; 
    height: 600px; 
    overflow: hidden;
    margin: 0px auto; 
    position: relative; 
}

.first-page { 
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    margin: 0px auto; 
    position: relative; 
}


video { width: 100%; }

/* .jb-text { position: absolute; top: 50%; width: 100%; }

.jb-text p { margin-top: -24px; text-align: center; font-size: 48px; color: #ffffff; }
.jb-text .index-container-1 { margin-top: -24px;} */

.index-container-1 {
    overflow-x: hidden;
    position: absolute;
    height: 180px;
    bottom: 30vh;
    width: 100%;
    top:200px;
}

.index-container-2 {
    position: relative;
    margin-left: 100px;
    height: 100%;
}


.title__how-to-buy {
    line-height: 1.2 !important;
    color: rgba(0,0,0,.87) !important;
    opacity: 0.87 !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    letter-spacing: 1.5px !important;
    padding-top: 50px !important;
    margin: 0px auto !important;
    font-size: 25px !important;
}


.style-title {
    color: #fff!important;
    text-align: left!important;
    text-transform: uppercase;
    margin: 0!important;
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    font-size: 25px;
    line-height: 1.1;
    text-shadow: 0.4px 0.4px #000;
}

.style-title-large {
    font-size: 47px;
}

.style-button-joining {
    width: 176px;
    margin-top: 20px;
    color:white;
}

.btn-outline-success{
    border-color:black;
}


ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
	}

.social-button {
    width: 80px;
}