{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
    <title>Good, world!</title>
  </head> 
  <body>
    <nav class="navbar navbar-expand-lg" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); background: rgb(255, 255, 255); padding: 6px 24px 0px; box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;">
      <a class="navbar-brand" href="{% url 'index' %}"><bold>MOUM International</bold></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'product_list' %}">PRODUCT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'buying_ticket' %}">TICKET</a>
          </li>
          <!-- 로긴은 로긴안했을때만 보이게하고 로긴하면 로그아웃버튼이 보이게해야겠다. -->
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="#">LOGIN</a> 
          </li>
          {% endif %}
          <!-- admin 버튼은 수퍼유저만 보이게해야겠다. -->
          <li class="nav-item">
            <a class="nav-link" href="#">ADMIN</a> 
          </li>      
          <li class="nav-item">
            <a class="nav-link" href="#">MY</a> 
          </li>      

          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul> -->
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <!-- 왜 아웃라인은 안되냐 확인필요. -->
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color:black;">Search</button>
        </form>
      </div>
    </nav>
    
  {% block content %}
  {% endblock %} 


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> -->

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->

    <div class='footer'>
      <hr style="margin: -1px 0px 0px; height: 1px; border: none; background-color: rgb(224, 224, 224);">
      
      <div class="style__contactRow___1O1IV" style="display: flex; flex-wrap: wrap; margin: 30px 0px 0px; width: 100%; height: 220px; overflow-y: auto;">
        <div style="box-sizing: border-box; padding: 0px; width: 30%; height: 200px;">
          <div cols="3" rows="1" style="position: relative; display: block; height: 100%; overflow: hidden;">
            <div class="style__socialSection___3iDti">
              <span>Connect With Us</span>
              <ul id="horizontal-list">
                <li class="facebook">
                  <a href="https://www.facebook.com/ConciergeAuctions">
                    <svg version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 92.5 96" xml:space="preserve" style="margin: 0px auto; width:40px">
                      <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M86.2,48c0,22-17.9,39.9-39.9,39.9S6.3,70,6.3,48 c0-22,17.9-39.9,39.9-39.9S86.2,26,86.2,48"></path>
                      <path fill="#000000" d="M36.9,41.4h4v-1.8v-1.8v-0.3c0-1.7,0-4.4,1.3-6c1.3-1.7,3.1-2.9,6.2-2.9c5.1,0,7.2,0.7,7.2,0.7l-1,5.9c0,0-1.7-0.5-3.2-0.5 c-1.6,0-3,0.6-3,2.1v0.6v2.1v1.8h6.4l-0.4,5.8h-5.9v20.2h-7.5V47.2h-4V41.4z"></path>
                    </svg>
                  </a>
                </li>
                <li class="youtube">
                  <a href="https://www.youtube.com/user/ConciergeAuctions">
                    <svg version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 92.5 96" xml:space="preserve" style="margin: 0px auto; width:40px">
                      <path fill="#FFFFFF" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M86.2,48c0,22-17.9,39.9-39.9,39.9S6.3,70,6.3,48 S24.2,8.1,46.2,8.1S86.2,26,86.2,48" width="40" height="40"></path>
                      <path fill="#000000" d="M66.4,65.4c0,3.7-3,6.8-6.8,6.8H32.9c-3.7,0-6.8-3-6.8-6.8V52.3c0-3.7,3-6.8,6.8-6.8h26.8c3.7,0,6.8,3,6.8,6.8V65.4z"></path>
                      <polygon fill="#FFFFFF" points="32.8,66.8 32.8,52.7 30,52.7 30,49.9 38,49.9 38,52.7 35.2,52.7 35.2,66.8 "></polygon>
                      <path fill="#FFFFFF" d="M45.6,54.1v12.7h-2.2v-1.3c-0.5,1.1-1.2,1.6-2.1,1.6c-1.5,0-2.2-1-2.2-3.1v-10h2.2v8.3c0,0.7,0,1.2,0.1,1.5 c0.1,0.5,0.4,0.8,0.8,0.8c0.5,0,0.8-0.3,0.9-0.8c0.1-0.3,0.1-0.8,0.1-1.6v-8.1H45.6z"></path>
                      <path fill="#FFFFFF" d="M47.6,66.8V49.9h2.3v5.3c0.4-0.9,1-1.4,1.9-1.4c1.1,0,1.9,0.8,2.3,2.5c0.2,0.8,0.3,2.3,0.3,4.3 c0,2-0.1,3.4-0.3,4.2c-0.4,1.6-1.1,2.4-2.3,2.4c-1,0-1.6-0.6-2-1.7v1.3H47.6z M50.9,56.2c-0.6,0-1,0.7-1.1,2c0,0.3,0,1.2,0,2.8 c0,1.2,0,2,0.1,2.3c0.1,0.9,0.5,1.4,1.1,1.4c0.6,0,0.9-0.6,1-1.7c0-0.2,0-1.1,0-2.5c0-1.5,0-2.3,0-2.5 C51.8,56.8,51.5,56.2,50.9,56.2"></path>
                      <path fill="#FFFFFF" d="M60.3,62.4h2.1c0,0.1,0,0.1,0,0.2c0,0.1,0,0.2,0,0.2c0,1.5-0.3,2.5-0.8,3.2c-0.5,0.7-1.4,1-2.5,1 c-1.2,0-2-0.4-2.5-1.2c-0.4-0.6-0.7-1.6-0.8-2.8c-0.1-0.5-0.1-1.6-0.1-3.1c0-1.2,0-2.1,0.1-2.6c0.1-1,0.3-1.8,0.7-2.4 c0.6-0.9,1.5-1.3,2.7-1.3c1.2,0,2.1,0.5,2.6,1.4c0.4,0.8,0.7,2.3,0.7,4.7v1H58c0,0.1,0,0.4,0,0.8c0,0.9,0,1.6,0.1,2 c0.2,0.8,0.5,1.2,1,1.2C59.9,64.9,60.3,64.1,60.3,62.4 M58,58.8h2.2v-0.5c0-0.7,0-1.2-0.2-1.6c-0.2-0.5-0.5-0.7-1-0.7 c-0.4,0-0.7,0.2-0.9,0.5c-0.2,0.4-0.3,1-0.3,1.8l0,0.2C58,58.6,58,58.7,58,58.8"></path>
                      <polygon fill="#000000" points="34.4,40.8 34.4,33.6 30.9,23.8 33.6,23.8 35.6,30.2 37.6,23.8 40.2,23.8 36.8,33.6 36.8,40.8 "></polygon>
                      <path fill="#000000" d="M41,34.5c0-2.2,0.2-3.8,0.5-4.7c0.5-1.4,1.5-2.1,3-2.1c1.5,0,2.5,0.7,3,2.1c0.3,0.9,0.5,2.5,0.5,4.7c0,2.2-0.2,3.8-0.5,4.7 c-0.5,1.4-1.5,2-3,2c-1.5,0-2.5-0.7-3-2.1C41.2,38.2,41,36.7,41,34.5 M43.4,34.6c0,1.6,0,2.4,0,2.6c0.1,1.1,0.5,1.7,1.1,1.7 c0.6,0,1-0.5,1.1-1.5c0-0.2,0-1,0-2.4v-1.2c0-1.3,0-2.1-0.1-2.3c-0.1-1-0.5-1.5-1.1-1.5c-0.6,0-0.9,0.4-1.1,1.3c0,0.3-0.1,1-0.1,2.2 V34.6z"></path>
                      <path fill="#000000" d="M56.1,28.1v12.8h-2.2v-1.3c-0.5,1.1-1.2,1.6-2.1,1.6c-1.5,0-2.2-1-2.2-3.1v-10h2.2v8.3c0,0.7,0,1.2,0.1,1.5 c0.1,0.5,0.4,0.8,0.8,0.8c0.5,0,0.8-0.3,0.9-0.8c0.1-0.3,0.1-0.9,0.1-1.6v-8.2H56.1z"></path>
                    </svg>
                  </a>
                </li>
                <li class="instagram">
                  <a href="https://instagram.com/conciergeauctions">
                    <svg version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 92.5 96" xml:space="preserve" style="margin: 0px auto; width:40px">
                      <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M86.2,48c0,22-17.9,39.9-39.9,39.9 C24.2,87.9,6.3,70,6.3,48c0-22,17.9-39.9,39.9-39.9C68.3,8.1,86.2,26,86.2,48"></path>
                      <path fill="#000000" d="M61.7,27.4H30.8c-2.7,0-4.8,2.2-4.8,4.8v30.9c0,2.7,2.2,4.8,4.8,4.8h30.9c2.7,0,4.8-2.2,4.8-4.8V32.2 C66.5,29.6,64.4,27.4,61.7,27.4 M54.1,33.2c0-0.6,0.5-1.1,1.1-1.1h5.5c0.6,0,1.1,0.5,1.1,1.1v5.5c0,0.6-0.5,1.1-1.1,1.1h-5.5 c-0.6,0-1.1-0.5-1.1-1.1V33.2z M46.3,40c4.3,0,7.8,3.5,7.8,7.8c0,4.3-3.5,7.8-7.8,7.8c-4.3,0-7.8-3.5-7.8-7.8 C38.5,43.5,42,40,46.3,40 M62,62.1c0,0.6-0.5,1.1-1.1,1.1H31.8c-0.6,0-1.1-0.5-1.1-1.1V44.5h3.8c-0.3,1-0.4,2.1-0.4,3.2 C34,54.5,39.5,60,46.3,60c6.8,0,12.3-5.5,12.3-12.3c0-1.1-0.2-2.2-0.4-3.2H62V62.1z"></path>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <div style="box-sizing: border-box; padding: 0px; width: 40%; height: 200px;">
              <div cols="4" rows="1" style="position: relative; display: block; height: 100%; overflow: hidden;">
                <div class="style__companyDetails___A6xCJ">
                  <p><!-- react-text: 2837 -->© 2008-<!-- /react-text --><!-- react-text: 2838 -->2021<!-- /react-text --><!-- react-text: 2839 --> Concierge Auctions, LLC. All Rights Reserved.<!-- /react-text --></p>
                  <p>405 Lexington Ave, 26th Floor, NYC, NY 10174</p>
                  <p>800 Brazos Street, Suite 220, Austin, TX 78701</p>
                  <p><a href="tel:212-202-2940">212-202-2940</a></p>
                  <ul>
                    <li><a href="/terms-of-service">Terms of Service</a></li>
                    <li><a href="/copyright-policy">Copyright Policy</a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>