{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
    <title>Good, world!</title>
  </head> 
  <body>
    <div>
        <div class="jb-box first-page">
            <img src="{% static 'shop/first_page_image.jpg' %}" style="width:50%;height:50%">
            <div class="jb-text">
                <div class="index-container-1">
                    <div class='index-container-2'>   
                        <h1 class="style-title">우리나라의 유일한 병행수입명품 경매사이트</h1>
                        <h1 class="style-title style-title-large">MOUM International</h1>
                        {% if user.is_authenticated %}                
                        <button type="button" class="btn btn-warning style-button-joining">JOIN BIDDING</button>
                        {% else %}
                        <button type="button" class="btn btn-warning style-button-joining">JOIN SITE</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>      
  </body>

