{% extends 'shop/base.html' %}

{% block content %}
{% load static %}
<!-- 카테고리의 네브바 -->
    <!-- 드롭다운메뉴달고 확인누르면 바로 product_list에 카테고리가 전달되어 if로 필터들어가서 리프레쉬되게.. -->
    <!-- 브랜드별, 카테고리별 정도 설정하여 view에서는 sql ORM문을 통해 필터할수 있게하셈. 모든 필터를 명시적으로 보이게 하는것이 파이썬스러운것. -->
<!-- <ul class="nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Category</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">전체</a>
        <a class="dropdown-item" href="#">여성의류</a>
        <a class="dropdown-item" href="#">남성의류</a>
        <a class="dropdown-item" href="#">신발</a>
        <a class="dropdown-item" href="#">패션잡화</a>
        <a class="dropdown-item" href="#">유아동</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">좋아요누른거</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">경매종료물품(1주일이내)</a>
      </div>
    </li>
  </ul> -->


<!-- 프로덕트 리스트 헤더 -->

<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto">
            <h2 class="index-title-index text-center">PRODUCT LIST</h2>
            <hr class="index-title-divider">
        </div>
    </div>
</div>  

<!-- 프로덕트 카테고리 선택바 -->
<!-- <ul class="nav nav-tabs sticky-top-2" id="myTab" role="tablist" style="background-color:white;">
    <li class="nav-item">
      <a class="nav-link active" id="total-tab" data-toggle="tab" href="#total" role="tab" aria-controls="total" aria-selected="true">전체</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="woman-tab" data-toggle="tab" href="#woman" role="tab" aria-controls="woman" aria-selected="false">여성의류</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="man-tab" data-toggle="tab" href="#man" role="tab" aria-controls="man" aria-selected="false">남성의류</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="total" role="tabpanel" aria-labelledby="total-tab">
        <p>전체 목록</p>
    </div>
    <div class="tab-pane fade" id="woman" role="tabpanel" aria-labelledby="woman-tab">
        <p>여성의류 목록</p>
    </div>
    <div class="tab-pane fade" id="man" role="tabpanel" aria-labelledby="man-tab">
        <p>남성의류 목록</p>
    </div>
  </div>
   -->
<!-- <div class="btn-toolbar sticky-top-2" role="toolbar" aria-label="Toolbar with button groups" style="background-color:white;padding:10px;border-bottom:1px solid rgb(238, 238, 238);">
    <div class="btn-group mr-2" role="group" aria-label="Group1">
        <div type="submit" class="btn btn-secondary">전체</button>
        
    </div>
    <p><bold> 전체</bold></p>
    <div class="btn-group mr-2" role="group" aria-label="Group2">
        <a href="{% url 'product_list' 'woman' %}"><button type="button" class="btn btn-secondary">여성의류</button></a>
        <button type="button" class="btn btn-secondary">남성의류</button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Group3">
        <button type="button" class="btn btn-secondary">신발</button>
        <button type="button" class="btn btn-secondary">패션잡화</button>
    </div>
    <div class="btn-group" role="group" aria-label="Group4">
        <button type="button" class="btn btn-secondary">유아동</button>
    </div>
</div>
<form method="POST" class='post-form'>
    <button type="submit" name="total" class="btn btn-secondary">전체</button>
</form> -->

<div class='container-fluid sticky-top-2 text-center' style="background-color:white;padding:10px 5px 10px 5px;border-bottom:1px solid rgb(238, 238, 238);">
    <div class='container'>
        <div class="row">
            <div class='col-2 product-list-category' style='padding:0;'>
                <a href="{% url 'product_list' %}"><p class="product-list-category-text">전체</p></a>
            </div>
            <div class='col-2 product-list-category' style='padding:0;'>
                <a href="{% url 'product_list' 'woman' %}"><p class="product-list-category-text">여성의류</p></a>
            </div>
            <div class='col-2 product-list-category' style='padding:0;'>
                <a href="{% url 'product_list' 'man' %}"><p class="product-list-category-text">남성의류</p></a>
            </div>
            <div class='col-2 product-list-category' style='padding:0;'>
                <a href="{% url 'product_list' 'shoes' %}"><p class="product-list-category-text">신발</p></a>
            </div>
            <div class='col-2 product-list-category' style='padding:0;'>
                <a href="{% url 'product_list' 'fashion_accessory' %}"><p class="product-list-category-text">패션잡화</p></a>
            </div>
            <div class='col-2 product-list-category' style='padding:0;'>
                <a href="{% url 'product_list' 'kid' %}"><p class="product-list-category-text">유아동</p></a>
            </div>
            
        </div>
    </div>   
</div>


<!-- 프로덕트 리스트-->

<div class='container' style="width:80%;">
    <div class='row'>
    {% for product in products %}
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="product-list-image">
                <picture>
                    <a href="{% url 'product_detail' pk=product.pk %}"><img src="{{ product.image.url }}" class="product-main-image"></a>
                    <!-- <a href="{% url 'product_detail' pk=product.pk %}"><img src="{% static 'shop/product_ex1/1_16_16.jpg' %}" class="product-main-image"></a> -->

                <!-- <div class="product-add-to-wishlist">
                    <button aria-label="product_page_add_to_wishlist" aria-disabled="false" tabindex="0" class="product-icon-button">
                        <svg class="ui-icon-navigation-wishlist-off" id="sprite-navigation-wishlist-off" viewBox="0 0 80 80">
                            <path d="M40 74.8l-1.5-.9C37 72.9 0 50 0 30.3a27.3 27.3 0 015.7-17.1 21.1 21.1 0 0117-8c8.7 0 14.3 5.1 17.2 8.9a21.5 21.5 0 0117.6-8.9C72.1 5.2 80 18.1 80 30.3c0 20-37 42.7-38.6 43.6zm-17.3-64c-11.3 0-17.1 9.8-17.1 19.5 0 13.1 23.6 31 34.4 37.9 10.8-6.9 34.4-24.6 34.4-37.9 0-9.7-5.8-19.5-16.9-19.5s-14.9 9.6-15 9.7l-2.4 5.8-2.7-5.7c-.1-.4-4.7-9.8-14.7-9.8z" fill-rule="evenodd"></path>
                        </svg>
                    </button>
                </div> -->

                {% if product.bidding %}
                <div class="row product-card__div product-card-on-bidding">
                {% else %}
                <div class="row product-card__div">
                {% endif %}
                    <div class='col-6 align-self-center'>
                        <span class="product-card__name">{{ product.brand }}</span></br>
                        <span class="product-card__name" style="font-weight:bold;font-size:20px;">{{ product.product }}</span></br>
                        <span class="product-card__price" style="font-weight:bold;font-size:15px;">₩{{ product.start_price }}</span>
                    </div>

                    <div class='col-6 ml-auto align-self-center product-card__bidding'>
                        {% if product.bidding %}
                        <p class="product-card__on-bidding text-right">On Bidding</p>
                        <p class="text-right">2hr 10min left</p>
                        
                        {% else %}
                        <p class="text-right">START BIDDING AT</p>
                        <p class="text-right">{{ product.bidding_date|date:"Y/m/d f" }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>    
</div>
{% endblock %}