<footer style='background-color:#423f3b'>    
    <div class="container" style="padding-top:30px;color:#cbbeb5;">
      <div class="row">
        <!-- <div class="col-5 mr-auto mb-5">
            <div class="footer-social text-center">
              <p class='mb-2' style='font-size:medium;font-weight:bold;'>소셜미디어</p>
              <ul class='list-inline'>
                <li class="list-inline-item">
                  <a href="">
                    <span style="font-size: 0.6em; color: #ffe5a9;">
                      <i class="fab fa-instagram fa-3x"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="">
                    <span style="font-size: 0.6em; color: #ffe5a9;">
                      <i class="fab fa-youtube fa-3x"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="">
                    <span style="font-size: 0.6em; color: #ffe5a9;">
                      <i class="fas fa-envelope fa-3x"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="">
                    <span style="font-size: 0.6em; color: #ffe5a9;">
                      <i class="fab fa-facebook fa-3x"></i>
                    </span>
                  </a>
                </li>
              </ul>
              <div class='col-12'>
                <p class='mb-2' style='font-size:medium;font-weight:bold;'>고객센터</p>
                  <span style="font-size: 0.5em; color: #ffe5a9;">
                    <i class="fas fa-phone-square-alt fa-2x"></i></span>
                    <span style='font-size:small;font-weight:bold;'>  031-945-8832</span>
              </div>
            </div>
          </div> -->

      
        <div class="col-12 mr-auto mb-5">
          <div style="box-sizing: border-box; padding: 0px; width: 100%;">
            <div cols="4" rows="1" style="position: relative; display: block; height: 100%; overflow: hidden;">
              <div class="text-center">
                <p class='mb-2' style='font-size:large;font-weight:bold;'>MOUM8</p>
                <p class='mb-2' style='font-size:medium;font-weight:bold;'>© 2021 MOUM International, All Rights Reserved.</p>
                <p class='mb-0' style='font-size:small;'>모움 인터내셔널, 경기 파주시 탄현면 필승로210, 109~112</p>
                <p class='mb-0' style='font-size:small;'>대표 유지나, 유선번호 031-945-8832</p>
                <p class='mb-0' style='font-size:small;'>사업자등록번호 : 515-36-91661</p>
                <p class='mb-0' style='font-size:small;'>통신판매번호 : 2016-경기파주-0005</p>
              </div>
              <br>

              <div class='col-12 text-center'>
                <p class='mb-2' style='font-size:medium;font-weight:bold;'>고객센터
                  <span style="font-size: 0.5em; color: #ffe5a9;">
                    <i class="fas fa-phone-square-alt fa-2x"></i></span>
                    <span style='font-size:small;font-weight:bold;'>  031-945-8832</span></p>
              <a class="" href="{% url 'shop:introduction' %}"style='color:#ffe5a9;'>ABOUT MOUM8</a><br>
              <a href="{% url 'shop:privacy' %}" style='color:#ffe5a9;'>개인정보 처리방침</a><br>
              <a href="{% url 'shop:terms' %}" style='color:#ffe5a9;'>약관 / 방침</a><br>


              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-3 text-center">
          <p class='mb-2' style='font-size:medium;font-weight:bold;'>사이트 정책</p>
          <ul class="list-unstyled">
            <li><a href="/terms-of-service" style='color:#cbbeb5;'>Terms of Service</a></li>
            <li><a href="/copyright-policy" style='color:#cbbeb5;'>Copyright Policy</a></li>
            <li><a href="/privacy-policy" style='color:#cbbeb5;'>Privacy Policy</a></li>
          </ul>
        </div> -->
      </div>
    </div>
</footer>