{% extends 'shop/base.html' %}

{% block content %}

<div class='container'>
{% if not billing_profile %}
    <div class='row text-center'>
        <div class='col-12 col-md-6'>
            <p class='lead'>Login</p>
            {% include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}
        </div>
        <div class='col-12 col-md-6'>
            <p>Continue as Guest</p>   
            {% url "guest_register" as guest_register_url %}
            {% include 'accounts/snippets/form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}

        </div>
    </div>
{% else %}

    {% if not object.shipping_address %}
        <div class='row'>
            <div class='col-12'>
                <p class='lead'>Shipping Address</p>
                <hr/>
            </div>
    
            <div class='col-6'>
                {% url "checkout_address_create" as checkout_address_create %}
                {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}
            </div>
            <div class='col-6'>
                {% url "checkout_address_reuse" as checkout_address_reuse %}
                {% include 'addresses/prev_addresses.html' with address_qs=address_qs address_type='shipping' action_url=checkout_address_reuse %}
            </div>
        </div>
    {% elif not object.billing_address %}
        <div class='row'>
            <div class='col-12'>
                <p class='lead'>Billing Address</p>
                <hr/>
            </div>
            <div class='col-6'>
                {% url "checkout_address_create" as checkout_address_create %}
                {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='billing' %}
            </div>
            <div class='col-6'>
                {% url "checkout_address_reuse" as checkout_address_reuse %}
                {% include 'addresses/prev_addresses.html' with address_qs=address_qs address_type='billing' action_url=checkout_address_reuse %}
            </div>
        </div>
    {% else %}
        {% if not has_card %}
            <!-- Enter Credit Card hear -->
            <!-- 여기에 지금은 credit card 등록이 뜨지만 아임포트를 사용하면 카드가 있는지 여부보다는 바로 checkout 하는게 나을수있다.  -->
            <!-- 즉 카드의 보유여부 따위는 중요하지 않다는 뜻.. -->
            <!-- 파이널 체크아웃에 바로 그냥 연결시켜 버리자. -->
            <div class='stripe-payment-form' data-token='{{ publish_key }}' data-next-url='{{ request.build_absolute_uri }}' data-btn-title='Add Payment Method'></div>

        {% else %}
            <h1>Finalize Checkout</h1>
            <p>Cart Items: {% for item in object.cart.products.all %}{{ product }}{% if not forloop.last %},{% endif %}{% endfor %}</p>
            <p>Shipping Address: {{ object.shipping_address.get_address }}</p>
            <p>Billing Address: {{ object.billing_address.get_address }}</p>
            <p>Payment Method: {{ billing_profile.default_card }} (<a href="{{ billing_profile.get_payment_method_url }}?next={{ request.build_absolute_uri }}">Change</a>)</p>
            <p>Cart Total: {{ object.cart.total }}</p>
            <p>Shipping Total : {{ object.shipping_total }}</p>
            <p>Order Total : {{ object.total }}</p>
            <!-- 여기 폼에다가 수량 감소관련 정보를 POST할 수 있게 해줘야겠다.ㄴ -->

            <div class="row">
                <div class='col'>
                    <form class='form' method='POST' action="">
                        {% csrf_token %}
                        <input type="hidden" name="order_obj" value="{{object}}">
                        <button type='submit' class='btn btn-success btn-block'>CHECKOUT(STRIPE)</button>
                    </form>
                </div>
            </div>
            
        {% endif %}
    {% endif %}
{% endif %}
</div>

<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<!-- iamport.payment.js -->
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

<!-- 아임포트 CUSTOM js -->
<script>
    function requestPay() {
    // IMP.request_pay(param, callback) 호출
        var IMP = window.IMP;
        var code = "imp30832141";  // FIXME: 가맹점 식별코드
        IMP.init(code);

        // 결제요청
        IMP.request_pay({ // param
            pg : 'html5_inicis', // pg 사 선택
            pay_method : 'card',
            merchant_uid : "ORD20180131-0000011",// 'merchant_' + new Date().getTime(),
            name : '주문명:결제테스트',
            amount : 100,
            buyer_email : 'iamport@siot.do',
            buyer_name : '구매자이름',
            buyer_tel : '010-1234-5678',
            buyer_addr : '서울특별시 강남구 삼성동',
            buyer_postcode : '123-456',
            m_redirect_url : 'https://www.yourdomain.com/payments/complete'
        }, function (rsp) { // callback
            if (rsp.success) { // 결제 성공 시: 결제 승인 또는 가상계좌 발급에 성공한 경우
                // jQuery로 HTTP 요청
                jQuery.ajax({
                    url: "https://www.myservice.com/payments/complete", // 가맹점 서버
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    data: {
                        imp_uid: rsp.imp_uid,
                        merchant_uid: rsp.merchant_uid
                    }
                
                }).done(function (data) {
                    var msg = '결제가 완료되었습니다.';
                    msg += '고유ID : ' + rsp.imp_uid;
                    msg += '상점 거래ID : ' + rsp.merchant_uid;
                    msg += '결제 금액 : ' + rsp.paid_amount;
                    msg += '카드 승인번호 : ' + rsp.apply_num;
                    // 가맹점 서버 결제 API 성공시 로직                    
                })
            } else {
                var msg = '결제에 실패하였습니다. 에러내용 : ' + rsp.error_msg
            }
            alert(msg);
        });
    }
</script>
{% endblock %} 