{% extends 'shop/base.html' %}

{% block content %}
<div class='container my-2 py-2' style='min-height:300px;'>
    <div class='row'>
        <div class='col-12 mx-auto py-5 text-center'>
            <p style='font-weight:bold;font-size:x-large;'>결제가 실패하였습니다.</p>
            <p style='font-weight:bold;font-size:x-large;'>다시 결제를 시도해주세요.</p>
            <p style='font-weight:bold;font-size:medium;'>※ 추가로 문제 발생 시 고객센터로 문의해주세요.(031-945-8832)</p>
        </div>
    </div>
    <div class='row'>
        <div class='col-12 col-lg-7 col-md-10 col-sm-12 mx-auto mb-2'>
            <a href="{% url 'shop:index' %}"><button class='btn btn-outline-dark btn-block'>홈으로</button></a>
        </div>
        <div class='col-12 col-lg-7 col-md-10 col-sm-12 mx-auto'>
            <a href="{% url 'orders:list' %}"><button class='btn btn-outline-dark btn-block'>주문/배송현황</button></a>
        </div>
    </div> 
</div>
{% endblock %} 