{% extends 'shop/base.html' %}

{% block content %}
<div class='col-12 mx-auto py-5 text-center'>
    <p style='font-weight:bold;font-size:xx-large;'>주문이 완료되었습니다.</p>
    <p style='font-weight:bold;font-size:xx-large;'>감사합니다.</p>
</div>

<div class='container'>
    <div class='row'>
        <div class='col-12 col-lg-7 col-md-10 col-sm-12 mx-auto mb-2'>
            <a href="{% url 'shop:index' %}"><button class='btn btn-outline-dark btn-block'>홈으로</button></a>
        </div>
        <div class='col-12 col-lg-7 col-md-10 col-sm-12 mx-auto'>
            <a href="{% url 'orders:list' %}"><button class='btn btn-outline-dark btn-block'>주문/배송현황</button></a>
        </div>
    </div> 
</div>
{% endblock %} 