{% extends 'shop/base.html' %}

{% block content %}
<div class='container'>
    <h1>Cart</h1>

    {% if cart.products.exists %}
    <table class="table cart-table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Information</th>
            <th scope="col">Remove?</th>
          </tr>
        </thead>
        <tbody class='cart-body'>
          {% for product in cart.products.all %}
          <tr class='cart-product'>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></td>
            
            {% if product.product_type == 'bidding' %}
            <td>{{ product.current_price }}</td>
            {% else %}
            <td>{{ product.limit_price }}</td>
            {% endif %}
            <td>{{ product.product_type }}</a></td>
            <td>{% include 'carts/snippets/remove-product.html' with product_id=product.id %}
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan='2'></td>
            <td><b>Subtotal</b> <span class='cart-subtotal'>{{ cart.subtotal }}</span></td>
            <td></td>
          </tr>
          <tr>
            <td colspan='2'></td>
            <td><b>Total</b> <span class='cart-total'>{{ cart.total }}</span></td>
            <td></td>
          </tr>
          <tr>
            <td colspan='2'></td>
            <td><a class='btn btn-success' href="{% url 'carts:checkout' %}">Checkout</a></td>
            <td></td>
          </tr>
        </tbody>
    </table>

    <div class='cart-item-remove-form' style='display:none;'>
      {% include 'carts/snippets/remove-product.html' %}
    </div>

    {% else %}
        <p class='lead'>Cart is empty</p>
    {% endif %}
</div>

{% endblock %}