{% extends 'shop/base.html' %}

{% block content %}
<div class='container'>
    <h1>Cart</h1>

    {% if cart.cart_items.exists %}
    <table class="table cart-table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">단가</th>
            <th scope="col">수량</th>
            <th scope="col">가격</th>
            <th scope="col">구매종류</th>
            <th scope="col">Remove?</th>
          </tr>
        </thead>
        <tbody class='cart-body'>
          {% for cart_item in cart.cart_items.all %}
          <tr class='cart-product'>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{{ cart_item.product.get_absolute_url }}">{{ cart_item.product.title }}</a></td>
            <td>{{ cart_item.price }} 원</td>
            <td>{{ cart_item.amount }} EA</td>
            <td>{{ cart_item.subtotal }} 원</td>
            <td>{{ cart_item.product_type }}</a></td>
            <!-- JQuery 잘몰라서 그냥 remove 버튼 누르면 redirect하게 한다.... -->
            <td>
              <form method='POST' action="{% url 'carts:update' %}" data-endpoint="{% url 'carts:update' %}">
                {% csrf_token %}
                <input class='cart-item-product-id' type="hidden" name='product_id' value='{{ cart_item.product_id }}' />
                <input class='cart-item-product-type' type="hidden" name='product_type' value='{{ cart_item.product_type }}' />
                <input id="product" type="hidden" name="at_cart" value="at_cart">
                <button type='submit' class='btn btn-default btn-sm'>Remove?</button>
              </form>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan='2'></td>
            <td><b>Subtotal</b> <span class='cart-subtotal'>{{ cart.subtotal }}</span></td>
            <td></td>
          </tr>
          <tr>
            <td colspan='2'></td>
            <td><b>Total</b> <span class='cart-total'>{{ cart.total }}</span></td>
            <td></td>
          </tr>
        </tbody>
    </table>

    <div class="row">
      <div class='col'>
          <form class='form' method='POST' action="{% url 'carts:checkout' %}">
              {% csrf_token %}
              <input type="hidden" name="checkout_method" value="stripe">
              <button type='submit' class='btn btn-success btn-block'>CHECKOUT(STRIPE)</button>
          </form>
      </div>
      <div class='col'>
          <form class='form' method='POST' action="{% url 'carts:checkout-iamport' %}">
              {% csrf_token %}
              <input type="hidden" name="checkout_method" value="iamport">
              <button type='submit' class='btn btn-primary btn-block'>CHECKOUT(IAMPORT)</button>
          </form>
      </div>
  </div>


    <div class='cart-item-remove-form' style='display:none;'>
      {% include 'carts/snippets/remove-product.html' %}
    </div>

    {% else %}
        <p class='lead'>Cart is empty</p>
    {% endif %}
</div>

{% endblock %}