{% extends 'shop/base.html' %}

{% block content %}
{% load humanize %}
<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto">
            <h2 class="index-title-index text-center">{{ user }}님의 포인트 현황</h2>
            <hr class="index-title-divider">
        </div>
    </div>
    <div class='row'>
        <div class='col-4 ml-auto text-right'>
            <a href="{% url 'accounts:home' %}"><button class='btn btn-outline-dark btn-sm'>마이페이지 홈 돌아가기</button></a>
        </div>
    </div>
    <hr class='mt-1'>
</div>  

<div class='container'>
    <div class='row'>
        <div class='col-12 col-lg-10 col-md-10 col-sm-12 mx-auto'>
            <p style='font-size:small;'>현재 남은 포인트 : {{ user.points }} 포인트</p>
        </div>
    </div>
    <div class='row'>
        <div class='col-12 col-lg-10 col-md-10 col-sm-12 mx-auto'>
            <table class='table text-center'>
                <colgroup>
                    <col span="1" style="width: 22%;">
                    <col span="1" style="width: 50%;">
                    <col span="1" style="width: 28%;">
                                        
                </colgroup>
                <thead>
                    <th style='font-size:small;'>포인트</th>
                    <th style='font-size:small;'>내용</th>
                    <th style='font-size:small;'>날짜</th>
                    
                </thead>
                
                <tbody>
                    {% for point in points %}
                    <tr>
                        <td class='py-0'><p class='py-0 my-2' style='font-size:small;'>{% if point.amount > 0 %}+{{ point.amount }} 포인트{% else %}{{ point.amount }} 포인트{% endif %}</p></td>
                        <td class='py-0'><p class='py-0 my-2' style='font-size:small;'>{{ point.details }}</p></td>
                        <td class='py-0'><p class='py-0 my-2' style='font-size:small;'>{{ point.timestamp|date:'Y-m-d H:i:s' }}</p></td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="3"><p class='lead'>포인트가 없습니다.</p></td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}