{% extends 'shop/base.html' %}
{% block header %}
<style>

.table td, .table th {
    padding:5px;
    
}

</style>
{% endblock %}
{% block content %}
{% load humanize %}
<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto">
            <h2 class="index-title-index text-center">주문 완료 상세</h2>
            <hr class="index-title-divider">
        </div>
    </div>
</div>  
<hr/>

<div class='container my-2 py-2 px-4' style='min-height:300px;'>
    <div class='row'>
        <div class='col-4 ml-auto text-right'>
            <a href="{% url 'orders:list' %}"><button class='btn btn-outline-dark btn-sm'>주문현황 돌아가기</button></a>
        </div>
    </div>
    <div class='row'>
        <div class='col-12 col-lg-6 col-md-12 col-sm-12'>
            <!-- 아이템들 -->
            <div class='row'>
                <div class='col-12 pl-0 pr-3 text-left'>
                    <p class='mb-1' style='font-weight:bold;'>배송정보</p>
                    <hr class='mt-0' style='border-top:2px solid #423f3b;height:5px;box-shadow: 0 10px 5px -10px #8c8c8c inset;'>
                </div>
                <div class='row mb-5' style='width:100%;'>
                    <div class='col'>
                        <table class="table table-bidding-info text-center align-middle">
                            <colgroup>
                                <col span="1" style="width: 30%;">
                                <col span="1" style="width: 70%;">
                            </colgroup>
                            <thead class=>
                                <th class='align-middle' scope="col" style='font-size:small;'>구분</th>
                                <th class='align-middle' scope="col" style='font-size:small;'>내용</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="align-middle table-bidding-info" style='font-size:small;'>고객성명</td>
                                    <td class="align-middle table-bidding-info" style='font-size:small;'>{{ object.shipping_address.full_name }}</td>
                                </tr>
                                <tr>
                                    <td class="align-middle table-bidding-info" style='font-size:small;'>이메일</td>
                                    <td class="align-middle table-bidding-info" style='font-size:small;'>{{ object.shipping_address.email }}</td>
                                </tr>
                                <tr>
                                    <td class="align-middle table-bidding-info" style='font-size:small;'>전화번호</td>
                                    <td class="align-middle table-bidding-info" style='font-size:small;'>{{ object.shipping_address.phone_number }}</td>
                                </tr>
                                <tr>
                                    <td class="align-middle table-bidding-info" style='font-size:small;'>배송지 주소</td>
                                    <td class="align-middle table-bidding-info" style='font-size:small;'>{{ object.shipping_address.get_address }}</td>
                                </tr>
                                <tr>
                                    <td class="align-middle table-bidding-info" style='font-size:small;'>총 금액</td>
                                    <td class="align-middle table-bidding-info" style='font-size:small;'>{{ object.cart.total|intcomma }} 원</td>
                                </tr>
                                <tr>
                                    <td class="align-middle table-bidding-info" style='font-size:small;'>배송 요청사항</td>
                                    <td class="align-middle table-bidding-info" style='font-size:small;'>{% if object.cart.customer_request %}{{ object.cart.customer_request }}{% else %}요청사항 없음.{% endif %}</td>
                                </tr>
                                
                            </tbody>
                        </table>

                        <hr class='mt-0' style='border-top:2px solid #423f3b;height:5px;box-shadow: 0 10px 5px -10px #8c8c8c inset;'>
                    </div>
                </div>
            </div>
        </div>
        <div>
            
        </div>
        <div class='col-12 col-lg-6 col-md-12 col-sm-12'>

            <!-- 아이템수 -->
            <div class='col-12 pl-0 pr-3 text-left'>
                <p class='mb-1' style='font-weight:bold;'>{{ object.cart.cart_items.count }} ITEM{{ object.cart.cart_items.count|pluralize }}</p>
                <hr class='mt-0' style='border-top:2px solid #423f3b;height:5px;box-shadow: 0 10px 5px -10px #8c8c8c inset;'>
            </div>
            
            {% for cart_item in object.cart.cart_items.all %}
            <div class='row mb-3' style='width:100%;'>
                <div class='col-5'>
                    <!-- 이미지 -->
                    {% if cart_item.product_type == 'bidding' or cart_item.product_type == 'normal' %}
                    <!-- 아래의 slug주소도되고 주석처리한 pk로도 됨. -->
                    <img src="{{ cart_item.product_item.product.main_image.url }}" style='max-width:100%;max-height:100%;'>
                    {% elif cart_item.product_type == 'ticket' %}
                    <p class='text-center align-middle' style='font-size:1.5em; color:#423f3b;margin-top:30px;'>
                        <i class="fas fa-ticket-alt fa-5x"></i>
                    </p>
                    {% endif %}
                </div>
                <div class='col'>
                    <!-- 물품명 -->
                    
                    
                    {% if cart_item.product_type == 'ticket' %}
                    <p class='mb-1' style='font-size:medium;font-weight:bold;'>경매티켓 {{ cart_item.ticket_item.tickets_type }}개</p>
                    {% elif cart_item.product_type == 'bidding' or cart_item.product_type == 'normal' %}
                    <p class='mb-1' style='font-size:medium;font-weight:bold;'>{% if cart_item.product_item.product_type == 'bidding' %}<span style='color:orange;font-weight:bold;'>[경매]</span>{% endif %}{{ cart_item.product_item.product.title }}</p>
                    {% else %}
                    <p class='mb-1' style='font-size:medium;font-weight:bold;'>물품명잘못지정됨</p>
                    {% endif %}

                    {% if cart_item.product_type == 'bidding' or cart_item.product_type == 'normal' %}
                    <p class='mb-1' style='font-size:medium;'><span style='font-weight:bold;'>{{ cart_item.subtotal|intcomma }} 원</span><span style='color:gray;'><small><del> {{ cart_item.product_item.product.list_price|intcomma }} 원</del></small></span><span style='font-weight:bold;color:red;'><small> {{ cart_item.sale_ratio|floatformat:"0"  }} %</small></span></p>
                    {% elif cart_item.product_type == 'ticket' %}
                    <p class='mb-1' style='font-size:medium;'><span style='font-weight:bold;'>{{ cart_item.subtotal|intcomma }} 원</span><span style='color:gray;'><small><del> {{ cart_item.ticket_item.subtotal|intcomma }} 원</del></small></span><span style='font-weight:bold;color:red;'><small> {{ cart_item.sale_ratio|floatformat:"0"  }} %</small></span></p>
                    {% endif %}
                    {% if cart_item.add_certificate %}
                    <p class='mb-2' style='font-size:small;'>정품보증서 : 포함(+20,000 원)</p>
                    {% endif %}
                    <p class='mb-1' style='font-size:small;'>옵션: 없음</p>
                    {% if cart_item.product_type == 'bidding' or cart_item.product_type == 'normal' %}
                    <p class='mb-1' style='font-size:small;'>모델번호: {{ cart_item.product_item.product.info_product_number }}</p>
                    <p class='mb-1' style='font-size:small;'>배송: {{ cart_item.product_item.get_info_delivery_from_display }}</p>
                    {% endif %}
                    {% if not cart_item.is_reviewed and cart_item.product_type != 'ticket' %}
                    <div class='col'>
                        <form method='post' action="{% url 'reviews:upload' %}">
                            {% csrf_token %}
                            <input type="hidden" name='post_purpose' value='write_review'>
                            <input type="hidden" name='cart_item_id' value='{{ cart_item.id }}'>
                            <button type='submit' class='btn btn-outline-dark btn-sm btn-block'>리뷰 작성</button>
                        </form>
                    </div>
                    {% endif %}
                    
                </div>
            </div>
            {% if not forloop.last  %}
            <div class='col-12 pl-0 pr-3'>
                <hr class='mt-0' style='border-top:2px dotted #423f3b;'>
            </div>
            {% else %}
            <div class='col-12 pl-0 pr-3'>
                <hr class='mt-0' style='border-top:2px solid #423f3b;height:5px;box-shadow: 0 10px 5px -10px #8c8c8c inset;'>
            </div>
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>

<hr>

<div class='col-12 my-5 px-5 rounded' style='background-color:#423F3B;'>
    <div class='container'>
        <div class='col pt-4 pb-4 text-center'>
            <span style="font-size: 0.6em; color: #ffe5a9;">
                <i class="fas fa-book-reader fa-5x"></i>
            </span>
        </div>
        <div class="store-card-header">
            <p class='text-center' style='color:white;font-weight:bold;font-size:xx-large;'>리뷰작성 관련</p>
        </div>
        <div class="info-card-description text-left">
            <ul style='color:white;'>
            <p style='font-size:medium;color: #ffe5a9;'><bold>물품에 대한 리뷰를 작성 하시면 포인트 1000점을 드립니다.</bold> </p>
            <p style='font-size:medium;color: #ffe5a9;'><bold>실제사진과 함계 올려주시면 포인트 2000점을 드립니다.</bold> </p>
                
            <p style='font-size:medium;'>리뷰는 실구매한 상품에 대해서만 작성하실수 있습니다.</p>
            <p style='font-size:medium;'>마이페이지에 있는 결제완료 물품쪽에서 작성하시기 바랍니다.</p>
            
            </ul>
        </div>
        <hr class='mt-5' style='border-top: 1px dashed#ffe5a9;'>
    </div>
</div>
<hr>


{% endblock %}