{% extends 'shop/base.html' %}

{% block content %}
{% load humanize %}
<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto">
            <h2 class="index-title-index text-center">주문현황</h2>
            <hr class="index-title-divider">
        </div>
    </div>
    <div class='row'>
      <div class='col-4 ml-auto text-right'>
          <a href="{% url 'accounts:home' %}"><button class='btn btn-outline-dark btn-sm'>마이페이지 홈 돌아가기</button></a>
      </div>
    </div>
</div>

<hr/>


<!-- 새로ㅓ운 -->
<div class='container my-2 py-2'>
    <div class='row' >
      <div class='col-lg-8 col-md-8 col-sm-12 mx-auto'>
        <!-- 아이템들 -->
        {% for object in object_list %}
        <div class='row' style='margin-left: 0px;'>
          <!-- 아이템수 -->
          
          <div class='col text-left pl-0'>
            {% if object.status == 'shipped' %}
            <p class='pt-3'>배송 완료</p>
            {% elif object.status == 'paid' %}
            <form method='post' action="{% url 'orders:cancel_request' %}">
                {% csrf_token %}
                <input type="hidden" name='post_purpose' value='cancel'>
                <input type="hidden" name='order_id' value='{{ object.id }}'>
                <input type="hidden" name="next" value="{{ request.path }}">
                <p class='pt-3'><span style='font-size:large;font-weight:bold;color:blue'>배송준비 중  </span><button type='submit' class='btn btn-outline-dark btn-sm'>취소신청</button></p>
            </form>




            {% elif object.status == 'shipping' %}
            <p class='pt-3' style='font-size:large;font-weight:bold;color:blue'>배송 중</p> 
            {% elif object.status == 'refunded' %}
            <p class='pt-3' style='font-size:large;font-weight:bold;color:black'>환불완료</p>
            {% elif object.status == 'cancel' %}
            <p class='pt-3' style='font-size:large;font-weight:bold;color:black'>구매취소(환불준비중)</p> 
            {% endif %}
          </div>
          <div class='col text-right'>
            <p class='mb-1' style='font-size:small;'><span>{{ object.timestamp|date:'Y-m-d' }}</span></p>
            <a href="{{ object.get_absolute_url }}" style='color:black;'><input class='btn btn-outline-dark btn-sm' type="button" name='post_purpose' value='상세보기'></a>
          </div>
          <div class='col-12 pl-0'>
            <hr class='mt-0' style='border-top:2px solid #423f3b;height:5px;box-shadow: 0 10px 5px -10px #8c8c8c inset;'>
          </div>
          
          {% for cart_item in object.cart.cart_items.all %}
          <div class='row mb-3' style='width:100%;'>
            <div class='col-3'>
              <!-- 이미지 -->
              {% if cart_item.product_type == 'bidding' or cart_item.product_type == 'normal' %}
              <!-- 아래의 slug주소도되고 주석처리한 pk로도 됨. -->
              <a href="{{ cart_item.product_item.get_absolute_url }}"><img src="{{ cart_item.product_item.product.main_image.url }}" style='max-width:100%;max-height:100%;height:auto;object-fit:cover;'></a>   
              {% elif cart_item.product_type == 'ticket' %}
              <p class='text-center align-middle' style='font-size:1.5em; color:#423f3b;margin-top:30px;'>
                <i class="fas fa-ticket-alt fa-5x"></i>
              </p>
              {% endif %}
            </div>
            <div class='col'>
              <!-- 물품명 -->
              {% if cart_item.product_type == 'ticket' %}
                <p class='mb-1' style='font-size:medium;font-weight:bold;'>경매티켓 {{ cart_item.ticket_item.tickets_type }}개</p>
              {% elif cart_item.product_type == 'bidding' or cart_item.product_type == 'normal' %}
                <p class='mb-1' style='font-size:medium;font-weight:bold;'>{% if cart_item.product_item.product_type == 'bidding' %}<span style='color:orange;font-weight:bold;'>[경매]</span>{% endif %}{{ cart_item.product_item.product.title }}</p>
              {% else %}
                <p class='mb-1' style='font-size:medium;font-weight:bold;'>물품명잘못지정됨</p>
              {% endif %}

              {% if cart_item.product_type == 'bidding' or cart_item.product_type == 'normal' %}
                <p class='mb-1' style='font-size:medium;'><span style='font-weight:bold;'>{{ cart_item.subtotal|intcomma }} 원</span><span style='color:gray;'><small><del> {{ cart_item.product_item.product.list_price|intcomma }} 원</del></small></span><span style='font-weight:bold;color:red;'><small> {{ cart_item.sale_ratio|floatformat:"0"  }} %</small></span></p>
              {% elif cart_item.product_type == 'ticket' %}
                <p class='mb-1' style='font-size:medium;'><span style='font-weight:bold;'>{{ cart_item.subtotal|intcomma }} 원</span><span style='color:gray;'><small><del> {{ cart_item.ticket_item.subtotal|intcomma }} 원</del></small></span><span style='font-weight:bold;color:red;'><small> {{ cart_item.sale_ratio|floatformat:"0"  }} %</small></span></p>
              {% endif %}
              
              {% if cart_item.add_certificate %}
                <p class='mb-1' style='font-size:medium;'><span style='font-weight:bold;'>{{ cart_item.total|intcomma }} 원</span><span style='color:gray;'><small> 정품보증서(+20,000 원)</small></span>
                <p class='mb-2' style='font-size:small;'>정품보증서 : 포함</p>
              {% endif %}
              
              {% if cart_item.product_item.option %}
                <p class='mb-1' style='font-size:small;'>옵션: {{ cart_item.option|floatformat:"0" }}</p>
              {% else %}
                <p class='mb-1' style='font-size:small;'>옵션: 없음</p>
              {% endif %}
              
              {% if cart_item.product_type == 'bidding' or cart_item.product_type == 'normal' %}
                <p class='mb-1' style='font-size:small;'>모델번호: {{ cart_item.product_item.product.info_product_number }}</p>
                <p class='mb-1' style='font-size:small;'>배송: {{ cart_item.product_item.get_info_delivery_from_display }}</p>
              {% endif %}

              <p class='mb-2' style='font-size:small;'>수량 : {{ cart_item.amount }} 개</p>


            </div>
          </div>
          {% if not forloop.last  %}
          <div class='col-12 pl-0 pr-3'>
            <hr class='mt-0' style='border-top:2px dotted #423f3b;'>
          </div>
          {% else %}
          <div class='col-12 pl-0 pr-3'>
            <hr class='mt-0' style='border-top:2px solid #423f3b;height:5px;box-shadow: 0 10px 5px -10px #8c8c8c inset;'>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
</div>
<div class='row'>
    <div class='col-12'>
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" style='color:black'>PREVIOUS</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">PREVIOUS</a>
                    </li>
                {% endif %}
                
                {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="page-item active">
                    <a class="page-link" href="#" style='border-color:black;background-color:black'>{{ i }} <span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}" style='color:black'>{{ i }}</a></li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" tabindex="-1" style='color:black'>NEXT</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">NEXT</a>
                    </li>
                {% endif %}
            </ul>
          </nav>
    </div>
</div>


<div class='container' style="padding-top:20px;">
  <div class="row">
      <div class='col-12 px-5 rounded' style='background-color:#423F3B;'>
          <div class='col pt-4 pb-4 text-center'>
              <span style="font-size: 0.6em; color: #ffe5a9;">
                  <i class="fas fa-truck fa-5x"></i>
              </span>
          </div>
          <div class="store-card-header">
              <p class='text-center' style='color:white;font-weight:bold;font-size:xx-large;'>배송안내</p>
          </div>
          <div class="info-card-description mb-5 text-left">
              <ul style='color:white;'>
                  <p style='font-size:medium;color: #ffe5a9;'><bold>해외배송의 경우 배송기간은 7일 국내 배송은 1일입니다.</bold> </p>
                  <p style='font-size:medium;'>월요일은 주말주문 누적으로 인해 물량이 많아 배송이 지연될 수 있습니다.</p>
                  <p style='font-size:medium;'>일부 도서산간지역은 1-2일 정도 더 소요될 수 있습니다.</p>
                  <p style='font-size:small;'>* 택배사 사정으로 배송이 지연될 수 있으니 양해 바랍니다.</p>
                  
              </ul>
          </div>
          <hr class='mt-5' style='border-top: 1px dashed#ffe5a9;'>
      </div>

      <div class='col-12 px-5 rounded' style='background-color:#423F3B;'>
          <div class='col pt-4 pb-4 text-center'>
              <span style="font-size: 0.6em; color: #ffe5a9;">
                  <i class="fas fa-recycle fa-5x"></i>
              </span>
          </div>
          <div class="store-card-header">
              <p class='text-center' style='color:white;font-weight:bold;font-size:xx-large;'>교환반품</p>
          </div>
          <div class='row pt-5'>
              <div class='col-lg-6 col-sm-12'>
                  
                  <div class='row'>
                      <div class='col mb-5 text-center ml-auto'>
                          
                          <p class='text-center mb-2' style='font-size:x-large;color:white;'><bold>-교환반품 프로세스-</bold> </p><br>
                          <p class='my-2' style='font-size:medium;font-weight:bold;color: #ffe5a9;'>상품 수령후 24시간 내 훼손 불량 유무 변심여부를 판단</p>
                          
                          <span style="font-size: 1em; color:gray;">
                              <i class="fas fa-arrow-down fa-2x"></i>
                          </span>
                          
                          <p class='my-2' style='font-size:medium;font-weight:bold;color: #ffe5a9;'>고객 센터 031-945-8832를 통해 교환.반품 접수(24시간 내)</p>
                          <span style="font-size: 1em; color:gray;">
                              <i class="fas fa-arrow-down fa-2x"></i>
                          </span>
                          <br>
                          <p class='my-2' style='font-size:medium;font-weight:bold;color: #ffe5a9;'>우체국 택배 수거 후 7일 이내 MOUM 도착</p>
                          <span style="font-size: 1em; color: gray;">
                              <i class="fas fa-arrow-down fa-2x"></i>
                          </span>
                          
                          
                          <p class='my-2' style='font-size:medium;font-weight:bold;color: #ffe5a9;'>교환/반품 신청서 작성 후 상품 수령시 동일하게 보관</p>
                      </div>
                  </div>
                  
              </div>
              <div class="col-lg-6 col-sm-12 mb-5 info-card-description text-left">
                  <ul style='color:white;'>
                      <p class='text-center' style='font-size:x-large;color:white;'><bold>-교환반품 시 주의사항-</bold> </p><br>
                      <p style='font-size:medium;color: #ffe5a9;'><bold>구매하신 제품은 전자상거래, 소비자 보호에 관한 법률에 의거 수령일로부터 7일 이내에 미개봉 미사용 제품에 한하여 반품 및 환불을 요청하실 수 있습니다. 택을 제거한 상품은 기사용 상품으로 간주되어 교환 및 반품이 불가합니다. 기사용 상품의 하자는  A/S 처리됩니다.(A/S 내용 참고)</bold> </p>
                      <p style='font-size:medium;'>제품의 하자를 제외한 반품의 경우 우체국 택배 이용 왕복 택배비(10,000원) 동봉 후 발송 부탁드립니다. </p>
                      <p style='font-size:medium;'>우체국 택배가 아닌 타 백배사로 반송하여 제품이 분실될 경우 당사에서 보상해 드릴 수 없습니다. 제품 반송 시 고객님께서 수령하셨을 때와 동일한 상태로 반송해 주시길 바랍니다. 환불 소요 시간은 제품 입고 후 3일 영업일 이내이며 칻사와 사정에 의해 기간은 다소 변경될 수 있습니다. </p>
                  </ul>
                    
                  </ul>
              </div>
          </div>
          <hr class='mt-5' style='border-top: 1px dashed#ffe5a9;'>
      </div>

      <div class='col-12 px-5 rounded' style='background-color:#423F3B;'>
          <div class='col pt-4 pb-4 text-center'>
              <span style="font-size: 0.6em; color: #ffe5a9;">
                  <i class="fas fa-ban fa-5x"></i>
              </span>
          </div>
          <div class="store-card-header">
              <p class='text-center' style='color:white;font-weight:bold;font-size:xx-large;'>결제 후 구매취소안내</p>
          </div>
          <div class="info-card-description mb-5 text-left">
              <ul style='color:white;'>
                  <p style='font-size:medium;color: #ffe5a9;'><bold>취소는 결제 후 물품 배송 준비 단계에서만 가능합니다.</bold> </p>
                  <p style='font-size:medium;'>물품 배송 시작 이후에는 시스템 상 취소가 불가능하며 고객 센터 031-945-8832로 연락 바랍니다.</p>
                  <p style='font-size:medium;'>취소는 마이페이지-주문/배송 메뉴에 있습니다.</p>
                  
              </ul>
          </div>
      </div>
  </div>
</div>
{% endblock %}