{% extends 'shop/base.html' %}

{% block content %}
{% load static %}

{% if user.is_authenticated %}
<!-- 동영상인덱스부분 -->
<div>
    <div class="jb-box">
        <video muted autoplay loop>
            <source src="{% static 'shop/home.mp4' %}" type="video/mp4">
        </video>
        <div class="jb-text">
            <div class="index-container-1">
                <div class='index-container-2'>   
                    <h1 class="style-title">우리나라의 유일한 병행수입명품 경매사이트</h1>
                    <h1 class="style-title style-title-large">MOUM EIGHTY-EIGHT</h1>
                    <!-- {% if user.is_authenticated %}                 -->
                    <a href="{% url 'products:product_list' %}"><button type="button" class="btn btn-warning style-button-joining">JOIN BIDDING</button></a>
                    <!-- {% else %} -->
                    <!-- <button type="button" class="btn btn-warning style-button-joining">JOIN SITE</button> -->
                    <!-- {% endif %} -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 최근아이템 3개 -->
<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto ">
            <h2 class="index-title-index text-center">RECENT UPDATED ITEM</h2>
            <hr class="index-title-divider">
        </div>
    </div>
</div>  

<div class='container' style="width:80%;">
    <div class='row'>
    {% for product in products %}
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="product-list-image">
                <picture>
                    {% if product.image %}
                    <!-- 아래의 slug주소도되고 주석처리한 pk로도 됨. -->
                    <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" class="product-main-image"></a>   
                    
                    {% else %}
                    <span class="text-muted">No Image</span>
                    {% endif %}

                {% if product.bidding_on == 'bidding' %}
                <div class="row product-card__div product-card-on-bidding">
                {% else %}
                <div class="row product-card__div">
                {% endif %}
                    <div class='col-6 align-self-center'>
                        <span class="product-card__name">{{ product.brand }}</span></br>
                        <span class="product-card__name" style="font-weight:bold;font-size:20px;">{{ product.title }}</span></br>
                        <span class="product-card__price" style="font-weight:bold;font-size:15px;">₩{{ product.start_price }}</span>
                    </div>

                    <div class='col-6 ml-auto align-self-center product-card__bidding'>
                        {% if product.bidding_on == 'bidding' %}
                        <p class="product-card__on-bidding text-right">On Bidding</p>
                        <p class="text-right">{{ product.remain_bidding_time }}</p>
                        
                        {% elif product.bidding_on == 'bidding_ready' %}
                        <p class="text-right">START BIDDING AT</p>
                        <p class="text-right">{{ product.bidding_start_date|date:"Y-m-d" }}</p>

                        {% elif product.bidding_on == 'bidding_end' %}
                        <p class="text-right">BIDDING END</p>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>    
</div>


<hr style="margin: 10px 0px 0px; height: 1px; border: none; background-color: rgb(224, 224, 224);">
<!-- HOW TO BUY -->
<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto ">
            <h2 class="index-title-index text-center">HOW TO BUY</h2>
            <hr class="index-title-divider">
        </div>
    </div>
</div>  
<div class="container process-card-div" style="margin-top:10px;">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 process-card-onecard-div">
            <div class="text-center" style="padding:0px;">
                <img class="process-card-number mx-auto" src="{% static 'shop/icon/num_1.png' %}">
            </div>
            <div class="process-card-header">
                <p class="text-center">SEARCH A PRODUCT</p>
            </div>
            <div class="text-center" style="padding:0px;">
                <img class="process-card-img mx-auto" src="{% static 'shop/open-iconic/svg/zoom-in.svg' %}">
            </div>
            <div class="process-card-description text-center">
                <ul>
                    <li>- 마음에 드는 물품이 있는지 확인 -</li>
                    <li>- 마음에 드는 물품의 BIDDING DATE를 확인 -</li>
                </ul>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 process-card-onecard-div">
            <div class="text-center" style="padding:0px;">
                <img class="process-card-number mx-auto" src="{% static 'shop/icon/num_2.png' %}">
            </div>
            <div class="process-card-header">
                <p class="text-center">BUY A BIDDING-TICKET</p>
            </div>
            <div class="text-center" style="padding:0px;">
                <img class="process-card-img mx-auto" src="{% static 'shop/open-iconic/svg/envelope-closed.svg' %}">
            </div>
            <div class="process-card-description text-center">
                <ul>
                    <li>- BIDDING-TICKET을 구매 -</li>
                    <li>- 물품의 BIDDING 일정 TICKET을 사용 -</li>
                    <li>※ TICKET 사용 시 그날의 모든 BIDDING 가능 -</li>
                    
                </ul>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 process-card-onecard-div">
            <div class="text-center" style="padding:0px;">
                <img class="process-card-number mx-auto" src="{% static 'shop/icon/num_3.png' %}">
            </div>
            <div class="process-card-header">
                <p class="text-center">GO BIDDING</p>
            </div>
            <div class="text-center" style="padding:0px;">
                <img class="process-card-img mx-auto" src="{% static 'shop/open-iconic/svg/people.svg' %}">
            </div>
            <div class="process-card-description text-center">
                <ul>
                    <li>- 물품 내 BIDDING 참여 -</li>
                    <li>- 현재 가격과 가격 Step 고려하여 BIDDING -</li>
                    <li>- BIDDING이 끝난 후 당첨여부 확인 -</li>
                    
                </ul>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 process-card-onecard-div">
            <div class="text-center" style="padding:0px;">
                <img class="process-card-number mx-auto" src="{% static 'shop/icon/num_4.png' %}">
            </div>
            <div class="process-card-header">
                <p class="text-center">GOT A PRODUCT</p>
            </div>
            <div class="text-center" style="padding:0px;">
                <img class="process-card-img mx-auto" src="{% static 'shop/open-iconic/svg/home.svg' %}">
            </div>
            <div class="process-card-description text-center">
                <ul>
                    <li>- 배송장 작성 -</li>
                    <li>- MOUM의 초고속 배송시스템으로 배송 -</li>
                    <li>- 내손에 물품 도착 -</li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- 로긴되어있지 않다면 -->
{% else %}
    <div style='height:1200px;'>
      <div class="jb-box first-page">
          <img src="{% static 'shop/first_page_image.jpg' %}" style="width:100%;height:50%;object-fit:cover;">
          <div class="jb-text">
              <div class="index-container-1">
                  <div class='index-container-2'>   
                      <h1 class="style-title">우리나라의 유일한 병행수입명품 경매사이트</h1>
                      <h1 class="style-title style-title-large">MOUM International</h1>
                      <div class="style-title-desc">
                        <p class="first-page-account">처음 오신분이라면 가입티켓을 통한 가입</p>
                        <p class="first-page-account">기존 고객이시라면 로그인</p>
                      </div>
                      <a href="{% url 'login' %}"><button type="button" class="btn btn-warning style-button-joining">SIGN IN(LOGIN)</button></a>
                      <a href=""><button type="button" class="btn btn-warning style-button-joining" style="margin-left:20px;">SIGN UP(JOIN)</button></a>
                  </div>
              </div>
          </div>
      </div>
    </div>
{% endif %}

<!-- JavaScript 영역 -->


{% endblock %}