{% extends 'shop/base.html' %}

{% block content %}

<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto">
            <h2 class="index-title-index text-center">최종 결재 확인</h2>
            <hr class="index-title-divider">
        </div>
    </div>
</div>  

<div class='container'>
    {% if not object.shipping_address %}
        <div class='row'>
            <div class='col-12'>
                <p class='lead'>Shipping Address</p>
                <hr/>
            </div>
    
            <div class='col-6'>
                {% url "checkout_address_create" as checkout_address_create %}
                {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}
            </div>
            <div class='col-6'>
                {% url "checkout_address_reuse" as checkout_address_reuse %}
                {% include 'addresses/prev_addresses.html' with address_qs=address_qs address_type='shipping' action_url=checkout_address_reuse %}
            </div>
        </div>
    {% elif not object.billing_address %}
        <div class='row'>
            <div class='col-12'>
                <p class='lead'>Billing Address</p>
                <hr/>
            </div>
            <div class='col-6'>
                {% url "checkout_address_create" as checkout_address_create %}
                {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='billing' %}
            </div>
            <div class='col-6'>
                {% url "checkout_address_reuse" as checkout_address_reuse %}
                {% include 'addresses/prev_addresses.html' with address_qs=address_qs address_type='billing' action_url=checkout_address_reuse %}
            </div>
        </div>
    {% else %}
            <p class="product-detail-bidding-header" style="font-weight:bold;font-size:1.4rem;">-Finalize Checkout-</p>
            <p>Cart Items: 경매 참여 티켓 {{ object.ticketcart.tickets_type }}장</p>
            <p>Shipping Address: {{ object.shipping_address.get_address }}</p>
            <p>Billing Address: {{ object.billing_address.get_address }}</p>
            <!-- <p>Payment Method: {{ billing_profile.default_card }} (<a href="{{ billing_profile.get_payment_method_url }}?next={{ request.build_absolute_uri }}">Change</a>)</p> -->
            <!-- <p>Shipping Total : {{ object.shipping_total }}</p> -->
            <p>Total : {{ object.total }} 원</p>
            <!-- 여기 폼에다가 수량 감소관련 정보를 POST할 수 있게 해줘야겠다.ㄴ -->
            <div class='mt-4'>
                <p class="product-detail-bidding-header " style="font-weight:bold;font-size:1.4rem;">-최종결재상태-</p>
                <p class='check-out-complete-text' style="font-weight:bold;font-size:1.4rem;color:red;">결재 준비</p>
            </div>

            <!-- 체크아웃정보가져오기버튼 -->
            <!-- <div class='row'>
                <form method="post" action="" class='form-get-checkout-data'>
                    {% csrf_token %}
                    <input type="hidden" name='get-checkout-data' value='get-checkout-data'/>
                    <label for="">위 물품 주문정보를 확인해 주세요. </label>
                    <button type='submit' id='get-checkout-data-btn' class='btn btn-primary'>확인</button>
                </form>
            </div> -->

                <!-- 체크아웃정보 -->
                <div class='row'>
                <form action="" class='form-get-data' style='display:none;'>
                    
                    <input type="hidden" class='pg' name='pg' value='{{ pg }}'/>
                    <input type="hidden" class='pay_method' name='pay_method' value='{{ pay_method }}'/>
                    <input type="hidden" class='merchant_uid' name='merchant_uid' value='{{ merchant_uid }}'/>
                    <input type="hidden" class='name'name='name' value='{{ name }}'/>
                    <input type="hidden" class='amount' name='amount' value='{{ amount }}'/>
                    <input type="hidden" class='buyer_email' value='{{ buyer_email }}'/>
                    <input type="hidden" class='buyer_email' name='buyer_name' value='{{ buyer_name }}'/>
                    <input type="hidden" class='buyer_tel' name='buyer_tel' value='{{ buyer_tel }}'/>
                    <input type="hidden" class='buyer_addr' name='buyer_addr' value='{{ buyer_addr }}'/>
                    <input type="hidden" class='buyer_postcode' name='buyer_postcode' value='{{ buyer_postcode }}'/>
                </form>
            </div>


            <!-- 체크아웃버튼 -->
            <div class="row">
                <div class='col'>
                    <div class='check-out-div' style='visibility:hidden;'>
                        <input type='button' class='btn btn-primary' id='check-out-button' value='CHECKOUT(IMPORT)'>
                    </form>
                </div>
            </div>
            
            <div class="row">
                <div class='col'>
                    <form action="{% url 'tickets:success' %}">
                        {% csrf_token %}
                        <input type="hidden" name='order_id' value='{{ order_obj..id }}'>
                        <button type='submit' class='btn btn-default btn-success'>구매완료 후 티켓 수령</button>

                    </form>
                </div>
            </div>

    {% endif %}
</div>




















<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<!-- iamport.payment.js -->
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

<!-- 아임포트 CUSTOM js -->

<script type="text/javascript">
$(document).ready(function(){
    // Auto Search
    var getForm = $(".form-get-checkout-data")
    var getButton = getForm.find("#get-checkout-data-btn")
    getButton.click(function (event){
        var promise = $.ajax({
            url: "{% url 'tickets:checkout-iamport' %}", //cross-domain error가 발생하지 않도록 동일한 도메인으로 전송
            type: 'POST',
            dataType: 'json',
            data: {get_data: "True"},
            
            success: function(data){
                // success start
                console.log("데이터를 성공적으로 받았쪄염.")

                console.log($(".pg").val())

                
                // 데이터 성공적으로 들어오기에 여기에 결재 function 넣는다.
                 
                //결재 펑션 여기가 끝이다.
                },
            
            // suceess end
            
            // error start
            //체크아웃데이터를 못받았을떼 웁스
            error: function(errordata){
                $.alert({
                    title: "Oops!",
                    content: "An error occurred",
                    theme: "modern"
                })
            }
        })
    })
    var checkoutDiv = $(".check-out-div")
    checkoutDiv.css('visibility', 'visible')
    var checkoutButton = $("#check-out-button")
    
    checkoutButton.click(function (event){
        console.log("클릭됐쪄염")
        requestPay()
    })
})

// 그냥 펑션 바깥에 꺼냈다. 나중에 실행만하자.
function requestPay() {
// IMP.request_pay(param, callback) 호출
    var IMP = window.IMP;
    var code = "imp30832141";  // FIXME: 가맹점 식별코드
    IMP.init(code);
    var data = data
    console.log("리퀘스트 페이 실행도ㅣ쪄염")
    // 결제요청
    IMP.request_pay({ // param
        pg : $(".pg").val(), // pg 사 선택
        pay_method : $(".pay_method").val(),
        merchant_uid : $(".merchant_uid").val(),// 'merchant_' + new Date().getTime(),
        name : $(".name").val(),
        amount : $(".amount").val(),
        buyer_email : $(".buyer_email").val(),
        buyer_name : $(".buyer_name").val(),
        buyer_tel : $(".buyer_tel").val(),
        buyer_addr : $(".buyer_addr").val(),
        buyer_postcode : $(".buyer_postcode").val(),
        m_redirect_url : 'https://www.yourdomain.com/payments/complete'
    }, function (rsp) {
        if (rsp.success) {
            //[1] 서버단에서 결제정보 조회를 위해 jQuery ajax로 imp_uid 전달하기
            jQuery.ajax({
                url: "{% url 'tickets:checkout-iamport' %}", //cross-domain error가 발생하지 않도록 동일한 도메인으로 전송
                type: 'POST',
                dataType: 'json',
                data: {
                    imp_uid: rsp.imp_uid,
                    get_data: "False"
                    //기타 필요한 데이터가 있으면 추가 전달
                },
            }).done(function (data) {
                //[2] 서버에서 REST API로 결제정보확인 및 서비스루틴이 정상적인 경우
                alert("ajax done");               
                console.log("ajax done");
                if (data.status=='success') {
                    var msg = '결제가 완료되었습니다.';
                    msg += '\n고유ID : ' + rsp.imp_uid;
                    msg += '\n상점 거래ID : ' + rsp.merchant_uid;
                    msg += '\결제 금액 : ' + rsp.paid_amount;
                    msg += '카드 승인번호 : ' + rsp.apply_num;
                    alert(msg);
                    console.log(msg);
                } else {
                    //[3] 아직 제대로 결제가 되지 않았습니다.
                    //[4] 결제된 금액이 요청한 금액과 달라 결제를 자동취소처리하였습니다.
                    var msg = '아직 제대로 결제가 되지 않았습니다.';
                    alert(msg);
                    console.log(msg);
                }
            }).fail(function () {
                alert("ajax fail");
                console.log("ajax fail");
            }).always(function () {
                alert("ajax always");
                console.log("ajax always");
            });
            var checkOutText = $(".check-out-complete-text")
            checkOutText.text("결재가 성공하였습니다.")
            checkOutText.css('color', 'green')
            // window.location.href= "{% url 'carts:payment_success' %}"


        } else {
            var msg = data.message;
            msg += '에러내용 : ' + rsp.error_msg;
            alert(msg);
            var checkOutText = $(".check-out-complete-text")
            checkOutText.text("결재가 실패하였습니다.")
            // 실패시 이동할 페이지
            // window.location.href= "{% url 'carts:payment_fail' %}"
        }
    });
}

</script>

{% endblock %} 