{% extends 'shop/base.html' %}

{% block content %}

<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto">
            <h2 class="index-title-index text-center">BUYING TICKET</h2>
            <hr class="index-title-divider">
        </div>
    </div>
</div>  


<div class='container'>
    <form method="POST" action="{% url 'carts:update' %}">
        <input type="hidden" name='product_type' value="ticket">
        <div class='row'>
        {% csrf_token %}
            <table class="table text-center">
                <thead>
                <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">Ticket 수량</th>
                    <th scope="col">정가</th>
                    <th scope="col">할인가</th>
                    <th scope="col">할인울</th>
                    <th scope="col">선택</th>
                </tr>
                </thead>
                <tbody>
                {% for ticket in ticket_buy_info %}
                <tr>
                    <!-- <th scope="row">{{ forloop.counter }}</th> -->
                    <td>{{ ticket.amount }} EA</td>
                    <td>{{ ticket.subtotal }} 원</td>
                    <td>{{ ticket.total }} 원</td>
                    <td>{{ ticket.sale_ratio }} %</td>
                    {% if ticket.amount == 1 %}
                        <td><input type="radio"  id="id_tickets_type" name="tickets_type" value="{{ ticket.amount }}" checked></td>
                    {% else %}
                        <td><input type="radio"  id="id_tickets_type" name="tickets_type" value="{{ ticket.amount }}" /></td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class='row my-4'>
            <div class='col-8 mx-auto'>
                <button type="submit" class="btn btn-primary btn-block">선택 티켓수량 구매</button>
            </div>
        </div>
        
    </form>
</div>
{% endblock %}