{% extends 'shop/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container">
    <div class='row'>
        <div class="col-12 ml-auto mr-auto">
            <h2 class="index-title-index text-center">EVENT</h2>
            <hr class="index-title-divider">
        </div>
    </div>
</div>  
<div class='container' style="padding-top:20px;">
    <div class="row">
        <div class='col-12 px-5 rounded' style='background-color:rgb(0, 92, 0);'>
            <div class='col pt-4 pb-4 text-center'>
                <span style="font-size: 1em; color: white;">
                    <i class="fas fa-plane-departure fa-5x"></i>
                </span>
            </div>
            <div class="store-card-header">
                <p class='text-center wemake-bold mb-0' style='color:white;font-weight:bold;font-size:60px;'>MOUM8</p>
                <p class='text-center wemake-bold mb-0' style='color:white;font-weight:bold;font-size:60px;'>GRAND OPEN</p>
            </div>
            <div class='col-12 text-center'>
                <img src="{% static 'shop/images/open-1853924_1920.jpg' %}" alt="open-image" style='width:100%'>
            </div>
            <div class="info-card-description mb-5 text-left">
                <ul style='color:white;'>
                    <p style='font-size:large;'>
                    모움8이 드디어 오픈했습니다. <br>
                    30여개의 브랜드와 그 명품들을 이탈리아에서 직접 공수하여 가져옵니다. <br>
                    명품의 가치를 유지한채 합리적인 가격을 고객님께 드리기 위해 온라인으로 뵙게 됐습니다. <br><br>
                    
                    </p> 
                </ul>
            </div>
            <hr class='mt-5' style='border-top: 1px dashed#ffe5a9;'>
        </div>
    </div>
</div>

{% endblock %}